/*-------------------------------------------------------------
	Keep the footer at the bottom of the page
	http://www.wentsch.me/responsive-sticky-footer-flexible-height
--------------------------------------------------------------*/

html
, body {
	height: 100%;
}

body {
	background-color: $white;
	display: table;
	width: 100%;
	/* Fix for Firefox and IE to keep correct max-width behaviour on images: */
	table-layout: fixed;
}
.page-row {
	display: table-row;
	height: 1px;
}
.page-row-expanded {
	height: 100%;
}

/*-------------------------------------------------------------
	Containers
--------------------------------------------------------------*/

.wrapper {
	margin: 0 auto;
	padding: 0 3.5%;
}

#content {
	padding: 0 0 80px;

	&.module-container {
		padding: 0;
	}

}

.page-header, 
.section-header {
	margin-top: 20px;
	margin-bottom: 70px;
}

.entry-content {
	margin: 0 auto;
}

.module {
	border-top: solid $rule_thickness $black;
	padding-bottom: 80px;

	&:first-of-type {
		border-top: none;
	}
}


/*-------------------------------------------------------------
	Temporarily Hide Overflow
--------------------------------------------------------------*/

html, body {
	max-width: 100% !important;
	overflow-x: hidden !important;
}

.wrapper {
	min-width: 1000px;
	overflow: hidden;
}


/*-------------------------------------------------------------
	Columns
--------------------------------------------------------------*/

.column {
	display: block;
	float: left;
	overflow: hidden;
	padding: 0 20px 0 0;
	position: relative;

	&.no-padding {
		padding: 0;
	}
	&.float-right {
		float: right;
	}

}

.quarter   { width: 25%; }
.quarter-2 { width: 50%; }
.quarter-3 { width: 75%; }

.fifth     { width: 20%; }
.fifth-2   { width: 40%; }
.fifth-3   { width: 60%; }
.fifth-4   { width: 80%; }

.third     { width: 33.333%; }
.third-2   { width: 66.666%; }

.sixth     { width: 16.6666%; }
// .third
// .quarter-2
// .third-2
.sixth-5   { width: 83.3333%; }

.ninth     { width: 11%; }
.ninth-2   { width: 22%; }
.ninth-3   { width: 33%; }
.ninth-4   { width: 44%; }
.ninth-5   { width: 55%; }
.ninth-6   { width: 66%; }
.ninth-7   { width: 77%; }
.ninth-8   { width: 88%; }


.text-columns {

	&.column-5 {
		-webkit-column-count: 5;
		   -moz-column-count: 5;
		        column-count: 5;
	}
	&.column-4 {
		-webkit-column-count: 4;
		   -moz-column-count: 4;
		        column-count: 4;
	}
	&.column-3 {
		-webkit-column-count: 3;
		   -moz-column-count: 3;
		        column-count: 3;
	}

	& p
	, & li {
		display: inline-block;
		width: 100%; // to counter the inline-block
		-webkit-column-gap: 4%;
		   -moz-column-gap: 4%;
		        column-gap: 4%;
		-webkit-column-break-inside: avoid;
		               break-inside: avoid-column;
		margin-right: 1em;
	}

}


