/*-------------------------------------------------------------
	Header
--------------------------------------------------------------*/

#menu {
	@include font-size(1.4);
	line-height: 40px;
	letter-spacing: 0.15em;

	li {
		display: inline-block;
		float: left;

		&:first-child {
			margin-left: -0.85em;
		}
	}

	a {
		display: block;
		padding: 0 0.85em;
	}
		.menu-item.subtle a {
			color: $gray;
		}
		.subtle a:hover,
		.subtle.current_page_item a,
		.subtle.current-menu-item a {
			color: $black;
		}

	a:hover
	, a:active
	, .current-menu-item a
	, .current_page_item a {
		background-color: $edition_light;
		color: $black;
	}

}

.scrolled #menu {
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
	z-index: $z_abs_top;
}

#masthead {
	padding-top: 30px;
	padding-bottom: 40px;
}

#logo {
	img, h1 {
		display: inline-block;
	}
	img {
		height: 3.1em;
	}
	h1 {
		margin-left: 0.5em;
	}
}

// @media only screen and (max-width : 950px) {
// 	#header .large-text {
// 		@include font-size(2.4);
// 	}
// }

// @media only screen and (max-width : 780px) {
// 	#logo {
// 		width: 55.5554%;
// 	}
// 	#header-locations.large-text {
// 		@include font-size(1.8);
// 		width: 44.4443%;
// 	}
// }

// @media only screen and (max-width : 700px) {
// 	#masthead {
// 		padding-bottom: 30px;
// 	}
// 	#header .column {
// 		width: 100%;
// 		padding: 0;
// 	}
// 	#header-locations {
// 		margin-top: 15px;
// 		.location {
// 			border: solid $rule_thickness;
// 			border-color: $black;
// 			display: block;
// 			overflow: hidden;
// 			.break {
// 				display: inline;
// 			}
// 			a.multiple-choice {
// 				color: $black;
// 				display: block;
// 				margin-left: 0;
// 				padding: 15px 20px;
// 				&:before {
// 					display: none;
// 				}
// 				&.active, &:hover {
// 					background-color: $edition_light;
// 					color: $black;
// 				}
// 				&.active:hover {
// 					background-color: $edition_dark;
// 					color: $white;
// 				}
// 			}
// 		}
// 		.location + .location {
// 			border-top: 0;
// 		}
// 	}
// }


/*-------------------------------------------------------------
	Footer
--------------------------------------------------------------*/

#footer {
	.wrapper {
		padding-top: 60px;
		padding-bottom: 20px;
	}
}
#coverall { z-index: $z_top; }

.footer-actions {
	margin-bottom: 30px;
	overflow: hidden;
}

#search, #newsletter {
	border: solid $rule_thickness $black;
	line-height: 50px;

	.button {
		border: 0;
		padding: 0;
	}
	.border-right { border-right: solid $rule_thickness $black; }
	.border-left { border-left: solid $rule_thickness $black; }

	.primary {
		width: 100%;
	}
	.secondary {
		padding: 0;
		width: 0;
	}
}

	#newsletter:hover {
		#signup-blind {
			width: 0;
			overflow: hidden;
		}
	}
	#search:hover {
		.primary {
			width: 75%;
		}
		.secondary {
			width: 25%;
		}
	}

.footer-info {
	
	.narrow { display: none; }

	.table-cell {
		border-top: solid $rule_thickness $black;
		border-left: solid $rule_thickness $black;
		border-bottom: solid $rule_thickness $black;
		vertical-align: top;
		padding: 8px 12px 10px;
	}
		.table-cell:last-child {
			border-right: solid $rule_thickness $black;
		}
		.table-row + .table-row .table-cell {
			border-top: 0;
		}
	.home-link {
		@include font-size(2.2);
		line-height: 1.25;
	}
	.home-link:hover {
		color: $black;
	}
}

// @media only screen and (max-width : 950px) {
// 	.footer-actions {
// 		.action {
// 			width: 100%;
// 		}
// 		.action + .action {
// 			border-top: 0;
// 			border-left: solid $rule_thickness $black;
// 		}
// 	}
// 	.footer-info {
// 		.wide {
// 			display: none;
// 		}
// 		.narrow {
// 			display: table;
// 			table-layout: fixed;
// 			width: 100%;
// 		}
// 	}
// }

// @media only screen and (max-width : 600px) {
// 	.footer-info {
// 		.table.narrow
// 		, .narrow .table-row
// 		, .table-cell
// 		, .table-cell:last-child {
// 			border: 0;
// 			display: block;
// 			width: 100%;
// 		}
// 		.table-cell.quarter-2 {
// 			width: 100%;
// 			display: block;
// 		}
// 		.table.narrow {
// 			border: solid $rule_thickness $black;
// 		}
// 		.table-cell.quarter-2
// 		, .table-row + .table-row .table-cell {
// 			border-top: solid $rule_thickness $black;
// 		}
// 		.table-row:first-child .table-cell:first-child {
// 			border-top: 0;
// 		}
// 		li {
// 			display: inline;
// 			margin-right: 2em;
// 		}
// 	}
// }



/*-------------------------------------------------------------
	Password Protected, Search, & 404 Pages
--------------------------------------------------------------*/

.shadowed
, #nothing-found
, .page-details
, .post-password-form
, #action-button:hover {
	margin-bottom: 5px;
	-webkit-box-shadow: 5px 5px 0px 0px $black;
	   -moz-box-shadow: 5px 5px 0px 0px $black;
	        box-shadow: 5px 5px 0px 0px $black;
}

#nothing-found
, .page-details
, .post-password-form {
	color: $black;
	padding: 20px 25px 35px;

	p, input {
		@extend .medium-text;
		font-family: $font_sans;
		color: $black;
	}
	input[type="submit"] {
		border-top: 0;
		@extend .small-text;
		@extend .tracked-out;
		margin-top: 0;
	}
	input {
		line-height: 50px;
		margin: 1em 0 0;
		outline: 0;
		padding: 0 20px;
		
		&:hover, &:focus, &:active {
			background-color: $white;
		}
	}
}

.light-bg {
	
	#nothing-found
	, .page-details
	, .post-password-form {
		background-color: $white;
	
		input {		
			background-color: $edition_light;

			&:hover, &:focus, &:active {
				background-color: $white;
			}
		}
	}
}


#nothing-found {
	#s, #searchsubmit {
		margin-top: 0;
		@extend .text-tiny-caps;
	}
	#s { width: 75%; }
	
	#searchsubmit { 
		border-left: 0;
		border-top: solid $rule_thickness $black;
		width: 25%; 
	}
}

.page-details {
	margin-bottom: 50px;
	padding-bottom: 20px;

	p {
		@include font-size(1.5);
		line-height: 1.3;
		margin-bottom: 1em;
	}
}


/*-------------------------------------------------------------
	News Archive
--------------------------------------------------------------*/

.news-archive {

	article {
		margin-bottom: 40px;
		padding-right: 4%;

		header { margin-bottom: 0.5em; }
		h2 { 
			height: 3.45em;
			margin-top: 0.7em; 
			overflow: hidden;
		}
	}

}


/*-------------------------------------------------------------
	Modules
--------------------------------------------------------------*/

$button_radius : 120px;
#action-button {
	border: solid $rule_thickness transparent;
	border-radius: $button_radius/2;
	border-radius: 50%;
	color: $black;
	display: block;
	line-height: $button_radius;
	overflow: hidden;
	width: $button_radius;
	height: $button_radius;
	bottom: 40px;
	right: 3.5%;
	z-index: $z_middle;

	a {
		border: 0;
		display: block;
		padding: 0 10px;
		width: 100%;
		height: 100%;
	}

	&.shadowed, &:hover {
		margin: 0;
	}

	&:hover {
		border-color: $black;

		a {
			background-color: $white;
			color: $black;
		}
	}
}



.slick-list {
	padding: 0 3.5% 0 0;
	margin-left: 3.5%;
}
.slick-slider {
	margin-bottom: 0;
}

$nav_width : 15%;
.module {

	// FEATURES SLIDES
	&.slideshow {
		min-height: 500px; /* so when we fade it in, the whole page doesn't jump */

		&.no-header {
			padding-top: 40px;

			.section-header {
				display: none;
			}
		}
		.slide {
			header { margin-bottom: 0.5em; }
			img { margin-bottom: 15px; }
			p { padding-right: 5%; }
			// .large-text, .xx-large-text {
			// 	padding-right: 0;
			// }
		}

		.nav {
			cursor: pointer;
			height: 100%;
			width: $nav_width;
			top: 0;
			bottom: 0;
			padding: 0 3.5%;

			.arrow {
				display: block;
				width: 45px;
				height: 90px;
				top: 0;
				bottom: 0;
				margin-top: auto;
				margin-bottom: auto;
			}

			&.prev {
				left: 0;

				.arrow {
					left: $nav_width / 2 * 3;
					background: url(../images/154_graphics_icon_prev_light-bg.png);
				}

				&:hover {
					.arrow {
						background: url(../images/154_graphics_icon_prev_dark-bg.png);		
					}
				}
			}

			&.next {
				right: 0;

				.arrow {
					right: $nav_width / 2 * 3;
					background: url(../images/154_graphics_icon_next_light-bg.png);
				}

				&:hover {
					.arrow {
						background: url(../images/154_graphics_icon_next_dark-bg.png);		
					}
				}
			}
		}

	}

	// INFO MODULE
	&.big-info {
		p { margin-bottom: 1em; }
		
		.section-content {

			.info-text { margin: 0 auto; }

			&.adverts {
				.info-text { float: left; }
			}
		}
		.advert {
			margin-bottom: 20px;
			height: 140px;
			width: 140px;

			a {
				background-color: $white;
				border: none;
				display: block;
				margin-bottom: 20px;
				// padding: 8px 12px 15px;
				width: 100%;
				height: 100%;
			}
			a:hover {
				background-color: $black;
				color: $white;
			}
		}
	}

	// SELECTED ARTISTS & EXHIBITORS
	&.selected-exhibitors {
		.exhibitor h2 { margin-top: 0.5em; }
		
		&.archive {
			.section-header { margin-bottom: 1em; }
		}
	}

	// ARTIST & EXHIBITOR LIST
	&.artists-exhibitors {

		.choice {
			display: none;

			&.active {
				display: block;
			}
			
			li {
				padding-left: 1em;

				a {
					text-indent: -1em;
					display: block;
				}
			}

		}

		.section-content { 
			line-height: 1.5; 

			h2 {
				line-height: 1;
			}

			ul li ul {
				display: inline-block;
				margin-bottom: 1em;
			}

		}

		.hover.preview {
			z-index: $z_abs_top;

			&.text {
				max-width: 250px;
				padding: 10px 20px;
				-webkit-hyphens: auto;
				   -moz-hyphens: auto;
				    -ms-hyphens: auto;
				        hyphens: auto;
				word-wrap: break-word;
			}
			&.image img {
				max-width: 200px;
				max-height: 200px;
			}
		}
	}

	// FORUM
	&.forum {

		.forum-pattern {
			background-attachment: fixed;
			display: block;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
		}
		.entry-header {
			margin-top: 1em;
		}
		.forum-block {
			margin-bottom: 50px;
			height: 180px;
			padding-right: 4%;

			a {
				border: 0;
				border-top: solid 1px;
				display: block;
				padding-right: 8%;
			}
			h2 {
				max-height: 4.4em;
				overflow: hidden;
			}
		}
	}

}

.white-bg {
	.forum-pattern {
		opacity: 0.15;
	}
}


/*-------------------------------------------------------------
	Archive
--------------------------------------------------------------*/

.edition-archive {

	.past-edition {
		padding-right: 40px;
	}
	.past-edition .edition-link {
		border: none;
		display: block;
		margin-bottom: 5px;
		min-height: 200px;
		padding: 20px;
	}
}


/*-------------------------------------------------------------
	Section Anchors (single pages only)
--------------------------------------------------------------*/

.section-anchor {
	border-top: solid 1px transparent;
	display: block;
	width: 100px;
	margin-top: -120px;
	opacity: 0;
}

.anchor-details {
	padding: 0 0 40px;

	div {
		display: inline-block;
		padding: 10px 20px;
		text-transform: none;
	}
}










