/*-------------------------------------------------------------
	Presentational Classes
--------------------------------------------------------------*/

.absolute { position: absolute; }
.fixed    { position: fixed; }
.relative { position: relative; }

.hidden    { display: none; }
.invisible { 
	visibility: hidden; 
	opacity: 0;
}

.float-left  { float: left; }
.float-right { float: right; }
.center { 
	float: none; 
	margin: 0 auto;
}

.align-right  { text-align: right; }
.align-center { text-align: center; }

.table      { 
	display: table; 
	border-collapse: separate;
	border-spacing: 0;
}
.table-row  { display: table-row; }
.table-cell { display: table-cell; }

.no-margin  { margin: 0; }
.no-padding { padding: 0; }

.full-width  { width: 100%; }
.full-height { height: 100%; }