.light-bg[class^="edition-"]
, .light-bg[class*=" edition-"] {
	background-color: $archive_light;

	&.edition-link:hover {
		color: $archive_light;
		background-color: $black;
	}

}

.light-bg.archived-page {

}