.light-bg {
	background-color: $edition_light;
	color: $black;

	a, a:visited { color: $black; }
	a:hover,
	a:active { 
		color: $white; 
	}

	.caption, .wp-caption-text {
		color: $black;

		a, 
		a:visited,
		a:hover,
		a:active { 
			color: $black;
		}
	}

	.button, .post-edit-link {
		border-color: $black;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}
	
	.entry-content h3:before {
		background-color: $black;
	}

	.entry-content a[href*="eventbrite"] {
		background-color: $white;
		color: $black;
	}
		.entry-content a[href*="eventbrite"]:hover {
			background-color: transparent;
		}

	.multiple-choice {
		color: $black;

		&:before {
			border: solid $rule_thickness $black;
		}

		&:visited {
			color: $black;
		}
		&:hover,
		&:active,
		&.active {
			color: $black;

			&:before {
				border: 0;
				background-color: $black;
			}
		}

	}

}