

.dark-bg .light-bg.edition-2014 {
  background-color: DeepSkyBlue; 
}
    .dark-bg .light-bg.edition-2014 .archive-menu a:hover
    , .dark-bg .light-bg.edition-2014 .hover-light-bg:hover
    , .dark-bg .light-bg.edition-2014 a:hover .thumbnail {
      background-color: DeepSkyBlue; }

    .dark-bg .light-bg.edition-2014.edition-link:hover {
      color: DeepSkyBlue;
      background-color: #1a1a1a; }

.dark-bg .light-bg.edition-2014 {
    background-color: DeepSkyBlue; }
    .dark-bg .light-bg.edition-2014 .archive-menu a:hover {
      color: #1a1a1a; }
    .dark-bg .light-bg.edition-2014 .archive-menu a:hover
    , .dark-bg .light-bg.edition-2014 .hover-light-bg:hover
    , .dark-bg .light-bg.edition-2014 a:hover .thumbnail {
      background-color: DeepSkyBlue; }
    .dark-bg .light-bg.edition-2014.edition-link:hover {
      color: DeepSkyBlue;
      background-color: #1a1a1a; }
  .dark-bg .light-bg.edition-2013 {
    background-color: LightGreen; }
    .dark-bg .light-bg.edition-2013 .archive-menu a:hover {
      color: #1a1a1a; }
    .dark-bg .light-bg.edition-2013 .archive-menu a:hover
    , .dark-bg .light-bg.edition-2013 .hover-light-bg:hover
    , .dark-bg .light-bg.edition-2013 a:hover .thumbnail {
      background-color: LightGreen; }
    .dark-bg .light-bg.edition-2013.edition-link:hover {
      color: LightGreen;
      background-color: #1a1a1a; }


.white-bg .light-bg.edition-2014 {
    background-color: DeepSkyBlue; }
    .white-bg .light-bg.edition-2014 .archive-menu a:hover {
      color: #1a1a1a; }
    .white-bg .light-bg.edition-2014 .archive-menu a:hover
    , .white-bg .light-bg.edition-2014 .hover-light-bg:hover
    , .white-bg .light-bg.edition-2014 a:hover .thumbnail {
      background-color: DeepSkyBlue; }
    .white-bg .light-bg.edition-2014.edition-link:hover {
      color: DeepSkyBlue;
      background-color: #1a1a1a; }
  .white-bg .light-bg.edition-2013 {
    background-color: LightGreen; }
    .white-bg .light-bg.edition-2013 .archive-menu a:hover {
      color: #1a1a1a; }
    .white-bg .light-bg.edition-2013 .archive-menu a:hover
    , .white-bg .light-bg.edition-2013 .hover-light-bg:hover
    , .white-bg .light-bg.edition-2013 a:hover .thumbnail {
      background-color: LightGreen; }
    .white-bg .light-bg.edition-2013.edition-link:hover {
      color: LightGreen;
      background-color: #1a1a1a; }



.light-bg.edition-2014 {
  background-color: DeepSkyBlue; }
  .light-bg.edition-2014 .archive-menu a:hover {
    color: #1a1a1a; }
  .light-bg.edition-2014 .archive-menu a:hover
  , .light-bg.edition-2014 .hover-light-bg:hover
  , .light-bg.edition-2014 a:hover .thumbnail {
    background-color: DeepSkyBlue; }
  .light-bg.edition-2014.edition-link:hover {
    color: DeepSkyBlue;
    background-color: #1a1a1a; }

.light-bg.edition-2013 {
  background-color: LightGreen; }
  .light-bg.edition-2013 .archive-menu a:hover {
    color: #1a1a1a; }
  .light-bg.edition-2013 .archive-menu a:hover
  , .light-bg.edition-2013 .hover-light-bg:hover
  , .light-bg.edition-2013 a:hover .thumbnail {
    background-color: LightGreen; }
  .light-bg.edition-2013.edition-link:hover {
    color: LightGreen;
    background-color: #1a1a1a; }


.edition-archive.light-bg .dark-bg, .edition-archive.light-bg .opposite-bg {
  background-color: transparent;
  color: #1a1a1a; }



.dark-bg {
  background-color: #333333;
  color: white; }
  .dark-bg a, .dark-bg a:visited {
    color: white; }
  .dark-bg a:hover,
  .dark-bg a:active {
    color: #cccccc; }
  .dark-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: white;
    color: #1a1a1a; }
  .dark-bg .button, .dark-bg .post-edit-link {
    border-color: white; }
    .dark-bg .button:hover, .dark-bg .post-edit-link:hover {
      background-color: white;
      color: #1a1a1a; }
  .dark-bg .multiple-choice {
    color: #999999; }
    .dark-bg .multiple-choice:visited {
      color: #999999; }
    .dark-bg .multiple-choice:hover, .dark-bg .multiple-choice:active, .dark-bg .multiple-choice.active {
      color: white; }
  .dark-bg .light-bg {
    background-color: #cccccc;
    color: #1a1a1a; }
    .dark-bg .light-bg a, .dark-bg .light-bg a:visited {
      color: #1a1a1a; }
    .dark-bg .light-bg a:hover,
    .dark-bg .light-bg a:active {
      color: white; }
    .dark-bg .light-bg .caption, .dark-bg .light-bg .wp-caption-text {
      color: #1a1a1a; }
      .dark-bg .light-bg .caption a,
      .dark-bg .light-bg .caption a:visited,
      .dark-bg .light-bg .caption a:hover,
      .dark-bg .light-bg .caption a:active, .dark-bg .light-bg .wp-caption-text a,
      .dark-bg .light-bg .wp-caption-text a:visited,
      .dark-bg .light-bg .wp-caption-text a:hover,
      .dark-bg .light-bg .wp-caption-text a:active {
        color: #1a1a1a; }
    .dark-bg .light-bg .button, .dark-bg .light-bg .post-edit-link {
      border-color: #1a1a1a; }
      .dark-bg .light-bg .button:hover, .dark-bg .light-bg .post-edit-link:hover {
        background-color: white;
        color: #1a1a1a; }
    .dark-bg .light-bg .entry-content h3:before {
      background-color: #1a1a1a; }
    .dark-bg .light-bg .entry-content a[href*="eventbrite"] {
      background-color: white;
      color: #1a1a1a; }
    .dark-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
      background-color: transparent; }
    .dark-bg .light-bg .multiple-choice {
      color: #1a1a1a; }
      .dark-bg .light-bg .multiple-choice:before {
        border: solid 1px #1a1a1a; }
      .dark-bg .light-bg .multiple-choice:visited {
        color: #1a1a1a; }
      .dark-bg .light-bg .multiple-choice:hover, .dark-bg .light-bg .multiple-choice:active, .dark-bg .light-bg .multiple-choice.active {
        color: #1a1a1a; }
        .dark-bg .light-bg .multiple-choice:hover:before, .dark-bg .light-bg .multiple-choice:active:before, .dark-bg .light-bg .multiple-choice.active:before {
          border: 0;
          background-color: #1a1a1a; }
  /*.dark-bg .light-bg.edition-2014 {
    background-color: DeepSkyBlue; }
    .dark-bg .light-bg.edition-2014 .archive-menu a:hover {
      color: #1a1a1a; }
    .dark-bg .light-bg.edition-2014 .archive-menu a:hover
    , .dark-bg .light-bg.edition-2014 .hover-light-bg:hover
    , .dark-bg .light-bg.edition-2014 a:hover .thumbnail {
      background-color: DeepSkyBlue; }
    .dark-bg .light-bg.edition-2014.edition-link:hover {
      color: DeepSkyBlue;
      background-color: #1a1a1a; }
  .dark-bg .light-bg.edition-2013 {
    background-color: LightGreen; }
    .dark-bg .light-bg.edition-2013 .archive-menu a:hover {
      color: #1a1a1a; }
    .dark-bg .light-bg.edition-2013 .archive-menu a:hover
    , .dark-bg .light-bg.edition-2013 .hover-light-bg:hover
    , .dark-bg .light-bg.edition-2013 a:hover .thumbnail {
      background-color: LightGreen; }
    .dark-bg .light-bg.edition-2013.edition-link:hover {
      color: LightGreen;
      background-color: #1a1a1a; }*/
  .dark-bg .opposite-bg, .dark-bg .white-bg {
    background-color: white;
    color: #1a1a1a; }
    .dark-bg .opposite-bg a, .dark-bg .opposite-bg a:visited, .dark-bg .white-bg a, .dark-bg .white-bg a:visited {
      color: #1a1a1a; }
    .dark-bg .opposite-bg a:hover,
    .dark-bg .opposite-bg a:active, .dark-bg .white-bg a:hover,
    .dark-bg .white-bg a:active {
      color: #cccccc; }
    .dark-bg .opposite-bg .multiple-choice, .dark-bg .white-bg .multiple-choice {
      color: #999999; }
      .dark-bg .opposite-bg .multiple-choice:visited, .dark-bg .white-bg .multiple-choice:visited {
        color: #999999; }
      .dark-bg .opposite-bg .multiple-choice:hover, .dark-bg .opposite-bg .multiple-choice:active, .dark-bg .opposite-bg .multiple-choice.active, .dark-bg .white-bg .multiple-choice:hover, .dark-bg .white-bg .multiple-choice:active, .dark-bg .white-bg .multiple-choice.active {
        color: #1a1a1a; }

.white-bg {
  background-color: white;
  color: #1a1a1a; }
  .white-bg a, .white-bg a:visited {
    color: #1a1a1a; }
  .white-bg a:hover,
  .white-bg a:active {
    color: #cccccc; }
  .white-bg .button:hover, .white-bg .post-edit-link:hover {
    background-color: #1a1a1a;
    color: white; }
  .white-bg .artist-representation {
    color: #999999; }
    .white-bg .artist-representation:link
    , .white-bg .artist-representation:visited {
      color: #999999; }
    .white-bg .artist-representation:hover
    , .white-bg .artist-representation:active {
      color: #cccccc; }
  .white-bg .light-bg {
    background-color: #cccccc;
    color: #1a1a1a; }
    .white-bg .light-bg a, .white-bg .light-bg a:visited {
      color: #1a1a1a; }
    .white-bg .light-bg a:hover,
    .white-bg .light-bg a:active {
      color: white; }
    .white-bg .light-bg .caption, .white-bg .light-bg .wp-caption-text {
      color: #1a1a1a; }
      .white-bg .light-bg .caption a,
      .white-bg .light-bg .caption a:visited,
      .white-bg .light-bg .caption a:hover,
      .white-bg .light-bg .caption a:active, .white-bg .light-bg .wp-caption-text a,
      .white-bg .light-bg .wp-caption-text a:visited,
      .white-bg .light-bg .wp-caption-text a:hover,
      .white-bg .light-bg .wp-caption-text a:active {
        color: #1a1a1a; }
    .white-bg .light-bg .button, .white-bg .light-bg .post-edit-link {
      border-color: #1a1a1a; }
      .white-bg .light-bg .button:hover, .white-bg .light-bg .post-edit-link:hover {
        background-color: white;
        color: #1a1a1a; }
    .white-bg .light-bg .entry-content h3:before {
      background-color: #1a1a1a; }
    .white-bg .light-bg .entry-content a[href*="eventbrite"] {
      background-color: white;
      color: #1a1a1a; }
    .white-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
      background-color: transparent; }
    .white-bg .light-bg .multiple-choice {
      color: #1a1a1a; }
      .white-bg .light-bg .multiple-choice:before {
        border: solid 1px #1a1a1a; }
      .white-bg .light-bg .multiple-choice:visited {
        color: #1a1a1a; }
      .white-bg .light-bg .multiple-choice:hover, .white-bg .light-bg .multiple-choice:active, .white-bg .light-bg .multiple-choice.active {
        color: #1a1a1a; }
        .white-bg .light-bg .multiple-choice:hover:before, .white-bg .light-bg .multiple-choice:active:before, .white-bg .light-bg .multiple-choice.active:before {
          border: 0;
          background-color: #1a1a1a; }
  /*.white-bg .light-bg.edition-2014 {
    background-color: DeepSkyBlue; }
    .white-bg .light-bg.edition-2014 .archive-menu a:hover {
      color: #1a1a1a; }
    .white-bg .light-bg.edition-2014 .archive-menu a:hover
    , .white-bg .light-bg.edition-2014 .hover-light-bg:hover
    , .white-bg .light-bg.edition-2014 a:hover .thumbnail {
      background-color: DeepSkyBlue; }
    .white-bg .light-bg.edition-2014.edition-link:hover {
      color: DeepSkyBlue;
      background-color: #1a1a1a; }
  .white-bg .light-bg.edition-2013 {
    background-color: LightGreen; }
    .white-bg .light-bg.edition-2013 .archive-menu a:hover {
      color: #1a1a1a; }
    .white-bg .light-bg.edition-2013 .archive-menu a:hover
    , .white-bg .light-bg.edition-2013 .hover-light-bg:hover
    , .white-bg .light-bg.edition-2013 a:hover .thumbnail {
      background-color: LightGreen; }
    .white-bg .light-bg.edition-2013.edition-link:hover {
      color: LightGreen;
      background-color: #1a1a1a; }*/
  .white-bg .opposite-bg, .white-bg .dark-bg {
    background-color: #333333;
    color: white; }
    .white-bg .opposite-bg a, .white-bg .opposite-bg a:visited, .white-bg .dark-bg a, .white-bg .dark-bg a:visited {
      color: white; }
    .white-bg .opposite-bg a:hover,
    .white-bg .opposite-bg a:active, .white-bg .dark-bg a:hover,
    .white-bg .dark-bg a:active {
      color: #cccccc; }

.artist-representation {
  color: #999999; }
  .artist-representation:link
  , .artist-representation:visited {
    color: #999999; }
  .artist-representation:hover
  , .artist-representation:active {
    color: #cccccc; }

.light-bg {
  background-color: #cccccc;
  color: #1a1a1a; }
  .light-bg a, .light-bg a:visited {
    color: #1a1a1a; }
  .light-bg a:hover,
  .light-bg a:active {
    color: white; }
  .light-bg .caption, .light-bg .wp-caption-text {
    color: #1a1a1a; }
    .light-bg .caption a,
    .light-bg .caption a:visited,
    .light-bg .caption a:hover,
    .light-bg .caption a:active, .light-bg .wp-caption-text a,
    .light-bg .wp-caption-text a:visited,
    .light-bg .wp-caption-text a:hover,
    .light-bg .wp-caption-text a:active {
      color: #1a1a1a; }
  .light-bg .button, .light-bg .post-edit-link {
    border-color: #1a1a1a; }
    .light-bg .button:hover, .light-bg .post-edit-link:hover {
      background-color: white;
      color: #1a1a1a; }
  .light-bg .entry-content h3:before {
    background-color: #1a1a1a; }
  .light-bg .entry-content a[href*="eventbrite"] {
    background-color: white;
    color: #1a1a1a; }
  .light-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: transparent; }
  .light-bg .multiple-choice {
    color: #1a1a1a; }
    .light-bg .multiple-choice:before {
      border: solid 1px #1a1a1a; }
    .light-bg .multiple-choice:visited {
      color: #1a1a1a; }
    .light-bg .multiple-choice:hover, .light-bg .multiple-choice:active, .light-bg .multiple-choice.active {
      color: #1a1a1a; }
      .light-bg .multiple-choice:hover:before, .light-bg .multiple-choice:active:before, .light-bg .multiple-choice.active:before {
        border: 0;
        background-color: #1a1a1a; }
/*
.light-bg.edition-2014 {
  background-color: DeepSkyBlue; }
  .light-bg.edition-2014 .archive-menu a:hover {
    color: #1a1a1a; }
  .light-bg.edition-2014 .archive-menu a:hover
  , .light-bg.edition-2014 .hover-light-bg:hover
  , .light-bg.edition-2014 a:hover .thumbnail {
    background-color: DeepSkyBlue; }
  .light-bg.edition-2014.edition-link:hover {
    color: DeepSkyBlue;
    background-color: #1a1a1a; }

.light-bg.edition-2013 {
  background-color: LightGreen; }
  .light-bg.edition-2013 .archive-menu a:hover {
    color: #1a1a1a; }
  .light-bg.edition-2013 .archive-menu a:hover
  , .light-bg.edition-2013 .hover-light-bg:hover
  , .light-bg.edition-2013 a:hover .thumbnail {
    background-color: LightGreen; }
  .light-bg.edition-2013.edition-link:hover {
    color: LightGreen;
    background-color: #1a1a1a; }*/

.entry-content h3:before
, .entry-content a[href*="eventbrite"]
, .hover-light-bg:hover
, #nothing-found
, .page-details
, .post-password-form
, #action-button
, a:hover .thumbnail {
  background-color: #cccccc; }

.slide a:hover p
, .slide a:hover p {
  color: #cccccc; }

/*.edition-archive.light-bg .dark-bg, .edition-archive.light-bg .opposite-bg {
  background-color: transparent;
  color: #1a1a1a; }*/

/*# sourceMappingURL=color.css.map */
