a:hover
, a:active
, .dark-bg a:hover
, .dark-bg a:active
, .dark-bg .white-bg a:hover
, .dark-bg .white-bg a:active
, .dark-bg .opposite-bg a:hover
, .dark-bg .opposite-bg a:active
, .white-bg a:hover
, .white-bg a:active
, .white-bg .dark-bg a:hover
, .white-bg .dark-bg a:active
, .white-bg .opposite-bg a:hover
, .white-bg .opposite-bg a:active
, .slide a:hover p
, .slide a:hover p {
  color: coral; 
}


.light-bg
, .light-bg #nothing-found input
, .light-bg .page-details input
, .light-bg .post-password-form input
, .dark-bg .light-bg
, .white-bg .light-bg
, .entry-content h3:before
, .entry-content a[href*="eventbrite"]
, .hover-light-bg:hover
, .page-details
, .post-password-form
, .multiple-choice:hover:before
, .multiple-choice:active:before
, .multiple-choice.active:before
, #action-button
, #nothing-found
, #menu a:hover
, #menu a:active
, #menu .current-menu-item a
, #menu .current_page_item a
, input:focus
, input:hover
, a:hover .thumbnail {
  background-color: coral;
}


.dark-bg
, .white-bg .dark-bg
, .white-bg .opposite-bg {
  background-color: darkblue;
}
