
.light-bg.edition-2021
, .light-bg.edition-2021 .hover-light-bg:hover
, .light-bg.edition-2021 a:hover .thumbnail
, .dark-bg .light-bg.edition-2021
, .dark-bg .light-bg.edition-2021 .archive-menu a:hover
, .dark-bg .light-bg.edition-2021 .hover-light-bg:hover
, .dark-bg .light-bg.edition-2021 a:hover .thumbnail
, .dark-bg .light-bg.edition-2021 .hover-light-bg:hover
, .dark-bg .light-bg.edition-2021 a:hover .thumbnail
, .white-bg .light-bg.edition-2021
, .white-bg .light-bg.edition-2021 .hover-light-bg:hover
, .white-bg .light-bg.edition-2021 a:hover .thumbnail {
	background-color: ; 
}

.light-bg.edition-2021.edition-link:hover
, .dark-bg .light-bg.edition-2021.edition-link:hover
, .white-bg .light-bg.edition-2021.edition-link:hover {
	background-color: #1a1a1a;
	color: ;
}

.edition-archive.light-bg .dark-bg
, .edition-archive.light-bg .opposite-bg {
	background-color: transparent;
	color: #1a1a1a; 
}

a:hover
, a:active
, .dark-bg a:hover
, .dark-bg a:active
, .dark-bg .white-bg a:hover
, .dark-bg .white-bg a:active
, .dark-bg .opposite-bg a:hover
, .dark-bg .opposite-bg a:active
, .white-bg a:hover
, .white-bg a:active
, .white-bg .dark-bg a:hover
, .white-bg .dark-bg a:active
, .white-bg .opposite-bg a:hover
, .white-bg .opposite-bg a:active
, .slide a:hover p
, .artist-representation:hover
, .artist-representation:active
, .white-bg .artist-representation:hover
, .white-bg .artist-representation:active {
  color: #ff8760; 
}


.light-bg
, .light-bg #nothing-found input
, .light-bg .page-details input
, .light-bg .post-password-form input
, .dark-bg .light-bg
, .white-bg .light-bg
, .entry-content h3:before
, .entry-content a[href*="eventbrite"]
, .hover-light-bg:hover
, .page-details
, .post-password-form
, .multiple-choice:hover:before
, .multiple-choice:active:before
, .multiple-choice.active:before
, #action-button
, #nothing-found
, #menu a:hover
, #menu a:active
, #menu .current-menu-item a
, #menu .current_page_item a
, input:focus
, input:hover
, a:hover .thumbnail {
  background-color: #ff8760;
}

.module.forum .forum-block a:hover {
	border-color: #ff8760;
}

.dark-bg
, .white-bg .dark-bg
, .white-bg .opposite-bg {
  background-color: #303030;
}

@media only screen and (max-width : 900px) {
	#header-locations a.multiple-choice.active
	, #header-locations a.multiple-choice:hover {
		background-color: #ff8760;
	}
}

@media only screen and (max-width : 775px) {
	#search #s:focus
	, #search:hover #s:focus {
		background-color: #ff8760;
	}
}

.light-bg.edition-2019
, .light-bg.edition-2019 .hover-light-bg:hover
, .light-bg.edition-2019 a:hover .thumbnail
, .dark-bg .light-bg.edition-2019
, .dark-bg .light-bg.edition-2019 .archive-menu a:hover
, .dark-bg .light-bg.edition-2019 .hover-light-bg:hover
, .dark-bg .light-bg.edition-2019 a:hover .thumbnail
, .dark-bg .light-bg.edition-2019 .hover-light-bg:hover
, .dark-bg .light-bg.edition-2019 a:hover .thumbnail
, .white-bg .light-bg.edition-2019
, .white-bg .light-bg.edition-2019 .hover-light-bg:hover
, .white-bg .light-bg.edition-2019 a:hover .thumbnail {
	background-color: #46d3bd; 
}

.light-bg.edition-2019.edition-link:hover
, .dark-bg .light-bg.edition-2019.edition-link:hover
, .white-bg .light-bg.edition-2019.edition-link:hover {
	background-color: #1a1a1a;
	color: #46d3bd;
}

.edition-archive.light-bg .dark-bg
, .edition-archive.light-bg .opposite-bg {
	background-color: transparent;
	color: #1a1a1a; 
}

.light-bg.edition-2018
, .light-bg.edition-2018 .hover-light-bg:hover
, .light-bg.edition-2018 a:hover .thumbnail
, .dark-bg .light-bg.edition-2018
, .dark-bg .light-bg.edition-2018 .archive-menu a:hover
, .dark-bg .light-bg.edition-2018 .hover-light-bg:hover
, .dark-bg .light-bg.edition-2018 a:hover .thumbnail
, .dark-bg .light-bg.edition-2018 .hover-light-bg:hover
, .dark-bg .light-bg.edition-2018 a:hover .thumbnail
, .white-bg .light-bg.edition-2018
, .white-bg .light-bg.edition-2018 .hover-light-bg:hover
, .white-bg .light-bg.edition-2018 a:hover .thumbnail {
	background-color: #f65053; 
}

.light-bg.edition-2018.edition-link:hover
, .dark-bg .light-bg.edition-2018.edition-link:hover
, .white-bg .light-bg.edition-2018.edition-link:hover {
	background-color: #1a1a1a;
	color: #f65053;
}

.edition-archive.light-bg .dark-bg
, .edition-archive.light-bg .opposite-bg {
	background-color: transparent;
	color: #1a1a1a; 
}
