/*-------------------------------------------------------------
	Header old
--------------------------------------------------------------*/

// #menu {
// 	@include font-size(1.4);
// 	line-height: 40px;
// 	letter-spacing: 0.15em;

// 	.nav-container {
// 		max-height: 40px;
// 		overflow: hidden;
// 	}

// 	.mini-nav {
// 		cursor: pointer;
// 		display: none;

// 		li {
// 			display: inline-block;

// 			&.mini-nav-button {
// 				float: right;
// 			}

// 		}
// 		.close-menu {
// 			display: none;
// 		}
// 	}

// 	.menu {
// 		text-align: justify;
// 		-ms-text-justify: distribute-all-lines;
// 		    text-justify: distribute-all-lines;

// 		li {
// 			display: inline-block;
// 			*display: inline;
// 			vertical-align: top;
// 			zoom: 1;

// 			&:first-child {
// 				margin-left: -0.85em;
// 			}
// 			&:last-child {
// 				content: ' ';
// 				display: inline-block;
// 				font-size: 0;
// 				line-height: 0;
// 				width: 100%;
// 			}
// 		}
// 	}

// 	a {
// 		display: block;
// 		padding: 0 0.85em;
// 	}
// 		.menu-item.subtle a {
// 			color: $gray;
// 		}
// 		.subtle a:hover,
// 		.subtle.current_page_item a,
// 		.subtle.current-menu-item a {
// 			color: $black;
// 		}

// 	a:hover
// 	, a:active
// 	, .current-menu-item a
// 	, .current_page_item a {
// 		background-color: $edition_light;
// 		color: $black;
// 	}

// }

// .scrolled #menu {
// 	left: 0;
// 	right: 0;
// 	position: fixed;
// 	width: 100%;
// 	z-index: $z_abs_top;
// }

// #masthead {
// 	padding-top: 30px;
// 	padding-bottom: 40px;
// }

// #logo {
// 	img, h1 {
// 		display: inline-block;
// 	}
// 	img {
// 		height: 3.1em;
// 	}
// 		.logo-hover {
// 			display: none;
// 		}
// 		& a:hover {
// 			.logo-hover {
// 				display: inline-block;
// 			}
// 			.logo-static {
// 				display: none;
// 			}
// 		}
// 	h1 {
// 		margin-left: 0.5em;
// 	}
// }

// @media only screen and (max-width : 1050px) {
// 	#masthead .large-text {
// 		@include font-size(2.4);
// 	}
// }

// @media only screen and (max-width : 900px) {

// 	#masthead {
// 		padding-bottom: 30px;
// 	}

// 	#logo, #header-locations {
// 		width: 100%;
// 		padding: 0;
// 	}

// 	#header-locations {
// 		margin-top: 15px;
// 		&.large-text {
// 			@include font-size(1.8);
// 		}

// 		.location {
// 			border: solid $rule_thickness;
// 			border-color: $black;
// 			display: block;
// 			overflow: hidden;
// 			padding: 0;

// 			.break {
// 				display: inline;
// 			}
// 			.break.location-city {
// 				display: block;
// 			}
// 			.location-punctuation {
// 				display: inline-block;
// 			}

// 			a.multiple-choice {
// 				color: $black;
// 				display: block;
// 				margin-left: 0;
// 				padding: 15px 20px;

// 				&:before {
// 					display: none;
// 				}
// 				&.active,
// 				&:hover {
// 					color: $black;
// 				}
// 				&.active:hover {
// 					background-color: $white;
// 				}
// 			}
// 		}
// 		.location + .location {
// 			border-left: 0;
// 		}
// 	}

// 	#header.dark-bg {
// 		.location {
// 			border-color: $white;
// 		}
// 		a.multiple-choice {
// 			color: $white;
// 		}
// 	}

// }

// @media only screen and (max-width : 700px) {

// 	#masthead .large-text {
// 		@include font-size(1.8);
// 	}

// 	.scrolled #menu {
// 		position: relative;
// 	}
// 	#menu {
// 		.nav-container {
// 			display: none;
// 		}
// 		a {
// 			padding: 0 20px;
// 		}
// 		hr {
// 			display: none;
// 		}
// 		.mini-nav
// 		, hr.mini-nav {
// 			display: block;
// 		}
// 	}


// 	body.mini-nav-open {
// 		overflow: hidden;
// 	}
// 	#menu.open {
// 		display: block;
// 		@include font-size(2.4);
// 		letter-spacing: 0.06em;
// 		top: 0;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		overflow-y: auto;
// 		overflow-x: hidden;
// 		padding-bottom: 40px;
// 		position: fixed;
// 		z-index: 6000;

// 		.mini-nav {
// 			.current-menu-item {
// 				display: none;
// 			}
// 			.mini-nav-button {
// 				float: left;
// 			}
// 		}
// 		.nav-container {
// 			display: block;
// 			max-height: none;
// 			padding: 0;
// 		}

// 		.close-menu {
// 			display: inline-block;
// 		}

// 		hr {
// 			display: none;

// 			&.mini-nav {
// 				display: block;
// 				// margin-bottom: 1em;
// 			}
// 		}

// 		.menu {
// 			text-align: left;
// 			-ms-text-justify: none;
// 			    text-justify: none;

// 			li {
// 				display: block;
// 				*display: block;

// 				&:first-child {
// 					margin-left: 0;
// 				}
// 				&:last-child {
// 					display: none;
// 				}
// 			}
// 		}
// 	}

// 	#masthead {
// 		padding-top: 12px;
// 		padding-bottom: 15px;
// 	}

// 	#header-locations {
// 		margin-top: 10px;

// 		&.large-text {
// 			@include font-size(1.5);
// 		}

// 		.location {
// 			width: 100%;

// 			a.multiple-choice {
// 				padding: 10px 15px;
// 			}

// 			.break.location-city {
// 				display: inline-block;
// 				margin-right: 0.75em;
// 			}
// 		}
// 			.location + .location {
// 				border-left: solid $rule_thickness;
// 				border-top: 0;
// 			}
// 	}

// }


/*-------------------------------------------------------------
	Header new
--------------------------------------------------------------*/

#header {
	.logo-mobile {
		display: none;
	}

	.hamburger {
	    background-color: #000;
	    color: #fff;
	    cursor: pointer;
	    display: none;
	    height: 50px;
	    line-height: 50px;
	    position: fixed;
	    text-transform: uppercase;
	    top: 0;
	    right: 0;
	    text-align: center;
	    width: 70px;
	    z-index: 20;
	}

	.main-nav {
		border-bottom: 1px solid #000;
		height: 90px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
		font-family: "PxGroteskRegular", Arial, Helvetica, sans-serif;
		@media only screen and (max-width : 1024px) {
			border-bottom: none;
		}

		.inner {
			position: relative;
		}

		.logo {
			display: inline-block;
			margin: 10px 0;
			position: absolute;
			z-index: 10;

			img, svg {
				height: 70px;
				display: inline-block;
				margin-right: 10px;
			}

			// svg {
			// 	width: 170px;
			// }

			&:hover {
				svg, svg * {
					fill: #ef4c4b;
				}
			}

			&.right-side {
				right: calc(3.5%);
			}
		}

		ul {
			padding: 35px 0;
			position: relative;
		    text-align: center;
		    width: 100%;

			li {
				display: inline-block;
				font-size: 12px;
			    margin: 0 30px;
			    //letter-spacing: 1.5px;
			    text-transform: uppercase;

			    &.current-menu-item a {
			    	color: #ef4c4b;
			    }

			    &.search-wrapper {
					display: inline-block;
					position: relative;

				    .search-btn {
				    	display: inline-block;
				    	height: 18px;
				    	width: 18px;

				    	svg {
				    		height: 100%;
				    		margin-bottom: -4px;
				    		width: 100%;
				    	}

				    	&:hover {
				    		opacity: .6;
				    	}
				    }

				    form {
				    	display: none;
					    position: absolute;
					    right: -10px;
					    top: 30px;

				    	input[type='text'] {
				    		background-color: #fff;
				    		text-align: left;
				    		height: 45px;
				    		min-height: none;
				    		min-height: initial;
				    		width: 170px;
				    	}

				    	input[type='submit'] {
				    		display: none;
				    	}
				    }

				    &.expanded {
				    	form {
				    		display: inline-block;
				    	}
				    }
				}
			}

			@media only screen and (max-width : 1024px) {
				padding: 35px 120px 35px 200px;

				li {
					margin: 0 15px;
				}
			}

			@media only screen and (max-width : 995px) {
				li {
					margin: 0 10px;
				}
			}
		}
	}

	.cities-nav {
		background-color: #fff;
		border-bottom: 1px solid #000;
		height: 90px;
		width: 100%;

		.wrapper {
			& > ul {
				padding: 24px 0;
				text-align: center;

				& > li {
					display: inline-block;
					font-size: 24px;
					//letter-spacing: 4px;
					line-height: 40px;
					margin: 0 70px;

					a {
						display: inline-block;
						font-family: "PxGroteskRegular", Arial, Helvetica, sans-serif;
						height: 100%;
					}

					@media only screen and (max-width : 1000px) {
						margin: 0 40px;
					}

					@media only screen and (max-width : 800px) {
						font-size: 28px;
						margin: 0 30px;
					}

					&.active {
						border-bottom: 2px solid #ef4c4b;

						a {
							color: #ef4c4b;
						}
					}

					ul {
						display: none;
					}
				}
			}
		}
	}

	.secondary-nav {
		border-bottom: 1px solid #000;
		z-index: 9 !important;
		font-family: "PxGroteskRegular", Arial, Helvetica, sans-serif;
		ul {
			padding: 10px 0;
			text-align: center;

			li {
				display: inline-block;
			    font-size: 14px;
			    //letter-spacing: 1.5px;
			    margin: 0 30px;

				&.current-menu-item {
					a {
						color: #ef4c4b;
					}
				}
			}

			@media only screen and (max-width : 1000px) {
				li {
					margin: 0 25px;
				}
			}
		}
	}

	.main-nav, .secondary-nav {
		background-color: #fff;
		background-attachment: fixed;
		//background-image: url(../imgs/grid-decoration.svg);
	    background-repeat: no-repeat;
	    background-position: top -160px right -150px;
	    background-size: 500px;
	}

	.tickets {
		position: absolute;
	    top: 65px;
	    right: 3.5%;
	    width: auto !important;
	    z-index: 10 !important;

		a.button {
		    background-color: #fff;
		    display: inline-block;
		    width: auto !important;
		    right: 3.5%;
		    height: 45px;
		    line-height: 45px;
		    font-size: 1.1rem;
				font-family: "PxGroteskRegular", Arial, Helvetica, sans-serif;

			&:hover {
				background-color: #000;
				color: #fff;
			}

			@media only screen and (max-width: 800px) {
				padding-left: 20px;
				padding-right: 20px;
				text-align: left;
				width: 200px !important;
			}
		}

		@media only screen and (max-width: 800px) {
			background: #fff;
			background-attachment: fixed;
			//background-image: url(../imgs/grid-decoration.svg);
		    background-repeat: no-repeat;
		    background-position: top -160px right -150px;
		    background-size: 500px;
			border-bottom: 1px solid #000;
			padding: 10px 10px 15px 10px;
			position: relative;
			right: auto;
			top: auto;

			a {
				margin-left: 0;
				padding: 0 25px;
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		background-color: #fff;
		border-bottom: 1px solid #000;
		height: 50px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 20;

		&.expanded {
			height: 100vh;

			.scrollable {
				display: block;
			}
		}

		.hamburger {
			display: inline-block;
		}

		.logo-mobile {
			display: inline-block;
			left: 5px;
			margin: 0;
			position: fixed;
			top: 5px;

			img {
				height: 40px;
			}
		}

		.scrollable {
			border-top: 1px solid #000;
			display: none;
			margin-top: 50px;
			height: calc(100vh - 50px);
			overflow-x: auto;
			overflow-y: scroll;
			padding-bottom: 100px;
			-webkit-overflow-scrolling: touch;
		}

		.main-nav, .secondary-nav {
			background-color: #fff;
			background-image: none;
		}

		.main-nav {
			height: auto;
			position: static;

			.wrapper {
				padding: 0;

				.logo {
					display: none;
				}

				ul {
					padding: 10px 0;
					text-align: left;

					li {
						font-weight: bold;
						display: block;
						line-height: initial;
						margin: 0;

						a {
							display: inline-block;
							font-size: 14px;
							font-weight: lighter;
							padding: 10px;
							width: 100%;
						}

						&.search-wrapper {
							margin-bottom: 0;
							margin-top: 15px;
							margin-left: 10px;

							a {
								display: none;
							}

							form {
								display: inline-block !important;
								position: relative;
								right: auto;
								top: auto;
								max-width: 200px;
								vertical-align: middle;
								width: 100%;

								input[type="text"] {
									font-size: 1.1rem;
									line-height: 45px;
									width: 100%;
								}
							}
						}
					}
				}
			}

			.search-wrapper {
				display: none;
			}
		}

		.cities-nav {
			border-bottom: none;
			height: auto;

			.wrapper {
				padding: 0;

				& > ul {
					padding: 0;
					text-align: left;

					&:first-child {
						padding-bottom: 100px;
					}

					& > li {
						border-bottom: 1px solid #000 !important;
						display: block;
						//font-family: 'theinhardt_reg', sans-serif;
					    font-size: 14px;
					    font-weight: bold;
					    margin: 0;
					    line-height: 24px;
					    //letter-spacing: 1.5px;

					    a {
					    	display: inline-block;
					    	font-weight: lighter;
					    	font-size: 16px;
					    	padding: 10px;
					    	width: 100%;
					    }

				    	& > a {
				    		background-image: url(../imgs/arrow-up.svg);
				    		background-position: center right 10px;
				    		background-size: 20px;
				    		background-repeat: no-repeat;
				    		border-bottom: 1px solid #000;
				    		margin-bottom: -1px;

				    		&.expanded {
				    			background-image: url(../imgs/arrow-down.svg);

				    			& + ul {
				    				max-height: 1000px;
				    			}
				    		}
				    	}

				    	& > a + ul {
				    		border-bottom: none !important;
					    	display: block;
					    	max-height: 0;
					    	width: 100%;
					    	overflow: hidden;
					    	@include transition(all, .2s, easein);

					    	li {
					    		border-bottom: none !important;
					    		font-weight: normal;
					    		text-transform: none;

					    		a {
					    			color: #000 !important;
					    			padding: 5px 10px;
					    			padding-left: 25px;
					    		}

					    		&.current-menu-item {
					    			a {
					    				color: #ef4c4b !important;
					    			}
					    		}

					    		&:first-of-type {
					    			margin-top: 5px;
					    		}

					    		&:last-of-type {
					    			border-bottom: none;
					    			margin-bottom: 5px;
					    		}
					    	}
					    }
					}
				}
			}
		}

		.secondary-nav {
			display: none;
		}
	}
}

/*-------------------------------------------------------------
	Footer new
--------------------------------------------------------------*/
#footer {
	background-color: #fff;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	bottom: -90px;
	overflow: auto;
	padding: 15px 0;

	.wrapper {
		position: relative;
	}

	.social {
		display: inline-block;
		vertical-align: middle;

		.newsletter-link {
			padding-bottom: 20px;
		}

		#menu-social-networks, #menu-social-links, #menu-footer-menu {
			li {
				display: inline-block;

				a {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					display: inline-block;
					color: transparent !important;
					height: 25px;
					margin-right: 10px;
					overflow: hidden;
					width: 25px;
				}

				&.facebook a {
					background-image: url(../imgs/icon-facebook.svg);
				}

				&.twitter a {
					background-image: url(../imgs/icon-twitter.svg);
				}

				&.instagram a {
					background-image: url(../imgs/icon-instagram.svg);
				}

				&.artsy a {
					background-image: url(../imgs/icon-artsy.svg);
				}
				&.youtube a {
					background-image: url(../imgs/icon-youtube.svg);
				}
			}
		}
	}

	.sponsors-ads {
		display: inline-block;
		float: right;
		vertical-align: middle;

		a {
			display: inline-block;

			img {
				margin-bottom: 0;
				max-height: 70px;
			}
		}

		@media only screen and (max-width : 700px) {
			display: block;
			margin-top: 30px;
			width: 100%;
		}
	}
}



/*-------------------------------------------------------------
	Footer
--------------------------------------------------------------*/

// #footer {
// 	.wrapper {
// 		padding-top: 60px;
// 		padding-bottom: 20px;
// 	}
// }
// #coverall { z-index: $z_top; }

// .footer-actions {
// 	line-height: 50px;
// 	margin-bottom: 30px;
// 	overflow: hidden;

// 	.action {
// 		border: solid $rule_thickness $black;
// 	}

// 	.action + .action {
// 		border-top: none;
// 	}

// }

// #search, #newsletter {

// 	input {
// 		border: none;
// 	}
// 	.border-left {
// 		border-left: solid $rule_thickness $black;
// 	}

// 	.button {
// 		border: 0;
// 		padding: 0;
// 	}
// 	.primary {
// 		width: 100%;
// 	}
// 	.secondary {
// 		padding: 0;
// 		width: 0;
// 		overflow: hidden;
// 	}
// }

// 	#newsletter:hover #signup-blind
// 	, #signup-blind.unblind {
// 		width: 0;
// 		overflow: hidden;
// 	}
// 	#newsletter {
// 		input:focus {
// 			background-color: $white;
// 		}
// 		input[type="submit"]:focus
// 		, input[type="submit"]:active {
// 			background-color: $edition_light;
// 		}
// 	}

// 	#s:focus
// 	, #search:hover .primary {
// 		background-color: transparent;
// 		color: $black;
// 		width: 75%;
// 	}
// 	#s:focus + .secondary
// 	, #search:hover .secondary {
// 		border-left: solid $rule_thickness $black;
// 		width: 25%;
// 	}

// .footer-info {

// 	.narrow { display: none; }

// 	.table-cell {
// 		border-top: solid $rule_thickness $black;
// 		border-left: solid $rule_thickness $black;
// 		border-bottom: solid $rule_thickness $black;
// 		vertical-align: top;
// 		padding: 8px 12px 10px;
// 	}
// 		.table-cell:last-child {
// 			border-right: solid $rule_thickness $black;
// 		}
// 		.table-row + .table-row .table-cell {
// 			border-top: 0;
// 		}
// 	.home-link {
// 		@include font-size(2.2);
// 		line-height: 1.25;
// 	}
// 	.home-link:hover {
// 		color: $black;
// 	}
// }

// @media only screen and (max-width : 775px) {
// 	#search
// 	, #search:hover {
// 		#s
// 		, #s:focus
// 		, .primary {
// 			width: 100%;
// 		}
// 		.secondary
// 		, #s:focus + .secondary {
// 			display: none;
// 			padding: 0;
// 			width: 0;
// 			overflow: hidden;
// 		}
// 	}
// 	#signup-blind {
// 		display: none;
// 	}
// 	#newsletter {
// 		border-top: solid $rule_thickness $black;
// 		margin-top: 3.5%;

// 		input {
// 			display: block;
// 			width: 100%;

// 			&.border-left {
// 				border-left: none;
// 				border-top: solid $rule_thickness $black;
// 			}
// 		}
// 	}
// 	.footer-info {
// 		.home-link {
// 			@include font-size(1.8);
// 		}
// 	}

// }

// @media only screen and (max-width : 675px) {
// 	.footer-info {
// 		.table-cell.quarter {
// 			border: none; /* reset */
// 			border: solid $rule_thickness $black;
// 			border-bottom: none;
// 			display: block;
// 			width: 100%;

// 			&:last-child {
// 				border-bottom: solid $rule_thickness $black;
// 			}
// 		}
// 	}
// }



/*-------------------------------------------------------------
	Password Protected, Search, & 404 Pages
--------------------------------------------------------------*/

.shadowed
, #nothing-found
, .page-details
, .post-password-form
, #action-button:hover
, .go-behind-button #action-button {
	margin-bottom: 5px;
	-webkit-box-shadow: 5px 5px 0px 0px $black;
	   -moz-box-shadow: 5px 5px 0px 0px $black;
	        box-shadow: 5px 5px 0px 0px $black;
}

#action-button:hover
, .go-behind-button #action-button {
	margin-bottom: 0;
}

a.shadowed:hover {
	margin-bottom: 0;
}

a.shadowed:hover {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

#nothing-found
, .page-details
, .post-password-form {
	color: $black;
	padding: 20px 25px 35px;

	p, input {
		@extend .medium-text;
		font-family: $font_sans;
		color: $black;
	}
	input[type="submit"] {
		border-top: 0;
		@extend .small-text;
		@extend .tracked-out;
		margin-top: 0;
	}
	input {
		line-height: 50px;
		margin: 1em 0 0;
		outline: 0;
		padding: 0 20px;

		&:hover, &:focus, &:active {
			background-color: $white;
		}
	}
}

.light-bg {

	#nothing-found
	, .page-details
	, .post-password-form {
		background-color: $white;

		input {
			background-color: $edition_light;

			&:hover, &:focus, &:active {
				background-color: $white;
			}
		}
	}
}


#nothing-found {
	#s, #searchsubmit {
		margin-top: 0;
		@extend .text-tiny-caps;
	}
	#s { width: 75%; }

	#searchsubmit {
		border-left: 0;
		border-top: solid $rule_thickness $black;
		width: 25%;
	}
}

.page-details {
	margin-bottom: 50px;
	padding-bottom: 20px;

	p {
		@include font-size(1.5);
		line-height: 1.3;
		margin-bottom: 1em;
	}
}


@media only screen and (max-width : 775px) {
	#nothing-found {
		#s { width: 100%; }
		#searchsubmit {
			display: none;
		}
	}
}


/*-------------------------------------------------------------
	News Archive
--------------------------------------------------------------*/

.news-archive {
	border-bottom: 1px solid #000;

	article {
		margin-bottom: 40px;
		padding-right: 4%;

		header { margin-bottom: 0.5em; }
		h2 {
			height: 3.45em;
			margin-top: 0.7em;
			overflow: hidden;
		}
	}

	#nav-below {
		.column.quarter-2 {
			width: 50%;
		}
	}

}


/*-------------------------------------------------------------
	Modules
--------------------------------------------------------------*/

$button_radius : 120px;
#action-button {
	border: 0;
	border-radius: $button_radius/2;
	border-radius: 50%;
	color: $black;
	display: none;
	line-height: $button_radius;
	overflow: hidden;
	width: $button_radius;
	height: $button_radius;
	bottom: 40px;
	right: 3.5%;
	z-index: $z_middle;

	a {
		border: 0;
		display: block;
		padding: 0 10px;
		width: 100%;
		height: 100%;
	}

	&.shadowed, &:hover {
		margin: 0;
	}

	&:hover {
		a {
			background-color: $white;
			color: $black;
		}
	}
	&.shadowed:hover {
		margin-bottom: 0;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
}



.slick-list {
	//padding: 0 3.5% 0 0;
	margin-left: 3.5%;
}
.slick-slider {
	margin-bottom: 0;
}

.slick-disabled {
	display: none !important;
}

.slideshow:not(.full-width) .slide {
	opacity: 0;
	@include transition(opacity, .4s, linear);

	&.slick-active {
		opacity: 1;
	}
}

$nav_width : 15%;
.module {
	padding-bottom: 30px !important;

	// FEATURES SLIDES
	&.slideshow {
		min-height: 300px; /* so when we fade it in, the whole page doesn't jump */

		&.no-header {
			padding-top: 40px;

			.section-header {
				display: none;
			}
		}

		&.full-width {
			padding-bottom: 0 !important;
			padding-top: 0 !important;

			#slideshow-container {
				padding-bottom: 0;
			}

			#slideshow-tray.hero {
				height: 35vw;

				@media only screen and (max-width : 1440px) {
					height: 600px;
				}

				@media only screen and (max-width : 900px) {
					height: 480px;
				}

				@media only screen and (max-width : 480px) {
					height: 350px;
				}

				.slick-list {
					height: 100%;
					padding: 0;
					margin: 0;

					.slick-track {
						height: 100%;

						.slide {
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							height: 100%;
							padding-right: 0;

							img {
								object-fit: cover;
								font-family: 'object-fit: cover;';
								height: 100%;
								margin-bottom: 0;
								width: 100%;
							}
						}
					}
				}

				.nav {
					&.prev {
						left: 0;
					}

					&.next {
						right: 0;
					}
				}
			}
		}

		.slide {
			padding-right: 20px;

			header { margin-bottom: 0.5em; }
			img { margin-bottom: 15px; }
			p { padding-right: 5%; }

			a {
				figure {
					img {
						object-fit: contain;
						font-family: 'object-fit: contain;';
						height: 300px;
						width: 100%;
					}
				}
			}
		}

		.nav {
			cursor: pointer;
			height: 100%;
			width: $nav_width;
			top: 0;
			bottom: 0;
			padding: 0;

			.arrow {
				background-repeat: no-repeat;
				background-size: 30px;
				background-position: center;
				display: block;
				width: 45px;
				height: 90px;
				top: 0;
				bottom: 0;
				margin-top: auto;
				margin-bottom: auto;
			}

			&.prev {
				left: -60px;

				.arrow {
					left: ( $nav_width / 2 ) * 1.75;
					background-image: url(../imgs/slideshow-arrow-left.svg);
				}

				&:hover {
					.arrow {
						opacity: .5;
					}
				}
			}

			&.next {
				right: -60px;

				.arrow {
					right: ( $nav_width / 2 ) * 1.75;
					background-image: url(../imgs/slideshow-arrow-right.svg);
				}

				&:hover {
					.arrow {
						opacity: .6;
					}
				}
			}
		}

	}

	// INFO MODULE
	&.big-info {
		p { margin-bottom: 1em; }

		.section-content {

			.info-text { margin: 0 auto; }

			&.sponsors {
				.info-text { float: left; }
			}
		}
		.sponsors.column {
			max-width: 200px;
		}
		.sponsor {
			margin-bottom: 20px;
			height: 140px;
			width: 140px;

			a {
				background-color: $white;
				border: none;
				display: block;
				margin-bottom: 20px;
				// padding: 8px 12px 15px;
				width: 100%;
				height: 100%;
			}
			a:hover {
				background-color: $black;
				color: $white;
			}
		}
	}

	// SELECTED ARTISTS & EXHIBITORS
	&.selected-exhibitors {
		.exhibitor h2 { margin-top: 0.5em; margin-bottom: 30px;}

		&.archive {
			//.section-header { margin-bottom: 1em; }
		}

		.view-all-artists {
			display: none;
		}
	}

	// ARTIST & EXHIBITOR LIST
	&.artists-exhibitors {

		.choice {
			display: none;

			&.active {
				display: block;
			}

			li ul li {
				padding-left: 1em;

				a {
					text-indent: -1em;
					display: block;
				}
			}

		}

		.section-content {
			line-height: 1.5;

			h2 {
				line-height: 1;
			}

			ul li ul {
				display: inline-block;
				margin-bottom: 1em;
			}

		}

		.hover.preview {
			z-index: $z_abs_top;

			&.text {
				max-width: 250px;
				padding: 10px 20px;
				-webkit-hyphens: auto;
				   -moz-hyphens: auto;
				    -ms-hyphens: auto;
				        hyphens: auto;
				word-wrap: break-word;
			}
			&.image img {
				max-width: 200px;
				max-height: 200px;
			}
		}
	}

	// FORUM
	&.forum {

		.forum-pattern {
			background-attachment: fixed;
			display: block;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
		}
		.entry-header {
			margin-top: 1em;
		}
		.forum-block {
			margin-bottom: 50px;
			// height: 180px;
			padding-right: 4%;

			a {
				border: 0;
				border-top: solid 1px;
				display: block;
				padding-right: 8%;

				&:hover {
					border-color: $edition_light;
				}

			}
			h2 {
				// height: 4.4em;
				overflow: hidden;
			}
		}
	}

}

.white-bg {
	.forum-pattern {
		opacity: 0.15;
	}
}

@media only screen and (max-width : 900px) {
	// ARTIST & EXHIBITOR LIST
	.artists-exhibitors {
		.text-columns {
			-webkit-column-count: 2;
			   -moz-column-count: 2;
			        column-count: 2;
		}
	}
}

@media only screen and (max-width : 480px) {
	// ARTIST & EXHIBITOR LIST
	.artists-exhibitors {
		.text-columns {
			-webkit-column-count: 1;
			   -moz-column-count: 1;
			        column-count: 1;
		}
	}
}


@media only screen and (max-width : 700px) {

	.home {
		.section-header {
			width: 100%;
		}
	}
	.module {
		padding-bottom: 40px;

		&.slideshow {
			&.no-header {
				padding-top: 15px;
			}
			.nav.prev {
				.arrow {
					display: none;
				}
			}
		}

		// SELECTED EXHIBITORS
		&.selected-exhibitors {
			.large-text {
				// @include font-size(1.8);
				margin-bottom: 1em;
			}
			.view-all-artists {
				display: block;
			}
		}

		// FORUM
		&.forum {
			.forum-block {
				margin-bottom: 10px;
				padding-right: 0;
				height: auto;
				width: 100%;

				&:last-child {
					margin-bottom: 30px;
				}

				h2 {
					height: auto;
				}
			}
		}

		// INFO
		&.big-info {
			.xx-large-text {
				@include font-size(2.4);
			}
			.info-text {
				width: 100%;
			}
			.sponsors.column.float-right {
				margin-top: 40px;
				max-width: none;
				width: 100%;
				float: left;

				.sponsor {
					float: left;
					margin-bottom: 0;
					margin-right: 0;
					padding-right: 20px;
					width: 50%;
					height: auto;
				}
			}
		}

	}

	// ARTIST & EXHIBITOR LIST
	.artists-exhibitors {

		.home & {
			display: none;
		}
		.section-header {
			margin-bottom: 20px;

			.column {
				width: 100%;

				&:last-child {
					margin-top: 0.5em;
				}
			}
		}
		.choice .text-columns {
			-webkit-column-count: 1;
			   -moz-column-count: 1;
			        column-count: 1;
		}
		.hover.preview {
			display: none;
		}
	}

}



/*-------------------------------------------------------------
	Edition Archive
--------------------------------------------------------------*/

.edition-archive {

	.past-edition {
		padding-bottom: 40px;
		padding-right: 40px;

		&:last-of-type {
			padding-bottom: 0;
		}

		.edition-link {
			border: 1px solid #000;
			display: block;
			margin-bottom: 5px;
			padding: 20px;
		}
	}

	.alternate-edition-links {
		margin-top: 3em;

		.button {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

}

.header.archive {
	background-color: #000;
	color: #fff;
	text-align: center;

	* {
		color: #fff;
	}

	.page-header {
		margin-bottom: 0;
		margin-top: 35px;
	}
	.archive-menu li {
		display: inline-block;
		@include font-size(1.4);
		line-height: 40px;
		//letter-spacing: 0.15em;
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 1em;

		// a {
		// 	border-bottom: solid $rule_thickness $black;
		// }

		// a:hover {
		// 	background-color: transparent;
		// 	border: none;
		// 	color: $white;
		// }

	}
}

@media only screen and (max-width : 700px) {
	.edition-archive {

		.past-edition {
			padding-right: 5px;
			padding-bottom: 15px;

			.edition-link {
				min-height: 0;
			}
		}
	}

}



/*-------------------------------------------------------------
	Section Anchors (single pages only)
--------------------------------------------------------------*/

.section-anchor {
	border-top: solid 1px transparent;
	display: block;
	width: 100px;
	margin-top: -120px;
	opacity: 0;
}

.anchor-details {
	padding: 0 0 40px;

	div {
		display: inline-block;
		padding: 10px 20px;
		text-transform: none;
	}
}


/*-------------------------------------------------------------
	Search Results
--------------------------------------------------------------*/

.returned-results {
	a {
		display: block;
	}
	.thumbnail img {
		margin-top: 6px;
	}
	p {
		margin-top: 1em;
	}
}


/*-------------------------------------------------------------
	Responsive Styles
--------------------------------------------------------------*/

@media only screen and (max-width : 900px) {

	.entry-content {
		width: 100%;

		img {
			max-height: 650px;
			width: auto !important;
			margin: 0 auto;
		}
	}
	.entry-meta {
		clear: both;
		float: none;
		margin-bottom: 3em;
	}

}

@media only screen and (max-width : 750px) {
	.page-header {
		width: 100%;
	}
	#nav-below {
		.third {
			width: 50%;
		}
		.third:nth-child(2) {
			display: none;
		}
	}
}


@media only screen and (max-width : 700px) {
	.column
	, .entry-meta {
		padding: 0;
		width: 100%;
	}
	#action-button {
		bottom: 0;
		border-radius: 0;
		margin-bottom: 0;
		width: 100%;
		right: 0;
		height: 40px;
		line-height: 40px;

		&:hover {
			margin-bottom: 0;
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
			        box-shadow: none;
		}

		&.shadowed {
			border-top: solid $rule_thickness $black;
		}
	}
	.news-archive {
		article {
			margin-bottom: 0;
			padding-right: 0;

			h2 {
				height: auto;
				margin-bottom: 1.25em;
			}
		}
	}
	#nav-below {
		.third {
			width: 100%;
		}
		.third:nth-child(2) {
			display: none;
		}
	}
}

.home .news-list {
	margin-top: 50px;
}

.news-list {
	overflow: auto;
	padding: 0 100px;

	@media only screen and (max-width : 1000px) {
		background-color: #fff;
		padding: 0;
	}

	.news-element {
		float: left;
		margin-bottom: 50px;
		text-align: left;
		width: calc(50% - 25px);

		&:nth-of-type(odd) {
			margin-right: 50px;
		}

		.title {
			text-transform: uppercase;
			font-size: 1.6rem;
			//letter-spacing: 1.5px;
			font-family: $font_sans_med;
		}

		.excerpt {
			font-size: 1.5rem;
		}

		.thumbnail {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			display: inline-block;
			height: 25vw;
			max-height: 300px;
			margin-bottom: 15px;
			width: calc(100%);

			&:hover {
				opacity: .8;
			}
		}

		@media only screen and (max-width : 1000px) {
			.thumbnail {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}

		@media only screen and (max-width : 700px) {
			width: 100%;

			&:nth-of-type(odd) {
				margin-right: 0;
			}

			.thumbnail {
				height: 60vw;
			}
		}
	}
}


.read-more {
	margin-top: 30px !important;
	text-align: center;

	a {
		color: #fff !important;
		font-size: 14px;
		//letter-spacing: 1.5px;
		//text-transform: uppercase;
		display: inline-block;
		padding: 8px 10px;
		font-family: $font_sans_med;
		background-color: #000;
		border:1px solid #000;
		&:hover {
			background-color: #FFF;
			color:#000 !important;
		}
	}
}


.list.galleries, .list.special-projects {
	padding-bottom: 30px;

	ul {
		li {
			a:hover {
				color: #ef4c4b;
			}
		}
	}
}

.hover.preview {
	background-color: #fff;
	border: 1px solid #ef4c4b;
	color: #ef4c4b;
	font-size: 12px;
	text-transform: uppercase;
}

.partners-list {
	.partners-row {
		margin-bottom: 50px;
		overflow-x: auto;

		& > .entry-title {
			border-bottom: 1px solid #000;
			padding-bottom: 5px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		p {
			margin-bottom: 30px;
			width: 100%;
		}

		a {
			float: none;
			display: inline-block;
			margin: 0 20px 20px 0;
			vertical-align: middle;

			img {
				float: none;
				margin: 0;
			}
		}

		img {
			float: none;
			display: inline-block;
			// height: 40px !important;
			margin: 0 20px 20px 0;
			vertical-align: middle;
			width: auto !important;
		}
	}
}

.button {
	display: inline-block;

	&:hover {
		background-color: #000;
		color: #fff;
	}

	&.side-padding {
		padding-left: 100px;
		padding-right: 100px;
	}
}

.page-header {
	.medium-text {
		line-height: 3.4rem;
	}
}

.entry-title.medium-text {
	//letter-spacing: 2.5px;
	font-size: 2.4rem;
	//letter-spacing: 3.5px;
}

.multiple-choice {
	color: #000;

	&:first-of-type {
		margin-left: 0;
	}

	@media only screen and (max-width: 480px) {
		float: left;
		clear: both;
		margin-left: 0;
		margin-bottom: 20px;
	}
}

.entry-content {
	position: static !important;

	h1 {
		border-top: none;
	    margin: 0 0 20px 0;
		//letter-spacing: 2.5px;
		font-size: 2.4rem;
		//letter-spacing: 3.5px;
		font-family: $font_sans_med;
	}

	h2, h3, h4, h5 {
		border-top: none;
	    margin: 0 0 20px 0;
	    font-size: 2.2rem;
	    //letter-spacing: 3.5px;
			font-family: $font_sans_med;
	}

	h1, h2, h3, h4, h5 {
		a {
			display: inline-block;
			border-bottom: 1px solid;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	a {
		color: #000;
	}

	&.exhibitor {
		padding-bottom: 0;
		padding-top: 50px;
	}
}

.entry-content .wp-caption-text {
	color: #000;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 20px !important;
    // max-width: 50%;
    width: 100% !important;

    @media only screen and (max-width: 900px) {
    	max-width: none;
    	max-width: initial;
    }
}

.navigation {
	margin-top: 50px;

	.nav-previous, .nav-next {
		display: inline-block;

		a {
			color: #000 !important;
			font-size: 15px;
			//letter-spacing: 1.5px;
			text-transform: uppercase;
		}
	}

	.nav-previous {
		margin-right: 10px;
	}

	.nav-previous {
		margin-left: 10px;
	}
}

.selected-exhibitors {
	margin-top: 30px;
}

.center-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 90px);

	.wrapper {

	}

	@media only screen and (max-width: 480px) {
		min-height: calc(100vh - 50px);
	}
}

.artist-representation {
	color: #000 !important;
}

.small-bio {
	margin-top: 50px;
	width: 100%;
	text-align: left;

	a {
		border: none;
	}

	@media only screen and (max-width: 480px) {
		width: 100%;
	}
}

.image.hover.preview {
	border: none !important;
}

hr {
	margin: 2em 0 !important;
}

.newsletter-dialog {
	background-color: rgba(0, 0, 0, .5);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 100;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;

	&.open {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
	}

	& > div {
		background-color: #fff;
		display: inline-block;
		overflow: hidden;
		width: calc(100vw - 50px);
		max-width: 400px;
	}

	form {
		overflow: auto;
	}

	h2 {
		border: 1px solid #000;
		border-bottom: none;
		padding: 15px 10px 10px 10px;
	    font-size: 2rem;
	    //letter-spacing: 3.5px;
	    text-align: center;
	    text-transform: uppercase;
	}

	input {
		float: left;
		padding-bottom: 0;
	}

	input:not([type='button']):not([type='submit']) {
		border-bottom: none;
		padding-left: 10px;
		padding-right: 10px;

		&:hover, &:focus {
			background-color: #fff;
		}
	}

	input[type='button'] {
		cursor: pointer;
		border-bottom: none;
		border-right: none;
		background-color: transparent;
		float: left;
		width: 50%;
	}

	input[type='submit'] {
		border-bottom: none;
		background-color: #000;
		color: #fff;
		float: left;
		width: 50%;
	}

	.message {
		border-top: 1px solid #000;
		text-align: center;

		p {
			padding: 10px;
		}

		&.error {
			border: 1px solid #000;

			p {
				color: #ef4c4b;
			}
		}

		&.success {
			border: 1px solid #000;

			p {
				color: #53a931;
			}
		}
	}
}


input[type='text'], input[type='search'] {
	&:hover {
		color: #000;
	}
}


.intro-banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	background-color: #000;
	padding: 40px;
	@media only screen and (max-width : 900px) {
		padding: 20px;
	}
	p {
		font-family: "PxGroteskRegular";
		color:#FFF;
		font-size: 50px;
		line-height: .9;
		@media only screen and (max-width : 1024px) {
			font-size: 40px;
		}
		@media only screen and (max-width : 700px) {
			font-size: 25px;
		}
		span {
			color:#B9B8B0;
		}
		&.click-msg {
			position: absolute;
			bottom: 0;
			right: 0;
			@media only screen and (max-width : 700px) {
				left: 0;
			}
		}
	}
	svg {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 290px;
		fill: #FFF;
		@media only screen and (max-width : 1024px) {
			height: 250px;
		}
		@media only screen and (max-width : 700px) {
			height: 180px;
			position: relative;
			margin-top: 40px;
		}
	}
}

.intro-banner-inner {
	position: relative;
	width: 100%;
	height: 100%;
}