@charset "UTF-8";
/*

Description: Custom editor styles for 1-54 theme
Version: 1.0

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, body#tinymce.wp-editor ul, body#tinymce.wp-editor ol, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_s_backboneize_in_s_backboneafari_for_ios_without_disabling_user_zoom/ */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:link {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clears floated elements */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility;
  /* kerning */ }

/*-------------------------------------------------------------
	Presentational Classes
--------------------------------------------------------------*/
.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden;
  opacity: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 0; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

img {
  display: block;
  margin: 0;
  max-width: 100%; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 22, 2015 */
@font-face {
  font-family: "theinhardtregular";
  src: url("../fonts/theinhardt-regular-webfont.eot");
  src: url("../fonts/theinhardt-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-regular-webfont.woff2") format("woff2"), url("../fonts/theinhardt-regular-webfont.woff") format("woff"), url("../fonts/theinhardt-regular-webfont.ttf") format("truetype"), url("../fonts/theinhardt-regular-webfont.svg#theinhardtregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "theinhardtregular_italic";
  src: url("../fonts/theinhardt-regularita-webfont.eot");
  src: url("../fonts/theinhardt-regularita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-regularita-webfont.woff2") format("woff2"), url("../fonts/theinhardt-regularita-webfont.woff") format("woff"), url("../fonts/theinhardt-regularita-webfont.ttf") format("truetype"), url("../fonts/theinhardt-regularita-webfont.svg#theinhardtregular_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "theinhardtmedium";
  src: url("../fonts/theinhardt-medium-webfont.eot");
  src: url("../fonts/theinhardt-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-medium-webfont.woff2") format("woff2"), url("../fonts/theinhardt-medium-webfont.woff") format("woff"), url("../fonts/theinhardt-medium-webfont.ttf") format("truetype"), url("../fonts/theinhardt-medium-webfont.svg#theinhardtmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "theinhardtmedium_italic";
  src: url("../fonts/theinhardt-mediumita-webfont.eot");
  src: url("../fonts/theinhardt-mediumita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-mediumita-webfont.woff2") format("woff2"), url("../fonts/theinhardt-mediumita-webfont.woff") format("woff"), url("../fonts/theinhardt-mediumita-webfont.ttf") format("truetype"), url("../fonts/theinhardt-mediumita-webfont.svg#theinhardtmedium_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 10px;
  font-size: 62.5%; }

body, p, body#tinymce.wp-editor ul, body#tinymce.wp-editor ol, .sans, a[href*=eventbrite]:link, p .sans, body#tinymce.wp-editor ul .sans, body#tinymce.wp-editor ol .sans, p a[href*=eventbrite]:link, body#tinymce.wp-editor ul a[href*=eventbrite]:link, body#tinymce.wp-editor ol a[href*=eventbrite]:link {
  color: #141414;
  font-family: "theinhardtregular";
  font-size: 15px;
  line-height: 1.35;
  letter-spacing: 0.04em; }

/*-------------------------------------------------------------
	Text Sizes & Styles
--------------------------------------------------------------*/
/*

NOTES 

From the design ... 
✔ (captions) 15/20 : Captions
✔ (small)    16/22 : Artist list
✔ (sans)     20/26 : Palatino
✔ (med)      24/26 : interior pages locations
✔ (large)    28/32 : home page section headings, interior pages big text, home page locations
x 30/34 : locations 
✔ (x-large)  36/40 : single page titles, big text slideshow module, forum module
✔ (xx-large) 40/48 : home page about

*/
.keep {
  white-space: nowrap; }

.break {
  display: block; }

.tracked-out, .text-tiny-caps, .button, .button:link, .post-edit-link:link, input, h3 {
  letter-spacing: 0.2em; }

.serif
, .serif p, .serif body#tinymce.wp-editor ul, body#tinymce.wp-editor .serif ul, .serif body#tinymce.wp-editor ol, body#tinymce.wp-editor .serif ol {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.3;
  margin-bottom: 1em; }
  .serif
  em, .serif p em, .serif body#tinymce.wp-editor ul em, body#tinymce.wp-editor .serif ul em, .serif body#tinymce.wp-editor ol em, body#tinymce.wp-editor .serif ol em {
    font-style: oblique; }
  .serif
  b, .serif
  strong, .serif p b, .serif body#tinymce.wp-editor ul b, body#tinymce.wp-editor .serif ul b, .serif body#tinymce.wp-editor ol b, body#tinymce.wp-editor .serif ol b, .serif p strong, .serif body#tinymce.wp-editor ul strong, body#tinymce.wp-editor .serif ul strong, .serif body#tinymce.wp-editor ol strong, body#tinymce.wp-editor .serif ol strong {
    font-style: bold; }

.text-tiny-caps, .button, .button:link, .post-edit-link:link, input, h3 {
  font-family: "theinhardtregular";
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase; }

.entry-content h3 {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.3em;
  line-height: 1.9;
  margin-top: 3.5em; }

.entry-content h1 + .entry-content h3 {
  margin-top: 0; }

.entry-content h1:first-child {
  margin-top: 0; }

.entry-content h3:before {
  background-color: #ff672d;
  border-radius: 6px;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 1em;
  position: relative;
  top: 1px; }

.light-bg .entry-content h3:before {
  background-color: white; }

.captions, p.wp-caption-text, body#tinymce.wp-editor ul.wp-caption-text, body#tinymce.wp-editor ol.wp-caption-text {
  color: #969696;
  font-family: "theinhardtregular";
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 1em !important; }
  .captions em, p.wp-caption-text em, body#tinymce.wp-editor ul.wp-caption-text em, body#tinymce.wp-editor ol.wp-caption-text em {
    font-style: normal;
    font-family: "theinhardtregular_italic"; }
  .captions b, .captions strong, p.wp-caption-text b, body#tinymce.wp-editor ul.wp-caption-text b, body#tinymce.wp-editor ol.wp-caption-text b, p.wp-caption-text strong, body#tinymce.wp-editor ul.wp-caption-text strong, body#tinymce.wp-editor ol.wp-caption-text strong {
    font-style: normal;
    font-family: "theinhardtmedium"; }

.light-bg .captions, p.wp-caption-text, body#tinymce.wp-editor ul.wp-caption-text, body#tinymce.wp-editor ol.wp-caption-text {
  color: #141414; }

.small-text {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4; }

.medium-text {
  font-family: "theinhardtregular";
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.1; }

.large-text, .entry-content h1, .entry-content h2 {
  font-family: "theinhardtregular";
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: 0.02em;
  line-height: 1.15; }

.entry-content h1 {
  border-top: solid 1px #141414;
  letter-spacing: 0.03em;
  margin: 2.5em 0 1.5em;
  padding-top: 0.5em; }

.entry-content h2 {
  line-height: 1.2;
  margin-bottom: 1em; }

.x-large-text {
  font-family: "theinhardtregular";
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.1; }

.xx-large-text {
  font-family: "theinhardtregular";
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.2; }

/*-------------------------------------------------------------
	Links
--------------------------------------------------------------*/
a:link {
  border-bottom: solid 1px;
  color: #141414;
  cursor: pointer; }

a:visited {
  border-bottom: solid 1px;
  color: #141414; }

a:hover {
  color: #ff672d;
  border-bottom: none; }

a:active {
  color: #ff672d;
  border-bottom: none; }

li a:link {
  border: none;
  color: #141414; }
li a:visited {
  border: none;
  color: #141414; }
li a:hover {
  color: #ff672d; }
li a:active {
  color: #ff672d; }

a[href*=eventbrite]:link {
  background-color: #ff672d;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 14px 20px; }

a[href*=eventbrite]:hover {
  background-color: #003c62;
  color: white !important; }

.dark-bg a[href*=eventbrite]:hover {
  background-color: white; }

/*-------------------------------------------------------------
	Elements & Typographic Modules
--------------------------------------------------------------*/
hr {
  border: none;
  border-color: #141414;
  border-top: solid 1px;
  display: block;
  margin: 3em 0 1em; }

.button, .button:link, .post-edit-link:link {
  border: solid 1px #141414;
  display: block;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px; }

.button + .button {
  border-left: 0; }

.post-edit-link {
  margin: 20px 0;
  text-align: center; }

a.button:hover, a.post-edit-link:hover {
  background-color: #141414;
  color: white; }

input {
  background-color: transparent;
  outline: none;
  text-transform: uppercase; }

input[type="submit"] {
  cursor: pointer; }

input[type="submit"]:hover {
  outline: none;
  background-color: #ff672d; }

input[type="submit"].light-bg:hover {
  outline: none;
  background-color: white; }

::-webkit-input-placeholder {
  color: #141414; }

:-ms-input-placeholder {
  color: #141414; }

:-moz-placeholder {
  color: #141414; }

::-moz-placeholder {
  color: #141414; }

/*-------------------------------------------------------------
	Entry Content 
--------------------------------------------------------------*/
.entry-content q, .entry-content blockquote, .entry-content q p, .entry-content q body#tinymce.wp-editor ul, body#tinymce.wp-editor .entry-content q ul, .entry-content q body#tinymce.wp-editor ol, body#tinymce.wp-editor .entry-content q ol, .entry-content blockquote p, .entry-content blockquote body#tinymce.wp-editor ul, body#tinymce.wp-editor .entry-content blockquote ul, .entry-content blockquote body#tinymce.wp-editor ol, body#tinymce.wp-editor .entry-content blockquote ol {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em; }
.entry-content ul, .entry-content ol {
  margin: 1em 0; }
  .entry-content ul a:link, .entry-content ol a:link {
    color: #141414;
    border-bottom: solid 1px; }
  .entry-content ul a:visited, .entry-content ol a:visited {
    color: #141414;
    border-bottom: solid 1px; }
  .entry-content ul a:hover, .entry-content ol a:hover {
    color: #ff672d;
    border-bottom: none; }
  .entry-content ul a:active, .entry-content ol a:active {
    color: #ff672d;
    border-bottom: none; }
  .entry-content ul h2, .entry-content ol h2 {
    margin-bottom: 0; }
    .entry-content ul h2 a:link, .entry-content ol h2 a:link {
      border: none;
      color: #141414; }
    .entry-content ul h2 a:visited, .entry-content ol h2 a:visited {
      border: none;
      color: #141414; }
    .entry-content ul h2 a:hover, .entry-content ol h2 a:hover {
      color: #ff672d; }
    .entry-content ul h2 a:active, .entry-content ol h2 a:active {
      color: #ff672d; }
.entry-content ol {
  counter-reset: item;
  margin-left: 2em; }
  .entry-content ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    margin-left: -2em;
    position: absolute; }
.entry-content div {
  margin: 0;
  padding: 0;
  width: auto !important; }
  .entry-content div img {
    margin: 0 auto;
    width: 100% !important;
    height: auto !important; }
.entry-content :last-child {
  margin-bottom: 0; }

body#tinymce.wp-editor.wp-autoresize {
  padding-top: 3.5% !important;
  padding-bottom: 1px !important;
  padding-left: 3.5% !important;
  padding-right: 3.5% !important; }

body#tinymce.wp-editor p, body#tinymce.wp-editor ul, body#tinymce.wp-editor ol {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 1.3;
  margin-bottom: 1em; }
  body#tinymce.wp-editor p em, body#tinymce.wp-editor ul em, body#tinymce.wp-editor ol em {
    font-style: oblique; }
  body#tinymce.wp-editor p b, body#tinymce.wp-editor ul b, body#tinymce.wp-editor ol b, body#tinymce.wp-editor p strong, body#tinymce.wp-editor ul strong, body#tinymce.wp-editor ol strong {
    font-style: bold; }
body#tinymce.wp-editor .captions, body#tinymce.wp-editor p.wp-caption-text, body#tinymce.wp-editor ul.wp-caption-text, body#tinymce.wp-editor ol.wp-caption-text {
  color: #969696;
  font-family: "theinhardtregular";
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-top: 1em;
  letter-spacing: 0.02em; }
  body#tinymce.wp-editor .captions em, body#tinymce.wp-editor p.wp-caption-text em, body#tinymce.wp-editor ul.wp-caption-text em, body#tinymce.wp-editor ol.wp-caption-text em {
    font-style: normal;
    font-family: "theinhardtregular_italic"; }
  body#tinymce.wp-editor .captions b, body#tinymce.wp-editor .captions strong, body#tinymce.wp-editor p.wp-caption-text b, body#tinymce.wp-editor ul.wp-caption-text b, body#tinymce.wp-editor ol.wp-caption-text b, body#tinymce.wp-editor p.wp-caption-text strong, body#tinymce.wp-editor ul.wp-caption-text strong, body#tinymce.wp-editor ol.wp-caption-text strong {
    font-style: normal;
    font-family: "theinhardtmedium"; }
body#tinymce.wp-editor q, body#tinymce.wp-editor blockquote, body#tinymce.wp-editor q p, body#tinymce.wp-editor q ul, body#tinymce.wp-editor q ol, body#tinymce.wp-editor blockquote p, body#tinymce.wp-editor blockquote ul, body#tinymce.wp-editor blockquote ol {
  margin-left: 1em;
  margin-right: 1em; }
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2 {
  font-family: "theinhardtregular";
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: 0.02em;
  line-height: 1.15; }
body#tinymce.wp-editor h1 {
  border-top: solid 1px #141414;
  letter-spacing: 0.03em;
  margin: 2.5em 0 1.5em;
  padding-top: 0.5em; }
body#tinymce.wp-editor h1:first-child {
  margin-top: 0; }
body#tinymce.wp-editor h2 {
  line-height: 1.2;
  margin-bottom: 1em; }
body#tinymce.wp-editor ul, body#tinymce.wp-editor ol {
  margin: 1em 0; }
  body#tinymce.wp-editor ul a:link, body#tinymce.wp-editor ol a:link {
    color: #141414;
    border-bottom: solid 1px; }
  body#tinymce.wp-editor ul a:visited, body#tinymce.wp-editor ol a:visited {
    color: #141414;
    border-bottom: solid 1px; }
  body#tinymce.wp-editor ul a:hover, body#tinymce.wp-editor ol a:hover {
    color: #ff672d;
    border-bottom: none; }
  body#tinymce.wp-editor ul a:active, body#tinymce.wp-editor ol a:active {
    color: #ff672d;
    border-bottom: none; }
  body#tinymce.wp-editor ul h2, body#tinymce.wp-editor ol h2 {
    margin-bottom: 0; }
    body#tinymce.wp-editor ul h2 a:link, body#tinymce.wp-editor ol h2 a:link {
      border: none;
      color: #141414; }
    body#tinymce.wp-editor ul h2 a:visited, body#tinymce.wp-editor ol h2 a:visited {
      border: none;
      color: #141414; }
    body#tinymce.wp-editor ul h2 a:hover, body#tinymce.wp-editor ol h2 a:hover {
      color: #ff672d; }
    body#tinymce.wp-editor ul h2 a:active, body#tinymce.wp-editor ol h2 a:active {
      color: #ff672d; }
body#tinymce.wp-editor ol {
  counter-reset: item;
  margin-left: 2em; }
  body#tinymce.wp-editor ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    margin-left: -2em;
    position: absolute; }
body#tinymce.wp-editor div {
  margin: 0;
  padding: 0;
  width: auto !important; }
body#tinymce.wp-editor img {
  margin: 0 auto;
  width: 100% !important;
  height: auto !important; }

/*# sourceMappingURL=154_editor-styles.css.map */
