@charset "UTF-8";
/*-------------------------------------------------------------
	NOTES

	Edition light color should be between 60 and 80% lightness on the HSL scale

	Edition dark color should be between 0 and 30% lightness on the HSL scale. Upwards of 50% would be OK.

	http://hslpicker.com/

--------------------------------------------------------------*/
/*-------------------------------------------------------------
	Setup
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_s_backboneize_in_s_backboneafari_for_ios_without_disabling_user_zoom/ */ }

body {
  background-color: #FFFFFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:link {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clears floated elements */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility;
  /* kerning */ }

/*-------------------------------------------------------------
	Presentational Classes
--------------------------------------------------------------*/
.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden;
  opacity: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.center {
  float: none;
  margin: 0 auto; }

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 0; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

/*-------------------------------------------------------------
	Layout
--------------------------------------------------------------*/
img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%; }

a:hover .thumbnail {
  background-color: #cccccc; }
  a:hover .thumbnail img {
    opacity: 0.4; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 22, 2015 */
@font-face {
  font-family: "theinhardtregular";
  src: url("../fonts/theinhardt-regular-webfont.eot");
  src: url("../fonts/theinhardt-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-regular-webfont.woff2") format("woff2"), url("../fonts/theinhardt-regular-webfont.woff") format("woff"), url("../fonts/theinhardt-regular-webfont.ttf") format("truetype"), url("../fonts/theinhardt-regular-webfont.svg#theinhardtregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "theinhardtregular_italic";
  src: url("../fonts/theinhardt-regularita-webfont.eot");
  src: url("../fonts/theinhardt-regularita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-regularita-webfont.woff2") format("woff2"), url("../fonts/theinhardt-regularita-webfont.woff") format("woff"), url("../fonts/theinhardt-regularita-webfont.ttf") format("truetype"), url("../fonts/theinhardt-regularita-webfont.svg#theinhardtregular_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "theinhardtmedium";
  src: url("../fonts/theinhardt-medium-webfont.eot");
  src: url("../fonts/theinhardt-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-medium-webfont.woff2") format("woff2"), url("../fonts/theinhardt-medium-webfont.woff") format("woff"), url("../fonts/theinhardt-medium-webfont.ttf") format("truetype"), url("../fonts/theinhardt-medium-webfont.svg#theinhardtmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "theinhardtmedium_italic";
  src: url("../fonts/theinhardt-mediumita-webfont.eot");
  src: url("../fonts/theinhardt-mediumita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-mediumita-webfont.woff2") format("woff2"), url("../fonts/theinhardt-mediumita-webfont.woff") format("woff"), url("../fonts/theinhardt-mediumita-webfont.ttf") format("truetype"), url("../fonts/theinhardt-mediumita-webfont.svg#theinhardtmedium_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*-------------------------------------------------------------
	Color (v.2)
--------------------------------------------------------------*/
a:hover {
  color: #cccccc; }

a:active {
  color: #cccccc; }

li a:hover {
  color: #cccccc; }
li a:active {
  color: #cccccc; }

.dark-bg {
  background-color: #333333;
  color: white; }
  .dark-bg a
  , .dark-bg a:link
  , .dark-bg a:visited
  , .dark-bg .current-menu-item a
  , .dark-bg .current_page_item a {
    color: white; }
  .dark-bg .opposite-bg, .dark-bg .white-bg {
    background-color: white;
    color: #141414; }
    .dark-bg .opposite-bg a
    , .dark-bg .opposite-bg a:link
    , .dark-bg .opposite-bg a:visited
    , .dark-bg .opposite-bg .current-menu-item a
    , .dark-bg .opposite-bg .current_page_item a, .dark-bg .white-bg a
    , .dark-bg .white-bg a:link
    , .dark-bg .white-bg a:visited
    , .dark-bg .white-bg .current-menu-item a
    , .dark-bg .white-bg .current_page_item a {
      color: #141414; }

.light-bg {
  background-color: #cccccc;
  color: #141414; }
  .light-bg a
  , .light-bg a:link
  , .light-bg a:visited
  , .light-bg .current-menu-item a
  , .light-bg .current_page_item a {
    color: #141414; }
  .light-bg input[type="submit"]:focus, .light-bg input[type="submit"]:hover, .light-bg input[type="submit"]:active {
    background-color: #cccccc; }

.white-bg {
  background-color: white;
  color: #141414; }
  .white-bg .opposite-bg {
    background-color: #333333;
    color: white; }
    .white-bg .opposite-bg a
    , .white-bg .opposite-bg a:link
    , .white-bg .opposite-bg a:visited
    , .white-bg .opposite-bg .current-menu-item a
    , .white-bg .opposite-bg .current_page_item a {
      color: white; }

.dark-bg a:hover
, .dark-bg a:active, .dark-bg .opposite-bg a:hover
, .dark-bg .opposite-bg a:active, .white-bg a:hover
, .white-bg a:active, .white-bg .opposite-bg a:hover
, .white-bg .opposite-bg a:active {
  color: #cccccc; }

#header nav li a:hover
, #header nav li a:active
, #header nav .current-menu-item a
, #header nav .current_page_item a, #header nav.dark-bg li a:hover
, #header nav.dark-bg li a:active
, #header nav.dark-bg .current-menu-item a
, #header nav.dark-bg .current_page_item a {
  background-color: #cccccc; }

.hover-light-bg:hover
, .hover-light-bg:active, a.hover-light-bg:hover
, a.hover-light-bg:active {
  background-color: #cccccc; }

.hover-inverse:hover
, .hover-inverse:active, a.hover-inverse:hover
, a.hover-inverse:active {
  color: #cccccc; }

input[type="submit"]:hover
, a[href*=eventbrite]:link
, .entry-content h3:before
, .post-password-form {
  background-color: #cccccc; }

.module.slideshow a:hover * {
  color: #cccccc; }

a.multiple-choice.active:before
, a.multiple-choice:hover:before {
  background-color: #cccccc; }

.entry-content ul a:hover, .entry-content ol a:hover {
  color: #cccccc; }
.entry-content ul a:active, .entry-content ol a:active {
  color: #cccccc; }
.entry-content ul h2 a:visited, .entry-content ol h2 a:visited {
  color: #141414; }
.entry-content ul h2 a:hover, .entry-content ol h2 a:hover {
  color: #cccccc; }
.entry-content ul h2 a:active, .entry-content ol h2 a:active {
  color: #cccccc; }

a:hover .thumbnail {
  background-color: #cccccc; }

html {
  font-size: 10px;
  font-size: 62.5%; }

body, p, .sans, a[href*=eventbrite]:link, p .sans, p a[href*=eventbrite]:link {
  color: #141414;
  font-family: "theinhardtregular";
  font-size: 15px;
  line-height: 1.35;
  letter-spacing: 0.04em; }

.dark-bg p, .dark-bg .sans, .dark-bg a[href*=eventbrite]:link, .dark-bg p .sans, .dark-bg p a[href*=eventbrite]:link {
  color: white; }

.light-bg p, .light-bg .sans, .light-bg a[href*=eventbrite]:link, .light-bg p .sans, .light-bg p a[href*=eventbrite]:link, .white-bg p, .white-bg .sans, .white-bg a[href*=eventbrite]:link, .white-bg p .sans, .white-bg p a[href*=eventbrite]:link {
  color: #141414; }

/*-------------------------------------------------------------
	Text Sizes & Styles
--------------------------------------------------------------*/
/*

NOTES 

From the design ... 
✔ (captions) 15/20 : Captions
✔ (small)    16/22 : Artist list
✔ (sans)     20/26 : Palatino
✔ (med)      24/26 : interior pages locations
✔ (large)    28/32 : home page section headings, interior pages big text, home page locations
x 30/34 : locations 
✔ (x-large)  36/40 : single page titles, big text slideshow module, forum module
✔ (xx-large) 40/48 : home page about

*/
.keep {
  white-space: nowrap; }

.break {
  display: block; }

.tracked-out, .text-tiny-caps, .button, .button:link, .post-edit-link:link, input, .nothing-found input[type="text"], .nothing-found input#searchsubmit, h3, .post-password-form input[type="submit"], div.nothing-found input[type="submit"], .page-details input[type="submit"] {
  letter-spacing: 0.2em; }

.serif
, .serif p {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.3;
  margin-bottom: 1em; }
  .serif
  em, .serif p em {
    font-style: oblique; }
  .serif
  b, .serif
  strong, .serif p b, .serif p strong {
    font-style: bold; }

.sans, a[href*=eventbrite]:link, p .sans, p a[href*=eventbrite]:link, .sans p, a[href*=eventbrite]:link p, p.sans {
  font-family: "theinhardtregular";
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: 0.04em; }

.text-tiny-caps, .button, .button:link, .post-edit-link:link, input, .nothing-found input[type="text"], .nothing-found input#searchsubmit, h3 {
  font-family: "theinhardtregular";
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase; }

.entry-content h3 {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.3em;
  line-height: 1.9;
  margin-top: 3.5em; }

.entry-content h1 + .entry-content h3 {
  margin-top: 0; }

.entry-content h1:first-child {
  margin-top: 0; }

.entry-content h3:before {
  background-color: #cccccc;
  border-radius: 6px;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 1em;
  position: relative;
  top: 1px; }

.light-bg .entry-content h3:before {
  background-color: white; }

.caption, p.caption, p.wp-caption-text, .wp-caption-text {
  font-family: "theinhardtregular";
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 1em !important; }
  .caption a:link, p.caption a:link, p.wp-caption-text a:link, .wp-caption-text a:link {
    color: #999999; }
  .caption em, p.caption em, p.wp-caption-text em, .wp-caption-text em {
    font-style: normal;
    font-family: "theinhardtregular_italic"; }
  .caption b, .caption strong, p.caption b, p.caption strong, p.wp-caption-text b, p.wp-caption-text strong, .wp-caption-text b, .wp-caption-text strong {
    font-style: normal;
    font-family: "theinhardtmedium"; }

.dark-bg .caption, .dark-bg p.caption, .dark-bg p.wp-caption-text, .dark-bg .wp-caption-text, .dark-bg figcaption, .white-bg .caption, .white-bg p.caption, .white-bg p.wp-caption-text, .white-bg .wp-caption-text, .white-bg figcaption {
  color: #999999; }

.light-bg .caption, .light-bg p.caption, .light-bg p.wp-caption-text, .light-bg .wp-caption-text, .light-bg figcaption {
  color: #141414; }
  .light-bg .caption a:link, .light-bg p.caption a:link, .light-bg p.wp-caption-text a:link, .light-bg .wp-caption-text a:link, .light-bg figcaption a:link {
    color: #141414; }

.small-text, .post-password-form input[type="submit"], div.nothing-found input[type="submit"], .page-details input[type="submit"] {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4; }

.medium-text, .post-password-form p, .post-password-form input, div.nothing-found p, div.nothing-found input, .page-details p, .page-details input {
  font-family: "theinhardtregular";
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.1; }

.large-text, .entry-content h1, .entry-content h2 {
  font-family: "theinhardtregular";
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: 0.02em;
  line-height: 1.15; }

.entry-content h1 {
  border-top: solid 1px;
  letter-spacing: 0.03em;
  margin: 2.5em 0 1.5em;
  padding-top: 0.5em; }

.entry-content h2 {
  line-height: 1.2;
  margin-bottom: 1em; }

.x-large-text {
  font-family: "theinhardtregular";
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: 0.06em;
  line-height: 1.1; }

.xx-large-text {
  font-family: "theinhardtregular";
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 0.025em;
  line-height: 1.2; }

.giant-text {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1.1; }

/*-------------------------------------------------------------
	Links
--------------------------------------------------------------*/
a:link {
  border-bottom: solid 1px;
  color: #141414;
  cursor: pointer; }

a:visited {
  border-bottom: solid 1px;
  color: #141414; }

a:hover {
  color: #cccccc;
  border-bottom: none; }

a:active {
  color: #cccccc;
  border-bottom: none; }

li a:link {
  border: none;
  color: #141414; }
li a:visited {
  border: none;
  color: #141414; }
li a:hover {
  color: #cccccc; }
li a:active {
  color: #cccccc; }

a[href*=eventbrite]:link {
  background-color: #cccccc;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 14px 20px; }

a[href*=eventbrite]:hover {
  background-color: #141414;
  color: white !important; }

.dark-bg a[href*=eventbrite]:hover {
  background-color: white; }

.hover-light-bg:hover
, .hover-light-bg:active {
  color: #141414; }

.hover-inverse:hover
, .hover-inverse:active {
  background-color: #141414; }

/*-------------------------------------------------------------
	Elements & Typographic Modules
--------------------------------------------------------------*/
hr {
  border: none;
  border-color: #141414;
  border-top: solid 1px;
  display: block;
  margin: 3em 0 1em; }

.button, .button:link, .post-edit-link:link {
  border: solid 1px #141414;
  display: block;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px; }

.button + .button {
  border-left: 0; }

.post-edit-link {
  margin: 20px 0;
  text-align: center; }

a.button:hover, a.post-edit-link:hover {
  border: solid 1px #141414;
  background-color: #141414;
  color: white; }

.dark-bg a.button, .dark-bg .post-edit-link {
  border-color: white; }
  .dark-bg a.button:hover, .dark-bg .post-edit-link:hover {
    background-color: white;
    color: #141414; }

.light-bg a.button, .light-bg .post-edit-link {
  border-color: #141414; }
  .light-bg a.button:hover, .light-bg .post-edit-link:hover {
    background-color: #141414;
    color: white; }

input {
  background-color: transparent;
  outline: none;
  text-transform: uppercase; }

input[type="submit"] {
  cursor: pointer; }

input[type="submit"]:hover {
  outline: none;
  background-color: #cccccc; }

input[type="submit"].light-bg:hover {
  outline: none;
  background-color: white; }

::-webkit-input-placeholder {
  color: #141414; }

:-ms-input-placeholder {
  color: #141414; }

:-moz-placeholder {
  color: #141414; }

::-moz-placeholder {
  color: #141414; }

a.multiple-choice, a:link.multiple-choice {
  border: none;
  color: #999999;
  display: inline-block;
  margin-left: 1.5em; }
  a.multiple-choice:before, a:link.multiple-choice:before {
    content: " ";
    display: inline-block;
    background-color: transparent;
    border: solid 1px #999999;
    border-radius: 0.5em;
    border-radius: 50%;
    float: left;
    left: 0;
    position: absolute;
    height: 1em;
    width: 1em; }
  a.multiple-choice.active
  , a.multiple-choice:hover, a:link.multiple-choice.active
  , a:link.multiple-choice:hover {
    color: #141414; }
  a.multiple-choice.active:before
  , a.multiple-choice:hover:before, a:link.multiple-choice.active:before
  , a:link.multiple-choice:hover:before {
    border: 0 !important;
    background-color: #cccccc; }

.dark-bg a.multiple-choice, .dark-bg a:link.multiple-choice {
  color: #999999; }
  .dark-bg a.multiple-choice.active
  , .dark-bg a.multiple-choice:hover, .dark-bg a:link.multiple-choice.active
  , .dark-bg a:link.multiple-choice:hover {
    color: white; }
.dark-bg .opposite-bg a.multiple-choice, .dark-bg .opposite-bg a:link.multiple-choice {
  color: #999999; }
  .dark-bg .opposite-bg a.multiple-choice.active
  , .dark-bg .opposite-bg a.multiple-choice:hover, .dark-bg .opposite-bg a:link.multiple-choice.active
  , .dark-bg .opposite-bg a:link.multiple-choice:hover {
    color: #141414; }

.white-bg a.multiple-choice, .white-bg a:link.multiple-choice {
  color: #999999; }
  .white-bg a.multiple-choice.active
  , .white-bg a.multiple-choice:hover, .white-bg a:link.multiple-choice.active
  , .white-bg a:link.multiple-choice:hover {
    color: #141414; }

/*-------------------------------------------------------------
	Entry Content 
--------------------------------------------------------------*/
.entry-content q, .entry-content blockquote, .entry-content q p, .entry-content blockquote p {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em; }
.entry-content ul, .entry-content ol {
  margin: 1em 0; }
  .entry-content ul a:link, .entry-content ol a:link {
    color: #141414;
    border-bottom: solid 1px; }
  .entry-content ul a:visited, .entry-content ol a:visited {
    color: #141414;
    border-bottom: solid 1px; }
  .entry-content ul a:hover, .entry-content ol a:hover {
    color: #cccccc;
    border-bottom: none; }
  .entry-content ul a:active, .entry-content ol a:active {
    color: #cccccc;
    border-bottom: none; }
  .entry-content ul h2, .entry-content ol h2 {
    margin-bottom: 0; }
    .entry-content ul h2 a:link, .entry-content ol h2 a:link {
      border: none;
      color: #141414; }
    .entry-content ul h2 a:visited, .entry-content ol h2 a:visited {
      border: none;
      color: #141414; }
    .entry-content ul h2 a:hover, .entry-content ol h2 a:hover {
      color: #cccccc; }
    .entry-content ul h2 a:active, .entry-content ol h2 a:active {
      color: #cccccc; }
.entry-content ol {
  counter-reset: item;
  margin-left: 2em; }
  .entry-content ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    margin-left: -2em;
    position: absolute; }
.entry-content div, .entry-content figure, .entry-content .entry-caption {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: auto !important; }
.entry-content img {
  margin: 0 auto;
  width: 100% !important;
  height: auto !important; }
.entry-content img + p {
  margin-top: 1em; }
.entry-content :last-child {
  margin-bottom: 0; }

/*-------------------------------------------------------------
	Containers
--------------------------------------------------------------*/
.wrapper {
  margin: 0 auto;
  padding: 0 3.5%; }

/*-------------------------------------------------------------
	Sticky footer, etc.
	http://www.wentsch.me/responsive-sticky-footer-flexible-height
--------------------------------------------------------------*/
html
, body {
  height: 100%; }

body {
  display: table;
  width: 100%;
  /* Fix for Firefox and IE to keep correct max-width behaviour on images: */
  table-layout: fixed; }

.page-row {
  display: table-row;
  height: 1px; }

.page-row-expanded {
  height: 100%; }

/*-------------------------------------------------------------
	Columns
--------------------------------------------------------------*/
.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.column {
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 20px 0 0;
  position: relative; }

.column.no-padding {
  padding: 0; }

.column.float-right {
  float: right; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.quarter {
  width: 25%; }

.quarter-2 {
  width: 50%; }

.quarter-3 {
  width: 75%; }

.fifth {
  width: 20%; }

.fifth-2 {
  width: 40%; }

.fifth-3 {
  width: 60%; }

.fifth-4 {
  width: 80%; }

.third {
  width: 33.333%; }

.third-2 {
  width: 66.666%; }

.sixth {
  width: 16.6666%; }

.sixth-5 {
  width: 83.3333%; }

.ninth {
  width: 11.10%; }

.ninth-2 {
  width: 22.21%; }

.ninth-3 {
  width: 33.32%; }

.ninth-4 {
  width: 44.43%; }

.ninth-5 {
  width: 55.54%; }

.ninth-6 {
  width: 66.65%; }

.ninth-7 {
  width: 77.76%; }

.ninth-8 {
  width: 88.87%; }

.text-columns p
, .text-columns li li {
  display: inline-block;
  width: 100%;
  -webkit-column-gap: 4%;
  -moz-column-gap: 4%;
  column-gap: 4%;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  margin-right: 1em; }

.text-columns.column-5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5; }

.text-columns.column-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4; }

.text-columns.column-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

/*-------------------------------------------------------------
	Header
--------------------------------------------------------------*/
#header nav {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 40px;
  letter-spacing: 0.15em; }
  #header nav li {
    display: inline-block;
    float: left; }
  #header nav a:link {
    display: block;
    padding: 0 0.85em; }
  #header nav li:first-child {
    margin-left: -0.85em; }
  #header nav li a:hover
  , #header nav li a:active
  , #header nav .current-menu-item a
  , #header nav .current_page_item a, #header nav.dark-bg li a:hover
  , #header nav.dark-bg li a:active
  , #header nav.dark-bg .current-menu-item a
  , #header nav.dark-bg .current_page_item a {
    background-color: #cccccc;
    color: #141414; }
  #header nav .menu-item.subtle a, #header nav.dark-bg .menu-item.subtle a {
    color: #999999; }

.scrolled #header nav {
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 4000; }

#masthead {
  padding-top: 30px;
  padding-bottom: 40px; }

#logo img {
  display: inline-block;
  height: 3.1em; }
#logo h1 {
  display: inline-block;
  margin-left: 0.5em; }

/*-------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
#footer #coverall {
  z-index: 5000; }
#footer .wrapper {
  padding-top: 60px;
  padding-bottom: 20px; }

.footer-actions {
  margin-bottom: 30px;
  overflow: hidden; }
  .footer-actions .newsletter
  , .footer-actions #search {
    padding: 0; }
    .footer-actions .newsletter
    .button, .footer-actions #search .button {
      border: 0;
      padding: 0; }
    .footer-actions .newsletter
    .border-right, .footer-actions #search .border-right {
      border-right: solid 1px #141414; }
    .footer-actions .newsletter
    .border-left, .footer-actions #search .border-left {
      border-left: solid 1px #141414; }
    .footer-actions .newsletter
    .primary, .footer-actions #search .primary {
      width: 100%; }
    .footer-actions .newsletter
    .secondary, .footer-actions #search .secondary {
      padding: 0;
      width: 0; }
  .footer-actions .newsletter:hover #signup-blind {
    width: 0;
    overflow: hidden; }
  .footer-actions #search:hover .primary {
    width: 75%; }
  .footer-actions #search:hover .secondary {
    width: 25%; }

.footer-info {
  width: 100%; }
  .footer-info .narrow {
    display: none; }
  .footer-info .table-cell {
    border-top: solid 1px #141414;
    border-left: solid 1px #141414;
    border-bottom: solid 1px #141414;
    vertical-align: top;
    padding: 8px 12px 10px; }
  .footer-info .table-cell:last-child {
    border-right: solid 1px #141414; }
  .footer-info .table-row + .table-row .table-cell {
    border-top: 0; }
  .footer-info a.home-link {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.25; }
  .footer-info .home-link:hover {
    color: #141414; }

/*-------------------------------------------------------------
	Posts & Pages
--------------------------------------------------------------*/
#content {
  padding: 0 0 80px; }

#content header.header {
  margin-top: 20px;
  margin-bottom: 70px; }

.entry-content {
  margin: 0 auto; }

/*-------------------------------------------------------------
	Password Protected, Search, & 404 Pages
--------------------------------------------------------------*/
.post-password-form {
  background-color: #cccccc; }

.post-password-form, div.nothing-found, .page-details {
  color: #141414;
  padding: 20px 25px 35px;
  -webkit-box-shadow: 5px 5px 0px 0px #141414;
  -moz-box-shadow: 5px 5px 0px 0px #141414;
  box-shadow: 5px 5px 0px 0px #141414; }
  .post-password-form p, .post-password-form input, div.nothing-found p, div.nothing-found input, .page-details p, .page-details input {
    color: #141414; }
  .post-password-form input, div.nothing-found input, .page-details input {
    border: 0;
    border: solid 1px #141414;
    display: block;
    line-height: 50px;
    margin: 1em 0 0;
    outline: 0;
    padding: 0 20px;
    width: 100%; }
  .post-password-form input[type="submit"], div.nothing-found input[type="submit"], .page-details input[type="submit"] {
    border: solid 1px #141414;
    border-top: 0;
    line-height: 50px;
    margin-top: 0;
    text-transform: uppercase; }
  .post-password-form input[type="submit"]:focus, .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:active, div.nothing-found input[type="submit"]:focus, div.nothing-found input[type="submit"]:hover, div.nothing-found input[type="submit"]:active, .page-details input[type="submit"]:focus, .page-details input[type="submit"]:hover, .page-details input[type="submit"]:active {
    background-color: white; }

.nothing-found p {
  margin-bottom: 1em; }
.nothing-found input[type="text"] {
  margin-top: 0;
  width: 75%; }
.nothing-found input#searchsubmit {
  width: 25%;
  border-top: solid 1px #141414;
  border-left: 0; }

.light-bg .post-password-form, .light-bg div.nothing-found, .light-bg .page-details {
  background-color: white; }
.light-bg input[type="submit"]:focus, .light-bg input[type="submit"]:hover, .light-bg input[type="submit"]:active {
  background-color: #cccccc; }

.page-details {
  margin-bottom: 50px;
  padding-bottom: 20px; }
  .page-details p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1em; }

/*-------------------------------------------------------------
	News Archive
--------------------------------------------------------------*/
.news-archive article {
  padding-right: 4%; }
  .news-archive article header {
    margin-bottom: 0.5em; }
  .news-archive article h2 {
    margin-top: 0.7em; }

/*-------------------------------------------------------------
	Modules
--------------------------------------------------------------*/
.shadowed {
  -webkit-box-shadow: 5px 5px 0px 0px #141414;
  -moz-box-shadow: 5px 5px 0px 0px #141414;
  box-shadow: 5px 5px 0px 0px #141414; }

#action-button {
  border-radius: 60px;
  border-radius: 50%;
  color: #141414;
  display: block;
  line-height: 120px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  bottom: 40px;
  right: 3.5%;
  z-index: 3000; }
  #action-button a {
    border: 0;
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 100%; }

#content.module-container {
  padding: 0; }

.module {
  border-top: solid 1px #141414;
  padding-bottom: 80px; }
  .module:first-of-type {
    border-top: none; }

.module.slideshow {
  min-height: 500px;
  /* so when we fade it in, the whole page doesn't jump */ }
  .module.slideshow.no-header {
    padding-top: 40px; }
    .module.slideshow.no-header .section-header {
      display: none; }
  .module.slideshow .slide header {
    margin-bottom: 0.5em; }
  .module.slideshow .slide img {
    margin-bottom: 15px; }
  .module.slideshow .slide h2 {
    padding-right: 10%; }
  .module.slideshow .nav {
    cursor: pointer;
    height: 100%;
    width: 15%;
    top: 0;
    bottom: 0;
    padding: 0 3.5%; }
    .module.slideshow .nav .arrow {
      display: block;
      width: 45px;
      height: 90px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto; }
    .module.slideshow .nav.prev {
      left: 0; }
      .module.slideshow .nav.prev .arrow {
        left: 26.25%;
        background: url(../images/154_graphics_icon_prev_light-bg.png); }
      .module.slideshow .nav.prev:hover .arrow {
        background: url(../images/154_graphics_icon_prev_dark-bg.png); }
    .module.slideshow .nav.next {
      right: 0; }
      .module.slideshow .nav.next .arrow {
        right: 26.25%;
        background: url(../images/154_graphics_icon_next_light-bg.png); }
      .module.slideshow .nav.next:hover .arrow {
        background: url(../images/154_graphics_icon_next_dark-bg.png); }

.module.big-info p {
  margin-bottom: 1em; }
.module.big-info .section-content .info-text {
  margin: 0 auto; }
.module.big-info .section-content.adverts .info-text {
  float: left; }
.module.big-info .advert {
  margin-bottom: 20px;
  height: 140px;
  width: 140px; }
  .module.big-info .advert a:link {
    background-color: white;
    border: none;
    display: block;
    margin-bottom: 20px;
    padding: 8px 12px 15px;
    width: 100%;
    height: 100%; }
  .module.big-info .advert a:hover {
    background-color: #141414;
    color: white; }

.module.selected-artists .artist h2 {
  margin-top: 0.5em; }

.archive #content .selected-artists header.header {
  margin-bottom: 1em; }

.module.artists-exhibitors .choice {
  display: none; }
.module.artists-exhibitors .choice.active {
  display: block; }
.module.artists-exhibitors .section-content {
  line-height: 1.5; }
.module.artists-exhibitors .hover.preview {
  z-index: 5001; }
  .module.artists-exhibitors .hover.preview.text {
    max-width: 200px;
    padding: 10px 20px; }
  .module.artists-exhibitors .hover.preview.image img {
    max-width: 200px;
    max-height: 200px; }

.module.forum .forum-pattern {
  background-attachment: fixed;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }
.module.forum .entry-header {
  margin-top: 1em; }
.module.forum .forum-block {
  margin-bottom: 50px;
  height: 180px;
  padding-right: 4%; }
  .module.forum .forum-block a {
    border: 0;
    border-top: solid 1px;
    display: block;
    padding-right: 8%; }
  .module.forum .forum-block h2 {
    max-height: 4.4em;
    overflow: hidden; }

.dark-bg .forum a.button {
  border: solid 1px white; }

.white-bg .forum-pattern {
  opacity: 0.15; }

.edition-archive .past-edition {
  padding-right: 40px; }
.edition-archive .past-edition .edition-link {
  border: none;
  display: block;
  margin-bottom: 5px;
  min-height: 200px;
  padding: 20px; }

.slick-list {
  padding: 0 3.5% 0 0;
  margin-left: 3.5%; }

.slick-slider {
  margin-bottom: 0; }

/*# sourceMappingURL=154_style.css.map */
