@charset "UTF-8"; 

/*-------------------------------------------------------------
	Color
--------------------------------------------------------------*/

.white-bg {
	background-color: $white;
	color: $black;
}
.light-bg {
	background-color: $edition_light;
	color: $black;
}
.dark-bg {
	background-color: $edition_dark;
	color: $white;

	hr { border-color: $white; }

	a:link { 
		color: $white; 
		border-bottom: solid 1px;
	}
	a:visited { 
		color: $white; 
		border-bottom: solid 1px;
	}
	a:hover { 
		color: $edition_light; 
		border-bottom: none;
	}
	a:active  { 
		color: $edition_light; 
		border-bottom: none;
	}

	li {
		a:link { 
			border: none;
			color: $white; 
		}
		a:visited { 
			border: none;
			color: $white; 
		}
		a:hover   { color: $edition_light; }
		a:active  { color: $edition_light; }
	}

}

.white-bg, .light-bg {
	
	hr { border-color: $black; }

	a:link { 
		color: $black; 
		border-bottom: solid 1px;
	}
	a:visited { 
		color: $black; 
		border-bottom: solid 1px;
	}
	a:hover { 
		color: $edition_light; 
		border-bottom: none;
	}
	a:active  { 
		color: $edition_light; 
		border-bottom: none;
	}

	li {
		a:link { 
			border: none;
			color: $black; 
		}
		a:visited { 
			border: none;
			color: $black; 
		}
		a:hover   { color: $edition_light; }
		a:active  { color: $edition_light; }
	}

}