@charset "UTF-8"; 

// div { border: solid 1px blue; }
// section { border: solid 1px red; }
// article { border: solid 1px magenta; }

/*-------------------------------------------------------------
	Containers
--------------------------------------------------------------*/

.wrapper {
	margin: 0 auto;
	padding: 0 3.5%;
}

// .wrapper, 
// #content, 
// header, 
// #header, 
// #masthead, 
// #footer {
// 	min-width: 1000px;
// 	overflow: hidden;
// }

/*-------------------------------------------------------------
	Sticky footer, etc.
	http://www.wentsch.me/responsive-sticky-footer-flexible-height
--------------------------------------------------------------*/

html
, body {
	height: 100%;
}

body {
	display: table;
	width: 100%;
	/* Fix for Firefox and IE to keep correct max-width behaviour on images: */
	table-layout: fixed;
}
.page-row {
	display: table-row;
	height: 1px;
}
.page-row-expanded {
	height: 100%;
}

/*-------------------------------------------------------------
	Columns
--------------------------------------------------------------*/

.no-margin  { margin: 0; }
.no-padding { padding: 0; }

.column {
	display: block;
	float: left;
	overflow: hidden;
	padding: 0 20px 0 0;
	position: relative;
}
	.column.no-padding {
		padding: 0;
	}
	.column.float-right {
		float: right;
	}

.full-width  { width: 100%; }
.full-height { height: 100%; }

.quarter   { width: 25%; }
.quarter-2 { width: 50%; }
.quarter-3 { width: 75%; }

.fifth     { width: 20%; }
.fifth-2   { width: 40%; }
.fifth-3   { width: 60%; }
.fifth-4   { width: 80%; }

.third     { width: 33.333%; }
.third-2   { width: 66.666%; }

.sixth     { width: 16.6666%; }
// .third
// .quarter-2
// .third-2
.sixth-5   { width: 83.3333%; }

.ninth     { width: 11.10%; }
.ninth-2   { width: 22.21%; }
.ninth-3   { width: 33.32%; }
.ninth-4   { width: 44.43%; }
.ninth-5   { width: 55.54%; }
.ninth-6   { width: 66.65%; }
.ninth-7   { width: 77.76%; }
.ninth-8   { width: 88.87%; }


.text-columns p
, .text-columns li li {
	display: inline-block;
	width: 100%; // to counter the inline-block
	-webkit-column-gap: 4%;
	   -moz-column-gap: 4%;
	        column-gap: 4%;
	-webkit-column-break-inside: avoid;
	               break-inside: avoid-column;
	margin-right: 1em;
}
.text-columns.column-5 {
	-webkit-column-count: 5;
	   -moz-column-count: 5;
	        column-count: 5;
}
.text-columns.column-4 {
	-webkit-column-count: 4;
	   -moz-column-count: 4;
	        column-count: 4;
}
.text-columns.column-3 {
	-webkit-column-count: 3;
	   -moz-column-count: 3;
	        column-count: 3;
}

