@charset "UTF-8"; 

*,
*:before,
*:after { 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Clears floated elements */
.clear:before, 
.clear:after { content: ' '; display: table; }
.clear:after { clear: both; }
.clear { *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering:optimizeLegibility; /* kerning */
}


/*-------------------------------------------------------------
	Presentational Classes
--------------------------------------------------------------*/

.absolute { position: absolute; }
.fixed    { position: fixed; }
.relative { position: relative; }

.hidden    { display: none; }
.invisible { 
	visibility: hidden; 
	opacity: 0;
}

.float-left  { float: left; }
.float-right { float: right; }

.center { 
	float: none; 
	margin: 0 auto;
}

.table      { 
	display: table; 
	border-collapse: separate;
	border-spacing: 0;
}
.table-row  { display: table-row; }
.table-cell { display: table-cell; }

.align-right  { text-align: right; }
.align-center { text-align: center; }

