@charset "UTF-8"; 


/*-------------------------------------------------------------
	Header
--------------------------------------------------------------*/

#header nav { 
	@include font-size(1.4);
	line-height: 40px; 
	letter-spacing: 0.15em;

	li { 
		display: inline-block; 
		float: left;
	}
	a:link { 
		display: block;
		padding: 0 0.85em; 
	}
	li:first-child { 
		margin-left: -0.85em; 
	}
	&, &.dark-bg {
		li a:hover
		, li a:active
		, .current-menu-item a
		, .current_page_item a {
			background-color: $edition_light;
			color: $black;
		}
		.menu-item.subtle a {
			color: $gray;
		}
	}

}

.scrolled #header nav {
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
	z-index: 4000;
}

#masthead {
	padding-top: 30px;
	padding-bottom: 40px;
}

#logo {
	img { 
		display: inline-block;
		height: 3.1em; 
	}
	h1 {
		display: inline-block;
		margin-left: 0.5em;
	}
}

// @media only screen and (max-width : 950px) {
// 	#header .large-text {
// 		@include font-size(2.4);
// 	}
// }

// @media only screen and (max-width : 780px) {

// 	#logo {
// 		width: 55.5554%;
// 	}
// 	#header-locations.large-text {
// 		@include font-size(1.8);
// 		width: 44.4443%;
// 	}

// }

// @media only screen and (max-width : 700px) {

// 	#masthead {
// 		padding-bottom: 30px;
// 	}

// 	#header .column {
// 		width: 100%;
// 		padding: 0;
// 	}

// 	#header-locations {
// 		margin-top: 15px;

// 		.location {
// 			border: solid $rule_thickness;
// 			border-color: $black;
// 			display: block;
// 			overflow: hidden;

// 			.break {
// 				display: inline;
// 			}
// 			a.multiple-choice {
// 				color: $black;
// 				display: block;
// 				margin-left: 0;
// 				padding: 15px 20px;

// 				&:before {
// 					display: none;
// 				}
// 				&.active, &:hover {
// 					background-color: $edition_light;
// 					color: $black;
// 				}
// 				&.active:hover {
// 					background-color: $edition_dark;
// 					color: $white;
// 				}
// 			}

// 		}
// 		.location + .location {
// 			border-top: 0;
// 		}
// 	}

// }

/*-------------------------------------------------------------
	Footer
--------------------------------------------------------------*/

#footer {

	// li {
	// 	a:link    { 
	// 		color: $black; 
	// 		border-bottom: solid $rule_thickness;
	// 	}
	// 	a:visited { 
	// 		color: $black; 
	// 		border-bottom: solid $rule_thickness;
	// 	}
	// 	a:hover   { 
	// 		color: $edition_light; 
	// 		border-bottom: none;
	// 	}
	// 	a:active  { 
	// 		color: $edition_light; 
	// 		border-bottom: none;
	// 	}
	// }
	#coverall {
		z-index: 5000;
	}
	.wrapper {
		padding-top: 60px;
		padding-bottom: 20px;
	}
}

.footer-actions {
	margin-bottom: 30px;
	overflow: hidden;

	.newsletter
	, #search {
		padding: 0;

		.button {
			border: 0;
			padding: 0;
		}

		.border-right { border-right: solid $rule_thickness $black; }
		.border-left { border-left: solid $rule_thickness $black; }
		
		.primary
		, .secondary
		, #signup-blind {
			// @include transition(width, 0.3s, cubic-bezier(0.25, 0.46, 0.45, 0.94));
		}
		.primary {
			width: 100%;
		}
		.secondary {
			padding: 0;
			width: 0;
		}

	}
	.newsletter:hover {
		#signup-blind {
			width: 0;
			overflow: hidden;
		}
	}
	#search:hover {
		.primary {
			width: 75%;
		}
		.secondary {
			width: 25%;
		}
	}
}
.footer-info {
	width: 100%;

	.wide {

	}
	.narrow {
		display: none;
	}
	.table-cell {
		border-top: solid $rule_thickness $black;
		border-left: solid $rule_thickness $black;
		border-bottom: solid $rule_thickness $black;
		vertical-align: top;
		padding: 8px 12px 10px;
	}
		.table-cell:last-child {
			border-right: solid $rule_thickness $black;
		}
		.table-row + .table-row .table-cell {
			border-top: 0;
		}
	a.home-link {
		@include font-size(2.2);
		line-height: 1.25;
	}
	.home-link:hover {
		color: $black;
	}
}

// @media only screen and (max-width : 950px) {
// 	.footer-actions {
// 		.action {
// 			width: 100%;
// 		}
// 		.action + .action {
// 			border-top: 0;
// 			border-left: solid $rule_thickness $black;
// 		}
// 	}

// 	.footer-info {
// 		.wide {
// 			display: none;
// 		}
// 		.narrow {
// 			display: table;
// 			table-layout: fixed;
// 			width: 100%;
// 		}
// 	}

// }

// @media only screen and (max-width : 600px) {
// 	.footer-info {
// 		.table.narrow
// 		, .narrow .table-row
// 		, .table-cell
// 		, .table-cell:last-child {
// 			border: 0;
// 			display: block;
// 			width: 100%;
// 		}
// 		.table-cell.quarter-2 {
// 			width: 100%;
// 			display: block;
// 		}
// 		.table.narrow {
// 			border: solid $rule_thickness $black;
// 		}
// 		.table-cell.quarter-2
// 		, .table-row + .table-row .table-cell {
// 			border-top: solid $rule_thickness $black;
// 		}
// 		.table-row:first-child .table-cell:first-child {
// 			border-top: 0;
// 		}
// 		li {
// 			display: inline;
// 			margin-right: 2em;
// 		}
// 	}
// }


/*-------------------------------------------------------------
	Posts & Pages
--------------------------------------------------------------*/

#content {
	padding: 0 0 80px;
}

#content header.header {
	margin-top: 20px;
	margin-bottom: 70px;
}

.entry-content {
	margin: 0 auto;
}


/*-------------------------------------------------------------
	Password Protected, Search, & 404 Pages
--------------------------------------------------------------*/

.post-password-form {
	background-color: $edition_light;
}

.post-password-form, div.nothing-found, .page-details {
	// background-color: $edition_light;
	color: $black;
	padding: 20px 25px 35px;
	-webkit-box-shadow: 5px 5px 0px 0px $black;
	   -moz-box-shadow: 5px 5px 0px 0px $black;
	        box-shadow: 5px 5px 0px 0px $black;

	p, input {
		@extend .medium-text;
		color: $black;
	}

	input {
		border: 0;
		border: solid $rule_thickness $black;
		display: block;
		line-height: 50px;
		margin: 1em 0 0;
		outline: 0;
		padding: 0 20px;
		width: 100%;
	}
	
	input[type="submit"] {
		border: solid $rule_thickness $black;
		border-top: 0;
		@extend .small-text;
		@extend .tracked-out;
		line-height: 50px;
		margin-top: 0;
		text-transform: uppercase;
	}
	input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"]:active {
		background-color: $white;
	}
}
.nothing-found {
	p {
		margin-bottom: 1em;
	}

	input[type="text"], input#searchsubmit {
		@extend .text-tiny-caps;
	}
	input[type="text"] {
		margin-top: 0;
		width: 75%;
	}
	input#searchsubmit {
		width: 25%;
		border-top: solid $rule_thickness $black;
		border-left: 0;
	}

}
.light-bg {
	.post-password-form, div.nothing-found, .page-details {
		background-color: $white;
	}

	input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"]:active {
		background-color: $edition_light;
	}
}

.page-details {
	margin-bottom: 50px;
	padding-bottom: 20px;

	p {
		@include font-size(1.5);
		line-height: 1.3;
		margin-bottom: 1em;
	}
}

/*-------------------------------------------------------------
	News Archive
--------------------------------------------------------------*/

.news-archive {

	article {
		padding-right: 4%;

		header {
			margin-bottom: 0.5em;
		}

		h2 {
			margin-top: 0.7em;
		}
	}

}



/*-------------------------------------------------------------
	Modules
--------------------------------------------------------------*/

.shadowed {
	-webkit-box-shadow: 5px 5px 0px 0px $black;
	   -moz-box-shadow: 5px 5px 0px 0px $black;
	        box-shadow: 5px 5px 0px 0px $black;
}

$button_radius : 120px;

#action-button {
	// background-color: $edition_light;
	border-radius: $button_radius/2;
	border-radius: 50%;
	color: $black;
	display: block;
	line-height: $button_radius;
	overflow: hidden;
	width: $button_radius;
	height: $button_radius;
	bottom: 40px;
	right: 3.5%;
	z-index: 3000;

	a {
		border: 0;
		// color: $black;
		display: block;
		padding: 0 10px;
		width: 100%;
		height: 100%;
	}
	// a:hover {
	// 	background-color: $black;
	// 	color: $edition_light;
	// }
}

// .edition_light #action-button {
// 	background-color: $edition_dark;
// 	color: $white;
// }

#content.module-container {
	padding: 0;
}

.module {
  border-top: solid 1px $black;
  padding-bottom: 80px;

  &:first-of-type {
  	border-top: none;
  }

}

$nav_width : 15%;

.module.slideshow {
	min-height: 500px; /* so when we fade it in, the whole page doesn't jump */

	&.no-header {
		padding-top: 40px;

		.section-header {
			display: none;
		}

	}

	.slide {
		header {
			margin-bottom: 0.5em;
		}
		img {
			margin-bottom: 15px;
		}
		h2 {
			padding-right: 10%;
		}
		// a:hover {
		// 	p, h2 {
		// 		color: $edition_light;
		// 	}
		// }
	}

	.nav {
		cursor: pointer;
		height: 100%;
		width: $nav_width;
		top: 0;
		bottom: 0;
		padding: 0 3.5%;
		
		.arrow {
			display: block;
			width: 45px;
			height: 90px;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
		}

		&.prev {
			left: 0;

			.arrow {
				left: $nav_width / 2 * 3.5;
				background: url(../images/154_graphics_icon_prev_light-bg.png);
			}

			&:hover {
				.arrow {
					background: url(../images/154_graphics_icon_prev_dark-bg.png);		
				}
			}

		}

		&.next {
			right: 0;

			.arrow {
				right: $nav_width / 2 * 3.5;
				background: url(../images/154_graphics_icon_next_light-bg.png);
			}

			&:hover {
				.arrow {
					background: url(../images/154_graphics_icon_next_dark-bg.png);		
				}
			}
		}

	}

}

.module.big-info {
	p {
		margin-bottom: 1em;
	}

	.section-content {
		.info-text {
			margin: 0 auto;
		}

		&.adverts {
			.info-text {
				float: left;
			}
		}
	}
	.advert {
		margin-bottom: 20px;
		height: 140px;
		width: 140px;

		a:link {
			background-color: $white;
			border: none;
			display: block;
			margin-bottom: 20px;
			padding: 8px 12px 15px;
			width: 100%;
			height: 100%;
		}
		a:hover {
			background-color: $black;
			color: $white;
		}

	}

}

.module.selected-artists {
	.artist h2 {
		margin-top: 0.5em;
	}
}
.archive #content .selected-artists header.header {
	margin-bottom: 1em;
}
.module.artists-exhibitors {
	
	.choice {
		display: none;
	}
	.choice.active {
		display: block;
	}

	.section-content {
		line-height: 1.5;
	}

	.hover.preview {
		z-index: 5001;

		&.text {
			max-width: 200px;
			padding: 10px 20px;
		}

		&.image img {
			max-width: 200px;
			max-height: 200px;
		}
	}


}

.module.forum {

	.forum-pattern {
		background-attachment: fixed;
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
	.entry-header {
		margin-top: 1em;
	}
	.forum-block {
		margin-bottom: 50px;
		height: 180px;
		padding-right: 4%;

		a {
			border: 0;
			border-top: solid 1px;
			display: block;
			padding-right: 8%;
		}
		// a:hover p {
		// 	color: $edition_light;
		// }
		h2 {
			max-height: 4.4em;
			overflow: hidden;
		}

	}

}

.dark-bg {
	.forum a.button {
		border: solid $rule_thickness $white;

		// &:hover {
		// 	background-color: $white;
		// 	color: $black;
		// }

	}
}

.white-bg {
	.forum-pattern {
		opacity: 0.15;
	}
}


.edition-archive {
	.past-edition {
		padding-right: 40px;
	}
	.past-edition .edition-link {
		border: none;
		display: block;
		margin-bottom: 5px;
		min-height: 200px;
		padding: 20px;
	}

}














