// border radius
@mixin border-radius($radius) {
  	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	        border-radius: $radius;
}

// transition
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	   -moz-transition: $transition-property $transition-time $method;
	    -ms-transition: $transition-property $transition-time $method;
	     -o-transition: $transition-property $transition-time $method;
	        transition: $transition-property $transition-time $method;
}

// transform
@mixin transform($transform-property) {
	-webkit-transform: $transform-property;
	   -moz-transform: $transform-property;
	    -ms-transform: $transform-property;
	     -o-transform: $transform-property;
	        transform: $transform-property;
}

// z-index
@mixin z-index($zspace) {
	@if $zspace == 'front' {
		z-index: 150;
	}
	@if $zspace == 'foreground' {
		z-index: 100;
	}
	@if $zspace == 'middleground' {
		z-index: 50;
	}
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1.4) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}