@charset "UTF-8"; 

$font_sans : "theinhardtregular";
$font_sans_italic : "theinhardtregular_italic";
$font_sans_med : "theinhardtmedium";
$font_sans_med_italic : "theinhardtmedium_italic";
$font_serif : Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;

html {
	font-size: 10px;
	font-size: 62.5%;
}

body, p, .sans, p .sans {
	color: $black;
	font-family: $font_sans;
	font-size: 15px; // rem on body is buggy in chrome :(
	line-height: 1.35;
	letter-spacing: 0.04em;
}

.dark-bg {
	p, .sans, p .sans {
		color: $white;
	}
}
.light-bg, .white-bg {
	p, .sans, p .sans {
		color: $black;
	}
}

/*-------------------------------------------------------------
	Text Sizes & Styles
--------------------------------------------------------------*/

/*

NOTES 

From the design ... 
✔ (captions) 15/20 : Captions
✔ (small)    16/22 : Artist list
✔ (sans)     20/26 : Palatino
✔ (med)      24/26 : interior pages locations
✔ (large)    28/32 : home page section headings, interior pages big text, home page locations
x 30/34 : locations 
✔ (x-large)  36/40 : single page titles, big text slideshow module, forum module
✔ (xx-large) 40/48 : home page about

*/

// keep text together
.keep { white-space: nowrap; }
// false line-breaks
.break { display: block; }

.tracked-out { letter-spacing: 0.2em; }

.serif
, .serif p {
	font-family: $font_serif;
	@include font-size(2);
	letter-spacing: 0.01em;
	line-height: 1.3;
	margin-bottom: 1em;

	em {
		font-style: oblique;
	}
	b, strong {
		font-style: bold;
	}
}

.sans, p .sans, .sans p, p.sans {
	font-family: $font_sans;
	@include font-size(1.5);
	line-height: 1.35;
	letter-spacing: 0.04em;
}

.text-tiny-caps, h3 {
	font-family: $font_sans;
	@include font-size(1.2);
	@extend .tracked-out;
	text-transform: uppercase;
}
	.entry-content h3 {
		@include font-size(1.4);
		letter-spacing: 0.3em;
		line-height: 1.9;
		margin-top: 3.5em;
	}
	.entry-content h1 + .entry-content h3 {
		margin-top: 0;
	}
	.entry-content h1:first-child {
		margin-top: 0;
	}
	.entry-content h3:before {
		background-color: $edition_light;
		border-radius: 6px;
		border-radius: 50%;
		content: " ";
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-right: 1em;
		position: relative;
		top: 1px;
	}
	.light-bg .entry-content h3:before {
		background-color: $white;
	}

.caption, p.caption, p.wp-caption-text, .wp-caption-text {
	font-family: $font_sans;
	@include font-size(1.6);
	letter-spacing: 0.02em;
	line-height: 1.2;
	margin-top: 1em;
	margin-bottom: 1em !important;

	a:link { color: $gray; }

	em {
		font-style: normal;
		font-family: $font_sans_italic;
	}
	b, strong {
		font-style: normal;
		font-family: $font_sans_med;
	}

}

.dark-bg, .white-bg {
	.caption, p.caption, p.wp-caption-text, .wp-caption-text, figcaption {
		color: $gray;
	}
}

.light-bg {
	.caption, p.caption, p.wp-caption-text, .wp-caption-text, figcaption {
		color: $black;

		a:link { color: $black; }
	}
}

// artist list
.small-text {
	@include font-size(1.7);
	line-height: 1.4;
}
// interior pages locations
.medium-text {
	font-family: $font_sans;
	@include font-size(2.4);
	line-height: 1.1;
}
// home page section headings, interior pages big text, home page locations
.large-text, .entry-content h1, .entry-content h2 {
	font-family: $font_sans;
	@include font-size(2.8);
	letter-spacing: 0.02em;
	line-height: 1.15;	
}
	.entry-content h1 {
		border-top: solid $rule_thickness;
		letter-spacing: 0.03em;
		margin: 2.5em 0 1.5em;
		padding-top: 0.5em;
	}
	.entry-content h2 {
		line-height: 1.2;
		margin-bottom: 1em;
	}
// single page titles, big text slideshow module, forum module
.x-large-text {
	font-family: $font_sans;
	@include font-size(3.6);
	letter-spacing: 0.06em;
	line-height: 1.1;	
}
// home page about
.xx-large-text {
	font-family: $font_sans;
	@include font-size(4);
	letter-spacing: 0.025em;
	line-height: 1.2;	
}
// archive links
.giant-text {
	@include font-size(6);
	line-height: 1.1;
}


/*-------------------------------------------------------------
	Links
--------------------------------------------------------------*/

a:link    { 
	border-bottom: solid 1px;
	color: $black; 
	cursor: pointer;
}
a:visited { 
	border-bottom: solid 1px;
	color: $black; 
}
a:hover   { 
	color: $edition_light; 
	border-bottom: none;
}
a:active  { 
	color: $edition_light; 
	border-bottom: none;
}

li {
	a:link    { 
		border: none;
		color: $black; 
	}
	a:visited { 
		border: none;
		color: $black; 
	}
	a:hover   { color: $edition_light; }
	a:active  { color: $edition_light; }
}

a[href*=eventbrite]:link {
	@extend .sans;
	background-color: $edition_light;
	border: 0;
	cursor: pointer;
	display: inline-block;
	padding: 14px 20px;
}
	a[href*=eventbrite]:hover {
		background-color: $black;
		color: $white !important;
	}
	.dark-bg a[href*=eventbrite]:hover {
		background-color: $white;
	}

.hover-light-bg {
	&:hover
	, &:active {
		color: $black;
	}
}
.hover-inverse {
	&:hover
	, &:active {
		background-color: $black;
	}
}

/*-------------------------------------------------------------
	Elements & Typographic Modules
--------------------------------------------------------------*/

hr {
	border: none;
	border-color: $black;
	border-top: solid $rule_thickness;
	display: block;
	margin: 3em 0 1em;
}

.button, .button:link, .post-edit-link:link {
	border: solid $rule_thickness $black;
	display: block;
	@extend .text-tiny-caps;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	padding: 0 20px;
}
	.button + .button {
		border-left: 0;
	}
	.post-edit-link {
		margin: 20px 0;
		text-align: center;
	}
	a.button:hover, a.post-edit-link:hover {
		border: solid $rule_thickness $black;
		background-color: $black;
		color: $white;
	}

	.dark-bg {
		a.button, .post-edit-link {
			border-color: $white;

			&:hover {
				background-color: $white;
				color: $black;
			}
		}
	}

	.light-bg {
		a.button, .post-edit-link {
			border-color: $black;

			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}

input {
	background-color: transparent;
	@extend .text-tiny-caps;
	outline: none;
	text-transform: uppercase;
}
	input[type="submit"] {
		cursor: pointer;
	}
	// input:focus , 
	input[type="submit"]:hover {
		outline: none;
		background-color: $edition_light;
	}
	input[type="submit"].light-bg:hover {
		outline: none;
		background-color: $white;
	}


::-webkit-input-placeholder { color: $black; }
     :-ms-input-placeholder { color: $black; }
          :-moz-placeholder { color: $black; }
         ::-moz-placeholder { color: $black; }


// .icon-magnifier {
// 	position:relative;
// 	display:inline-block;
// 	background: #fff;
// 	border-radius: 36px;
// 	height: 18px;
// 	width: 18px;
// 	border: 2px solid black;

// 	&:after {
// 		content: "";
// 		height: 2px;
// 		width: 12px;
// 		background: black;
// 		position:absolute;
// 		top:19px;
// 		left:15px;
// 		-webkit-transform: rotate(45deg);
// 		   -moz-transform: rotate(45deg);
// 		    -ms-transform: rotate(45deg);
// 		     -o-transform: rotate(45deg);
// 	}

// }

a.multiple-choice, a:link.multiple-choice {
	border: none;
	color: $gray;
	display: inline-block;
	margin-left: 1.5em;

	&:before {
		content: " ";
		display: inline-block;
		background-color: transparent;
		border: solid $rule_thickness $gray;
		border-radius: 0.5em;
		border-radius: 50%;
		float: left;
		left: 0;
		position: absolute;
		height: 1em;
		width: 1em;
	}

	&.active
	, &:hover {
		color: $black;
	}
	&.active:before
	, , &:hover:before {
		border: 0 !important;
		background-color: $edition_light;
	}

}

.dark-bg {
	a.multiple-choice, a:link.multiple-choice {
		color: $gray;

		&.active
		, &:hover {
			color: $white;
		}
	}

	.opposite-bg {
		a.multiple-choice, a:link.multiple-choice {
			color: $gray;

			&.active
			, &:hover {
				color: $black;
			}
		}
	}

}

.white-bg {
	a.multiple-choice, a:link.multiple-choice {
		color: $gray;

		&.active
		, &:hover {
			color: $black;
		}
	}
}


/*-------------------------------------------------------------
	Entry Content 
--------------------------------------------------------------*/


.entry-content {

	q, blockquote, q p, blockquote p {
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 1em;
	}
	ul, ol {
		margin: 1em 0;

		a:link { 
			color: $black; 
			border-bottom: solid 1px;
		}
		a:visited { 
			color: $black; 
			border-bottom: solid 1px;
		}
		a:hover { 
			color: $edition_light; 
			border-bottom: none;
		}
		a:active { 
			color: $edition_light; 
			border-bottom: none;
		}

		h2 {
			margin-bottom: 0;

			a:link { 
				border: none;
				color: $black; 
			}
			a:visited { 
				border: none;
				color: $black; 
			}
			a:hover { color: $edition_light; }
			a:active { color: $edition_light; }
		}

	}

	ol {
		counter-reset: item;
		margin-left: 2em;
		
		li:before {
			display: inline-block;
			content: counter(item) ".";
			counter-increment: item;
			margin-left: -2em;
			position: absolute;
		}
	}

	div, figure, .entry-caption {
		margin: 0;
		padding: 0;
		max-width: 100%;
		width: auto !important;
	}
	img {
		margin: 0 auto;
		width: 100% !important;
		height: auto !important;
	}
		img + p {
			margin-top: 1em;
		}

	:last-child {
		margin-bottom: 0;
	}
}





