// @import "setup/reset"; 
@import "setup/mixins";
@import "setup/defaults";
@import "setup/variables"; 
@import "layout/images";
@import "typography/fonts";

$font_sans : "theinhardt_reg";
$font_sans_italic : "theinhardt_reg_ital";
$font_sans_med : "theinhardt_med";
$font_sans_med_italic : "theinhardt_med_ital";
.text-tiny-caps {
	font-family: $font_sans;
	@include font-size(1.2);
	@extend .tracked-out;
	text-transform: uppercase;
}
.tracked-out { letter-spacing: 0.2em; }
// $font_serif : Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;

// $fake_edition_light : deepPink;

body#tinymce.wp-editor.wp-autoresize {
	padding-top: 3.5% !important;
	padding-bottom: 1px !important;
	padding-left: 3.5% !important;
	padding-right: 3.5% !important;
}

body#tinymce.wp-editor {
	p {
		font-family: "Charter", Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
	}

	h1 {

		border-top: none;
	    margin: 0 0 20px 0;
		letter-spacing: 2.5px;
	}

	h2, h3, h4, h5 {
		letter-spacing: 3.5px;
		    line-height: 1.2;
		border-top: none;
	    margin: 0 0 20px 0;
	    font-size: 2rem;
	}

	h3 {
		@extend .text-tiny-caps;
		@include font-size(1.4);
		letter-spacing: 0.3em;
		font-weight: lighter;

		a {
			text-decoration: none !important;
			display: inline-block;
			border-bottom: 1px solid;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	h1, h2, h4, h5 {
		font-family: 'theinhardt_reg';
		font-weight: lighter;
		border-top: none;
    	margin: 0 0 20px 0;
    	font-size: 1.4rem;
    	font-weight: lighter;


		a {
			text-decoration: none !important;
			display: inline-block;
			border-bottom: 1px solid;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	a {
		color: #000;
	}

	&.exhibitor {
		padding-bottom: 0;
		padding-top: 50px;
	}
}