/*

Custom editor styles for 1-54 theme

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_s_backboneize_in_s_backboneafari_for_ios_without_disabling_user_zoom/ */ }

body {
  background-color: #FFFFFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:link {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

textarea
, input
, input[type="submit"]
, input[type="text"]
, input[type="button"]
, button {
  border-radius: none;
  -webkit-border-radius: 0px;
  -webkit-appearance: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clears floated elements */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility;
  /* kerning */ }

figure, figcaption, img {
  display: block;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%; }

.thumbnail img {
  width: 100%; }

a:hover .thumbnail img {
  opacity: 0.4; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 22, 2015 */
@font-face {
  font-family: "PxGroteskLight";
  src: url("../fonts/PxGrotesk-Light.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PxGroteskLightItalic";
  src: url("../fonts/PxGrotesk-LightIta.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PxGroteskRegular";
  src: url("../fonts/PxGrotesk-Regular.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PxGroteskRegularItalic";
  src: url("../fonts/PxGrotesk-RegularIta.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PxGroteskBold";
  src: url("../fonts/PxGrotesk-Bold.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PxGroteskBoldItalic";
  src: url("../fonts/PxGrotesk-BoldIta.woff");
  font-weight: normal;
  font-style: normal; }

body#tinymce.wp-editor.wp-autoresize {
  padding-top: 3.5% !important;
  padding-bottom: 1px !important;
  padding-left: 3.5% !important;
  padding-right: 3.5% !important; }

body#tinymce.wp-editor {
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 
	TH 
	http://67.20.90.243 

	--------------------------------------------------------
	NOTES

	Edition light color:
	Should be between 60 and 80% lightness on the HSL scale

	Edition dark color:
	Should be between 0 and 30% lightness on the HSL scale. 
	Upwards of 50% would be OK.

	http://hslpicker.com

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Setup
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* Clears floated elements */
  /* Improve font rendering, especially in Chrome */
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*-------------------------------------------------------------
	Text Sizes & Styles

	NOTES

(captions) 15/20 : 	Captions
(small)    16/22 : 	Artist list
(sans)     20/26 : 	Palatino
(med)      24/26 : 	interior pages locations
(large)    28/32 :	home page section headings, 
								interior pages big text, 
								home page locations
(x-large)  36/40 : 	single page titles, 
								big text slideshow module, 
								forum module
(xx-large) 40/48 : 	home page about

--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Entry / Page / Post Content
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Links
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Elements & Typographic Modules
--------------------------------------------------------------*/
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Layout
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*-------------------------------------------------------------
	Keep the footer at the bottom of the page
	http://www.wentsch.me/responsive-sticky-footer-flexible-height
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Containers
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Temporarily Hide Overflow
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Columns
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Header old
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Header new
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Footer new
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Password Protected, Search, & 404 Pages
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	News Archive
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Modules
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Edition Archive
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Section Anchors (single pages only)
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Search Results
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Responsive Styles
--------------------------------------------------------------*/
  /*-------------------------------------------------------------
	Presentational Classes
--------------------------------------------------------------*/
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Color
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ }
  body#tinymce.wp-editor html, body#tinymce.wp-editor body, body#tinymce.wp-editor div, body#tinymce.wp-editor span, body#tinymce.wp-editor applet, body#tinymce.wp-editor object, body#tinymce.wp-editor iframe,
  body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6, body#tinymce.wp-editor p, body#tinymce.wp-editor blockquote, body#tinymce.wp-editor pre,
  body#tinymce.wp-editor a, body#tinymce.wp-editor abbr, body#tinymce.wp-editor acronym, body#tinymce.wp-editor address, body#tinymce.wp-editor big, body#tinymce.wp-editor cite, body#tinymce.wp-editor code,
  body#tinymce.wp-editor del, body#tinymce.wp-editor dfn, body#tinymce.wp-editor em, body#tinymce.wp-editor font, body#tinymce.wp-editor ins, body#tinymce.wp-editor kbd, body#tinymce.wp-editor q, body#tinymce.wp-editor s, body#tinymce.wp-editor samp,
  body#tinymce.wp-editor small, body#tinymce.wp-editor strike, body#tinymce.wp-editor strong, body#tinymce.wp-editor sub, body#tinymce.wp-editor sup, body#tinymce.wp-editor tt, body#tinymce.wp-editor var,
  body#tinymce.wp-editor dl, body#tinymce.wp-editor dt, body#tinymce.wp-editor dd, body#tinymce.wp-editor ol, body#tinymce.wp-editor ul, body#tinymce.wp-editor li,
  body#tinymce.wp-editor fieldset, body#tinymce.wp-editor form, body#tinymce.wp-editor label, body#tinymce.wp-editor legend,
  body#tinymce.wp-editor table, body#tinymce.wp-editor caption, body#tinymce.wp-editor tbody, body#tinymce.wp-editor tfoot, body#tinymce.wp-editor thead, body#tinymce.wp-editor tr, body#tinymce.wp-editor th, body#tinymce.wp-editor td {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline; }
  body#tinymce.wp-editor html {
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_s_backboneize_in_s_backboneafari_for_ios_without_disabling_user_zoom/ */ }
  body#tinymce.wp-editor body {
    background-color: #FFFFFF; }
  body#tinymce.wp-editor article,
  body#tinymce.wp-editor aside,
  body#tinymce.wp-editor details,
  body#tinymce.wp-editor figcaption,
  body#tinymce.wp-editor figure,
  body#tinymce.wp-editor footer,
  body#tinymce.wp-editor header,
  body#tinymce.wp-editor main,
  body#tinymce.wp-editor nav,
  body#tinymce.wp-editor section {
    display: block; }
  body#tinymce.wp-editor ol, body#tinymce.wp-editor ul {
    list-style: none; }
  body#tinymce.wp-editor table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0; }
  body#tinymce.wp-editor caption, body#tinymce.wp-editor th, body#tinymce.wp-editor td {
    font-weight: normal;
    text-align: left; }
  body#tinymce.wp-editor blockquote:before, body#tinymce.wp-editor blockquote:after,
  body#tinymce.wp-editor q:before, body#tinymce.wp-editor q:after {
    content: ""; }
  body#tinymce.wp-editor blockquote, body#tinymce.wp-editor q {
    quotes: "" ""; }
  body#tinymce.wp-editor a:link {
    text-decoration: none; }
  body#tinymce.wp-editor a:focus {
    outline: none; }
  body#tinymce.wp-editor a:hover,
  body#tinymce.wp-editor a:active {
    outline: 0; }
  body#tinymce.wp-editor a img {
    border: 0; }
  body#tinymce.wp-editor textarea, body#tinymce.wp-editor input, body#tinymce.wp-editor input[type="submit"], body#tinymce.wp-editor input[type="text"], body#tinymce.wp-editor input[type="button"], body#tinymce.wp-editor button {
    border-radius: none;
    -webkit-border-radius: 0px;
    -webkit-appearance: none; }
  body#tinymce.wp-editor *,
  body#tinymce.wp-editor *:before,
  body#tinymce.wp-editor *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  body#tinymce.wp-editor .clear:before,
  body#tinymce.wp-editor .clear:after {
    content: ' ';
    display: table; }
  body#tinymce.wp-editor .clear:after {
    clear: both; }
  body#tinymce.wp-editor .clear {
    *zoom: 1; }
  body#tinymce.wp-editor *,
  body#tinymce.wp-editor *:after,
  body#tinymce.wp-editor *:before {
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility;
    /* kerning */ }

@font-face {
  body#tinymce.wp-editor {
    font-family: "Charter";
    src: url("../fonts/charter/34E836_0_0.eot");
    src: url("../fonts/charter/34E836_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/charter/34E836_0_0.woff2") format("woff2"), url("../fonts/charter/34E836_0_0.woff") format("woff"), url("../fonts/charter/34E836_0_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; } }

@font-face {
  body#tinymce.wp-editor {
    font-family: "Charter_italic";
    src: url("../fonts/charter/34E836_1_0.eot");
    src: url("../fonts/charter/34E836_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/charter/34E836_1_0.woff2") format("woff2"), url("../fonts/charter/34E836_1_0.woff") format("woff"), url("../fonts/charter/34E836_1_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; } }
  body#tinymce.wp-editor html {
    font-size: 10px;
    font-size: 62.5%; }
  body#tinymce.wp-editor body, body#tinymce.wp-editor .sans, body#tinymce.wp-editor .entry-content a[href*="eventbrite"] {
    color: #1a1919;
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.35;
    letter-spacing: 0.04em; }
  body#tinymce.wp-editor .keep {
    white-space: nowrap; }
  body#tinymce.wp-editor .break {
    display: block; }
  body#tinymce.wp-editor .tracked-out, body#tinymce.wp-editor .text-tiny-caps, body#tinymce.wp-editor h3, body#tinymce.wp-editor .button, body#tinymce.wp-editor .post-edit-link, body#tinymce.wp-editor input, body#tinymce.wp-editor #nothing-found #s, body#tinymce.wp-editor #nothing-found #searchsubmit, body#tinymce.wp-editor #nothing-found input[type="submit"], body#tinymce.wp-editor .page-details input[type="submit"], body#tinymce.wp-editor .post-password-form input[type="submit"] {
    letter-spacing: 0.2em; }
  body#tinymce.wp-editor .serif {
    font-family: "Charter", Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: 0.01em;
    line-height: 1.3; }
  body#tinymce.wp-editor .serif em {
    font-style: oblique; }
  body#tinymce.wp-editor .serif b, body#tinymce.wp-editor .serif strong {
    font-style: bold; }
  body#tinymce.wp-editor .text-tiny-caps, body#tinymce.wp-editor h3, body#tinymce.wp-editor .button, body#tinymce.wp-editor .post-edit-link, body#tinymce.wp-editor input, body#tinymce.wp-editor #nothing-found #s, body#tinymce.wp-editor #nothing-found #searchsubmit {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase; }
  body#tinymce.wp-editor h3 {
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.3em;
    line-height: 1.9;
    margin-top: 3.5em; }
  body#tinymce.wp-editor .caption,
  body#tinymce.wp-editor .wp-caption-text {
    color: #999999;
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 2em; }
  body#tinymce.wp-editor .caption em,
  body#tinymce.wp-editor .wp-caption-text em {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic; }
  body#tinymce.wp-editor .caption b, body#tinymce.wp-editor .caption strong,
  body#tinymce.wp-editor .wp-caption-text b,
  body#tinymce.wp-editor .wp-caption-text strong {
    font-style: normal;
    font-family: "TheinhardtMedium", Arial, "Helvetica Neue", Helvetica, sans-serif; }
  body#tinymce.wp-editor .small-text, body#tinymce.wp-editor #nothing-found input[type="submit"], body#tinymce.wp-editor .page-details input[type="submit"], body#tinymce.wp-editor .post-password-form input[type="submit"] {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.4; }
  body#tinymce.wp-editor .medium-text, body#tinymce.wp-editor #nothing-found p, body#tinymce.wp-editor #nothing-found input, body#tinymce.wp-editor .page-details p, body#tinymce.wp-editor .page-details input, body#tinymce.wp-editor .post-password-form p, body#tinymce.wp-editor .post-password-form input {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.1; }
  body#tinymce.wp-editor .large-text, body#tinymce.wp-editor .entry-content h1, body#tinymce.wp-editor .entry-content h2 {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
    font-size: 2.8rem;
    letter-spacing: 0.02em;
    line-height: 1.15; }
  body#tinymce.wp-editor .x-large-text {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 36px;
    font-size: 3.6rem;
    letter-spacing: 0.02em;
    line-height: 1.1; }
  body#tinymce.wp-editor .xx-large-text {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    font-size: 4rem;
    letter-spacing: 0.025em;
    line-height: 1.2; }
  body#tinymce.wp-editor .giant-text {
    font-size: 60px;
    font-size: 6rem;
    line-height: 1.1; }
  @media only screen and (max-width: 750px) {
    body#tinymce.wp-editor .x-large-text, body#tinymce.wp-editor .xx-large-text {
      font-size: 32px;
      font-size: 3.2rem; } }
  @media only screen and (max-width: 600px) {
    body#tinymce.wp-editor .x-large-text, body#tinymce.wp-editor .xx-large-text {
      font-size: 30px;
      font-size: 3rem; }
    body#tinymce.wp-editor .large-text, body#tinymce.wp-editor .entry-content h1, body#tinymce.wp-editor .entry-content h2 {
      font-size: 24px;
      font-size: 2.4rem; } }
  body#tinymce.wp-editor .entry-title {
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  body#tinymce.wp-editor .entry-meta p {
    margin-bottom: 1em; }
  body#tinymce.wp-editor .entry-meta a {
    border-bottom: solid 1px; }
  body#tinymce.wp-editor .entry-meta a:hover, body#tinymce.wp-editor .entry-meta a:active {
    border: none; }
  body#tinymce.wp-editor .entry-content h1 {
    border-top: solid 1px;
    letter-spacing: 0.03em;
    margin: 2.5em 0 1.5em;
    padding-top: 0.5em; }
  body#tinymce.wp-editor .entry-content h2 {
    line-height: 1.2;
    margin-bottom: 1em; }
  body#tinymce.wp-editor .entry-content h1:first-child,
  body#tinymce.wp-editor .entry-content h1 + h3 {
    margin-top: 0; }
  body#tinymce.wp-editor .entry-content h3:before {
    border-radius: 6px;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 1em;
    position: relative;
    top: 1px; }
  body#tinymce.wp-editor .entry-content ul, body#tinymce.wp-editor .entry-content ol, body#tinymce.wp-editor .entry-content p {
    margin-bottom: 1em; }
  body#tinymce.wp-editor .entry-content ul a:link, body#tinymce.wp-editor .entry-content ol a:link, body#tinymce.wp-editor .entry-content p a:link {
    border-bottom: solid 1px; }
  body#tinymce.wp-editor .entry-content ul a:visited, body#tinymce.wp-editor .entry-content ol a:visited, body#tinymce.wp-editor .entry-content p a:visited {
    border-bottom: solid 1px; }
  body#tinymce.wp-editor .entry-content ul a:hover, body#tinymce.wp-editor .entry-content ol a:hover, body#tinymce.wp-editor .entry-content p a:hover {
    border-bottom: none; }
  body#tinymce.wp-editor .entry-content ul a:active, body#tinymce.wp-editor .entry-content ol a:active, body#tinymce.wp-editor .entry-content p a:active {
    border-bottom: none; }
  body#tinymce.wp-editor .entry-content ul h2, body#tinymce.wp-editor .entry-content ol h2 {
    margin-bottom: 0; }
  body#tinymce.wp-editor .entry-content ul h2 a:link, body#tinymce.wp-editor .entry-content ol h2 a:link {
    border: none; }
  body#tinymce.wp-editor .entry-content ul h2 a:visited, body#tinymce.wp-editor .entry-content ol h2 a:visited {
    border: none; }
  body#tinymce.wp-editor .entry-content ol {
    counter-reset: item;
    margin-left: 2em; }
  body#tinymce.wp-editor .entry-content ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    margin-left: -2em;
    position: absolute; }
  body#tinymce.wp-editor .entry-content q,
  body#tinymce.wp-editor .entry-content blockquote {
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em; }
  body#tinymce.wp-editor .entry-content div,
  body#tinymce.wp-editor .entry-content embed,
  body#tinymce.wp-editor .entry-content figure,
  body#tinymce.wp-editor .entry-content figcaption,
  body#tinymce.wp-editor .entry-content .entry-caption {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: auto !important; }
  body#tinymce.wp-editor .entry-content figcaption,
  body#tinymce.wp-editor .entry-content .caption,
  body#tinymce.wp-editor .entry-content .wp-caption-text {
    margin: 0.5em 0 2em; }
  body#tinymce.wp-editor .entry-content img {
    margin: 0 auto;
    width: 100% !important;
    height: auto !important; }
  body#tinymce.wp-editor .entry-content img.size-medium {
    margin-left: 0 !important;
    width: 50% !important;
    max-width: 300px; }
  body#tinymce.wp-editor .entry-content img.size-thumbnail {
    margin-left: 0 !important;
    width: 25% !important;
    max-width: 150px; }
  body#tinymce.wp-editor .entry-content img + p {
    margin-top: 1em; }
  body#tinymce.wp-editor .entry-content a[href*="eventbrite"] {
    border: 1px solid #000 !important;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 5px;
    padding: 14px 20px; }
  body#tinymce.wp-editor .entry-content a[href*="eventbrite"]:link {
    border: 0; }
  body#tinymce.wp-editor .entry-content a[href*="eventbrite"]:hover {
    background-color: #1a1919;
    color: white; }
  body#tinymce.wp-editor .entry-content p[style*="justify"] {
    text-align: left !important; }
  body#tinymce.wp-editor .entry-content p:last-child {
    margin-bottom: 0; }
  body#tinymce.wp-editor a:link {
    cursor: pointer; }
  body#tinymce.wp-editor .hover-light-bg:hover, body#tinymce.wp-editor .hover-light-bg:active {
    color: #1a1919; }
  body#tinymce.wp-editor .hover-inverse:hover, body#tinymce.wp-editor .hover-inverse:active {
    background-color: #1a1919; }
  body#tinymce.wp-editor .presented-artists a {
    border-bottom: solid 1px; }
  body#tinymce.wp-editor .presented-artists a:hover {
    border-bottom: none; }
  body#tinymce.wp-editor hr {
    border: none;
    border-color: #1a1919;
    border-top: solid 1px;
    display: block;
    margin: 3em 0 1em; }
  body#tinymce.wp-editor .button, body#tinymce.wp-editor .post-edit-link {
    border: solid 1px #1a1919;
    display: block;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    padding: 0 20px; }
  body#tinymce.wp-editor .button:hover, body#tinymce.wp-editor .post-edit-link:hover {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .post-edit-link {
    margin: 20px 0;
    text-align: center; }
  body#tinymce.wp-editor input {
    background-color: transparent;
    border: solid 1px #1a1919;
    color: #1a1919;
    min-height: 50px;
    outline: none;
    text-transform: uppercase;
    width: 100%; }
  body#tinymce.wp-editor input[type="submit"] {
    cursor: pointer; }
  body#tinymce.wp-editor input:focus,
  body#tinymce.wp-editor input:hover {
    outline: none;
    background-color: #cccccc; }
  body#tinymce.wp-editor input[type="submit"].light-bg:hover {
    outline: none;
    background-color: white; }
  body#tinymce.wp-editor ::-webkit-input-placeholder {
    color: #1a1919; }
  body#tinymce.wp-editor :-ms-input-placeholder {
    color: #1a1919; }
  body#tinymce.wp-editor :-moz-placeholder {
    color: #1a1919; }
  body#tinymce.wp-editor ::-moz-placeholder {
    color: #1a1919; }
  body#tinymce.wp-editor .multiple-choice {
    border: 0;
    color: #999999;
    display: inline-block;
    margin-left: 1.5em; }
  body#tinymce.wp-editor .multiple-choice:visited {
    color: #999999; }
  body#tinymce.wp-editor .multiple-choice:hover, body#tinymce.wp-editor .multiple-choice:active, body#tinymce.wp-editor .multiple-choice.active {
    color: #ef4c4b;
    border-bottom: 2px solid #ef4c4b; }
  body#tinymce.wp-editor html, body#tinymce.wp-editor body {
    height: 100%; }
  body#tinymce.wp-editor body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top -160px right -150px;
    background-size: 500px;
    background-color: white;
    padding-top: 90px;
    display: table;
    width: 100%;
    table-layout: fixed; }
  @media only screen and (max-width: 1000px) {
    body#tinymce.wp-editor body {
      padding-top: 50px; } }
  @media only screen and (max-width: 800px) {
    body#tinymce.wp-editor body {
      background-image: none !important; } }
  body#tinymce.wp-editor .page-row {
    display: table-row;
    height: 1px; }
  body#tinymce.wp-editor .page-row-expanded {
    height: 100%; }
  body#tinymce.wp-editor .wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 3.5%;
    position: relative; }
  body#tinymce.wp-editor #content {
    overflow-x: hidden;
    padding: 0 0 80px; }
  body#tinymce.wp-editor #content.module-container {
    padding: 0; }
  body#tinymce.wp-editor .page-header,
  body#tinymce.wp-editor .section-header {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px; }
  body#tinymce.wp-editor .page-header .small-text:first-of-type, body#tinymce.wp-editor .page-header #nothing-found input[type="submit"]:first-of-type, body#tinymce.wp-editor #nothing-found .page-header input[type="submit"]:first-of-type, body#tinymce.wp-editor .page-header .page-details input[type="submit"]:first-of-type, body#tinymce.wp-editor .page-details .page-header input[type="submit"]:first-of-type, body#tinymce.wp-editor .page-header .post-password-form input[type="submit"]:first-of-type, body#tinymce.wp-editor .post-password-form .page-header input[type="submit"]:first-of-type,
  body#tinymce.wp-editor .section-header .small-text:first-of-type,
  body#tinymce.wp-editor .section-header #nothing-found input[type="submit"]:first-of-type, body#tinymce.wp-editor #nothing-found
.section-header input[type="submit"]:first-of-type,
  body#tinymce.wp-editor .section-header .page-details input[type="submit"]:first-of-type, body#tinymce.wp-editor .page-details
.section-header input[type="submit"]:first-of-type,
  body#tinymce.wp-editor .section-header .post-password-form input[type="submit"]:first-of-type, body#tinymce.wp-editor .post-password-form
.section-header input[type="submit"]:first-of-type {
    margin-top: 5px; }
  body#tinymce.wp-editor .entry-content {
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 100px;
    padding-top: 100px; }
  body#tinymce.wp-editor .module {
    border-top: solid 1px #1a1919;
    padding-bottom: 80px; }
  body#tinymce.wp-editor .module:first-of-type {
    border-top: none; }
  body#tinymce.wp-editor .column {
    display: block;
    float: left;
    overflow: hidden;
    padding: 0 20px 0 0;
    position: relative; }
  body#tinymce.wp-editor .column.no-padding {
    padding: 0; }
  body#tinymce.wp-editor .column.float-right {
    float: right; }
  body#tinymce.wp-editor .quarter {
    width: 25%; }
  body#tinymce.wp-editor .quarter-2 {
    width: 50%; }
  body#tinymce.wp-editor .quarter-3 {
    width: 75%; }
  body#tinymce.wp-editor .fifth {
    width: 20%; }
  body#tinymce.wp-editor .fifth-2 {
    width: 40%; }
  body#tinymce.wp-editor .fifth-3 {
    width: 60%; }
  body#tinymce.wp-editor .fifth-4 {
    width: 80%; }
  body#tinymce.wp-editor .third {
    width: 33.333%; }
  body#tinymce.wp-editor .third-2 {
    width: 66.666%; }
  body#tinymce.wp-editor .sixth {
    width: 16.6666%; }
  body#tinymce.wp-editor .sixth-5 {
    width: 83.3333%; }
  body#tinymce.wp-editor .ninth {
    width: 11%; }
  body#tinymce.wp-editor .ninth-2 {
    width: 22%; }
  body#tinymce.wp-editor .ninth-3 {
    width: 33%; }
  body#tinymce.wp-editor .ninth-4 {
    width: 44%; }
  body#tinymce.wp-editor .ninth-5 {
    width: 55%; }
  body#tinymce.wp-editor .ninth-6 {
    width: 66%; }
  body#tinymce.wp-editor .ninth-7 {
    width: 77%; }
  body#tinymce.wp-editor .ninth-8 {
    width: 88%; }
  body#tinymce.wp-editor .text-columns.column-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; }
  body#tinymce.wp-editor .text-columns.column-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; }
  body#tinymce.wp-editor .text-columns.column-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
  body#tinymce.wp-editor .text-columns p, body#tinymce.wp-editor .text-columns li {
    display: inline-block;
    width: 100%;
    -webkit-column-gap: 4%;
    -moz-column-gap: 4%;
    column-gap: 4%;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    margin-right: 1em; }
  body#tinymce.wp-editor figure, body#tinymce.wp-editor figcaption, body#tinymce.wp-editor img {
    display: block;
    height: auto;
    margin: 0;
    max-height: 100%;
    max-width: 100%; }
  body#tinymce.wp-editor .thumbnail img {
    width: 100%; }
  body#tinymce.wp-editor a:hover .thumbnail img {
    opacity: 0.4; }
  body#tinymce.wp-editor #header .logo-mobile {
    display: none; }
  body#tinymce.wp-editor #header .hamburger {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 50px;
    line-height: 50px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    right: 0;
    text-align: center;
    width: 70px;
    z-index: 20; }
  body#tinymce.wp-editor #header .main-nav {
    border-bottom: 1px solid #000;
    height: 90px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; }
  @media only screen and (max-width: 1024px) {
    body#tinymce.wp-editor #header .main-nav {
      border-bottom: none; } }
  body#tinymce.wp-editor #header .main-nav .inner {
    position: relative; }
  body#tinymce.wp-editor #header .main-nav .logo {
    display: inline-block;
    margin: 10px 0;
    position: absolute;
    z-index: 10; }
  body#tinymce.wp-editor #header .main-nav .logo img, body#tinymce.wp-editor #header .main-nav .logo svg {
    height: 70px;
    display: inline-block;
    margin-right: 10px; }
  body#tinymce.wp-editor #header .main-nav .logo svg {
    width: 170px; }
  body#tinymce.wp-editor #header .main-nav .logo:hover svg, body#tinymce.wp-editor #header .main-nav .logo:hover svg * {
    fill: #ef4c4b; }
  body#tinymce.wp-editor #header .main-nav .logo.right-side {
    right: calc(3.5%); }
  body#tinymce.wp-editor #header .main-nav ul {
    padding: 35px 0;
    position: relative;
    text-align: center;
    width: 100%; }
  body#tinymce.wp-editor #header .main-nav ul li {
    display: inline-block;
    font-size: 12px;
    margin: 0 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  body#tinymce.wp-editor #header .main-nav ul li.current-menu-item a {
    color: #ef4c4b; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper {
    display: inline-block;
    position: relative; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper .search-btn {
    display: inline-block;
    height: 18px;
    width: 18px; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper .search-btn svg {
    height: 100%;
    margin-bottom: -4px;
    width: 100%; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper .search-btn:hover {
    opacity: .6; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper form {
    display: none;
    position: absolute;
    right: -10px;
    top: 30px; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper form input[type='text'] {
    background-color: #fff;
    text-align: left;
    height: 45px;
    min-height: none;
    min-height: initial;
    width: 170px; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper form input[type='submit'] {
    display: none; }
  body#tinymce.wp-editor #header .main-nav ul li.search-wrapper.expanded form {
    display: inline-block; }
  @media only screen and (max-width: 1024px) {
    body#tinymce.wp-editor #header .main-nav ul {
      padding: 35px 120px 35px 200px; }
    body#tinymce.wp-editor #header .main-nav ul li {
      margin: 0 15px; } }
  @media only screen and (max-width: 995px) {
    body#tinymce.wp-editor #header .main-nav ul li {
      margin: 0 10px; } }
  body#tinymce.wp-editor #header .cities-nav {
    background-color: #fff;
    border-bottom: 1px solid #000;
    height: 90px;
    width: 100%; }
  body#tinymce.wp-editor #header .cities-nav .wrapper > ul {
    padding: 24px 0;
    text-align: center; }
  body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 40px;
    margin: 0 70px; }
  body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li a {
    display: inline-block;
    height: 100%; }
  @media only screen and (max-width: 1000px) {
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li {
      margin: 0 40px; } }
  @media only screen and (max-width: 800px) {
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li {
      font-size: 28px;
      margin: 0 30px; } }
  body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li.active {
    border-bottom: 2px solid #ef4c4b; }
  body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li.active a {
    color: #ef4c4b; }
  body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li ul {
    display: none; }
  body#tinymce.wp-editor #header .secondary-nav {
    border-bottom: 1px solid #000;
    z-index: 9 !important; }
  body#tinymce.wp-editor #header .secondary-nav ul {
    padding: 10px 0;
    text-align: center; }
  body#tinymce.wp-editor #header .secondary-nav ul li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin: 0 30px; }
  body#tinymce.wp-editor #header .secondary-nav ul li.current-menu-item a {
    color: #ef4c4b; }
  @media only screen and (max-width: 1000px) {
    body#tinymce.wp-editor #header .secondary-nav ul li {
      margin: 0 25px; } }
  body#tinymce.wp-editor #header .main-nav, body#tinymce.wp-editor #header .secondary-nav {
    background-color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top -160px right -150px;
    background-size: 500px; }
  body#tinymce.wp-editor #header .tickets {
    position: absolute;
    top: 65px;
    right: 3.5%;
    width: auto !important;
    z-index: 10 !important; }
  body#tinymce.wp-editor #header .tickets a.button {
    background-color: #fff;
    display: inline-block;
    width: auto !important;
    right: 3.5%;
    height: 45px;
    line-height: 45px;
    font-size: 1.1rem; }
  body#tinymce.wp-editor #header .tickets a.button:hover {
    background-color: #000;
    color: #fff; }
  @media only screen and (max-width: 800px) {
    body#tinymce.wp-editor #header .tickets a.button {
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      width: 200px !important; } }
  @media only screen and (max-width: 800px) {
    body#tinymce.wp-editor #header .tickets {
      background: #fff;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: top -160px right -150px;
      background-size: 500px;
      border-bottom: 1px solid #000;
      padding: 10px 10px 15px 10px;
      position: relative;
      right: auto;
      top: auto; }
    body#tinymce.wp-editor #header .tickets a {
      margin-left: 0;
      padding: 0 25px; } }
  @media only screen and (max-width: 1000px) {
    body#tinymce.wp-editor #header {
      background-color: #fff;
      border-bottom: 1px solid #000;
      height: 50px;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 20; }
    body#tinymce.wp-editor #header.expanded {
      height: 100vh; }
    body#tinymce.wp-editor #header.expanded .scrollable {
      display: block; }
    body#tinymce.wp-editor #header .hamburger {
      display: inline-block; }
    body#tinymce.wp-editor #header .logo-mobile {
      display: inline-block;
      left: 5px;
      margin: 0;
      position: fixed;
      top: 5px; }
    body#tinymce.wp-editor #header .logo-mobile img {
      height: 40px; }
    body#tinymce.wp-editor #header .scrollable {
      border-top: 1px solid #000;
      display: none;
      margin-top: 50px;
      height: calc(100vh - 50px);
      overflow: auto;
      padding-bottom: 100px;
      -webkit-overflow-scrolling: touch; }
    body#tinymce.wp-editor #header .main-nav, body#tinymce.wp-editor #header .secondary-nav {
      background-color: #fff;
      background-image: none; }
    body#tinymce.wp-editor #header .main-nav {
      height: auto;
      position: static; }
    body#tinymce.wp-editor #header .main-nav .wrapper {
      padding: 0; }
    body#tinymce.wp-editor #header .main-nav .wrapper .logo {
      display: none; }
    body#tinymce.wp-editor #header .main-nav .wrapper ul {
      padding: 10px 0;
      text-align: left; }
    body#tinymce.wp-editor #header .main-nav .wrapper ul li {
      font-weight: bold;
      display: block;
      line-height: initial;
      margin: 0; }
    body#tinymce.wp-editor #header .main-nav .wrapper ul li a {
      display: inline-block;
      font-size: 14px;
      font-weight: lighter;
      padding: 10px;
      width: 100%; }
    body#tinymce.wp-editor #header .main-nav .wrapper ul li.search-wrapper {
      margin-bottom: 0;
      margin-top: 15px;
      margin-left: 10px; }
    body#tinymce.wp-editor #header .main-nav .wrapper ul li.search-wrapper a {
      display: none; }
    body#tinymce.wp-editor #header .main-nav .wrapper ul li.search-wrapper form {
      display: inline-block !important;
      position: relative;
      right: auto;
      top: auto;
      max-width: 200px;
      vertical-align: middle;
      width: 100%; }
    body#tinymce.wp-editor #header .main-nav .wrapper ul li.search-wrapper form input[type="text"] {
      font-size: 1.1rem;
      line-height: 45px;
      width: 100%; }
    body#tinymce.wp-editor #header .main-nav .search-wrapper {
      display: none; }
    body#tinymce.wp-editor #header .cities-nav {
      border-bottom: none;
      height: auto; }
    body#tinymce.wp-editor #header .cities-nav .wrapper {
      padding: 0; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul {
      padding: 0;
      text-align: left; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li {
      border-bottom: 1px solid #000 !important;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      line-height: 24px;
      letter-spacing: 1.5px; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li a {
      display: inline-block;
      font-weight: lighter;
      font-size: 16px;
      padding: 10px;
      width: 100%; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a {
      background-image: url(../imgs/arrow-up.svg);
      background-position: center right 10px;
      background-size: 20px;
      background-repeat: no-repeat;
      border-bottom: 1px solid #000;
      margin-bottom: -1px; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a.expanded {
      background-image: url(../imgs/arrow-down.svg); }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a.expanded + ul {
      max-height: 1000px; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a + ul {
      border-bottom: none !important;
      display: block;
      max-height: 0;
      width: 100%;
      overflow: hidden;
      -webkit-transition: all 0.2s easein;
      -moz-transition: all 0.2s easein;
      -ms-transition: all 0.2s easein;
      -o-transition: all 0.2s easein;
      transition: all 0.2s easein; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a + ul li {
      border-bottom: none !important;
      font-weight: normal;
      text-transform: none; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a + ul li a {
      color: #000 !important;
      padding: 5px 10px;
      padding-left: 25px; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a + ul li.current-menu-item a {
      color: #ef4c4b !important; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a + ul li:first-of-type {
      margin-top: 5px; }
    body#tinymce.wp-editor #header .cities-nav .wrapper > ul > li > a + ul li:last-of-type {
      border-bottom: none;
      margin-bottom: 5px; }
    body#tinymce.wp-editor #header .secondary-nav {
      display: none; } }
  body#tinymce.wp-editor #footer {
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    bottom: -90px;
    overflow: auto;
    padding: 15px 0; }
  body#tinymce.wp-editor #footer .social {
    display: inline-block;
    vertical-align: middle; }
  body#tinymce.wp-editor #footer .social .newsletter-link {
    padding-bottom: 20px; }
  body#tinymce.wp-editor #footer .social #menu-social-networks li, body#tinymce.wp-editor #footer .social #menu-social-links li, body#tinymce.wp-editor #footer .social #menu-footer-menu li {
    display: inline-block; }
  body#tinymce.wp-editor #footer .social #menu-social-networks li a, body#tinymce.wp-editor #footer .social #menu-social-links li a, body#tinymce.wp-editor #footer .social #menu-footer-menu li a {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    color: transparent !important;
    height: 25px;
    margin-right: 10px;
    overflow: hidden;
    width: 25px; }
  body#tinymce.wp-editor #footer .social #menu-social-networks li.facebook a, body#tinymce.wp-editor #footer .social #menu-social-links li.facebook a, body#tinymce.wp-editor #footer .social #menu-footer-menu li.facebook a {
    background-image: url(../imgs/icon-facebook.svg); }
  body#tinymce.wp-editor #footer .social #menu-social-networks li.twitter a, body#tinymce.wp-editor #footer .social #menu-social-links li.twitter a, body#tinymce.wp-editor #footer .social #menu-footer-menu li.twitter a {
    background-image: url(../imgs/icon-twitter.svg); }
  body#tinymce.wp-editor #footer .social #menu-social-networks li.instagram a, body#tinymce.wp-editor #footer .social #menu-social-links li.instagram a, body#tinymce.wp-editor #footer .social #menu-footer-menu li.instagram a {
    background-image: url(../imgs/icon-instagram.svg); }
  body#tinymce.wp-editor #footer .social #menu-social-networks li.artsy a, body#tinymce.wp-editor #footer .social #menu-social-links li.artsy a, body#tinymce.wp-editor #footer .social #menu-footer-menu li.artsy a {
    background-image: url(../imgs/icon-artsy.svg); }
  body#tinymce.wp-editor #footer .sponsors-ads {
    display: inline-block;
    float: right;
    vertical-align: middle; }
  body#tinymce.wp-editor #footer .sponsors-ads a {
    display: inline-block; }
  body#tinymce.wp-editor #footer .sponsors-ads a img {
    margin-bottom: 0;
    max-height: 70px; }
  @media only screen and (max-width: 700px) {
    body#tinymce.wp-editor #footer .sponsors-ads {
      display: block;
      margin-top: 30px;
      width: 100%; } }
  body#tinymce.wp-editor .shadowed, body#tinymce.wp-editor #nothing-found, body#tinymce.wp-editor .page-details, body#tinymce.wp-editor .post-password-form, body#tinymce.wp-editor #action-button:hover, body#tinymce.wp-editor .go-behind-button #action-button {
    margin-bottom: 5px;
    -webkit-box-shadow: 5px 5px 0px 0px #1a1919;
    -moz-box-shadow: 5px 5px 0px 0px #1a1919;
    box-shadow: 5px 5px 0px 0px #1a1919; }
  body#tinymce.wp-editor #action-button:hover, body#tinymce.wp-editor .go-behind-button #action-button {
    margin-bottom: 0; }
  body#tinymce.wp-editor a.shadowed:hover {
    margin-bottom: 0; }
  body#tinymce.wp-editor a.shadowed:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  body#tinymce.wp-editor #nothing-found, body#tinymce.wp-editor .page-details, body#tinymce.wp-editor .post-password-form {
    color: #1a1919;
    padding: 20px 25px 35px; }
  body#tinymce.wp-editor #nothing-found p, body#tinymce.wp-editor #nothing-found input, body#tinymce.wp-editor .page-details p, body#tinymce.wp-editor .page-details input, body#tinymce.wp-editor .post-password-form p, body#tinymce.wp-editor .post-password-form input {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #1a1919; }
  body#tinymce.wp-editor #nothing-found input[type="submit"], body#tinymce.wp-editor .page-details input[type="submit"], body#tinymce.wp-editor .post-password-form input[type="submit"] {
    border-top: 0;
    margin-top: 0; }
  body#tinymce.wp-editor #nothing-found input, body#tinymce.wp-editor .page-details input, body#tinymce.wp-editor .post-password-form input {
    line-height: 50px;
    margin: 1em 0 0;
    outline: 0;
    padding: 0 20px; }
  body#tinymce.wp-editor #nothing-found input:hover, body#tinymce.wp-editor #nothing-found input:focus, body#tinymce.wp-editor #nothing-found input:active, body#tinymce.wp-editor .page-details input:hover, body#tinymce.wp-editor .page-details input:focus, body#tinymce.wp-editor .page-details input:active, body#tinymce.wp-editor .post-password-form input:hover, body#tinymce.wp-editor .post-password-form input:focus, body#tinymce.wp-editor .post-password-form input:active {
    background-color: white; }
  body#tinymce.wp-editor .light-bg #nothing-found, body#tinymce.wp-editor .light-bg .page-details, body#tinymce.wp-editor .light-bg .post-password-form {
    background-color: white; }
  body#tinymce.wp-editor .light-bg #nothing-found input, body#tinymce.wp-editor .light-bg .page-details input, body#tinymce.wp-editor .light-bg .post-password-form input {
    background-color: #cccccc; }
  body#tinymce.wp-editor .light-bg #nothing-found input:hover, body#tinymce.wp-editor .light-bg #nothing-found input:focus, body#tinymce.wp-editor .light-bg #nothing-found input:active, body#tinymce.wp-editor .light-bg .page-details input:hover, body#tinymce.wp-editor .light-bg .page-details input:focus, body#tinymce.wp-editor .light-bg .page-details input:active, body#tinymce.wp-editor .light-bg .post-password-form input:hover, body#tinymce.wp-editor .light-bg .post-password-form input:focus, body#tinymce.wp-editor .light-bg .post-password-form input:active {
    background-color: white; }
  body#tinymce.wp-editor #nothing-found #s, body#tinymce.wp-editor #nothing-found #searchsubmit {
    margin-top: 0; }
  body#tinymce.wp-editor #nothing-found #s {
    width: 75%; }
  body#tinymce.wp-editor #nothing-found #searchsubmit {
    border-left: 0;
    border-top: solid 1px #1a1919;
    width: 25%; }
  body#tinymce.wp-editor .page-details {
    margin-bottom: 50px;
    padding-bottom: 20px; }
  body#tinymce.wp-editor .page-details p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1em; }
  @media only screen and (max-width: 775px) {
    body#tinymce.wp-editor #nothing-found #s {
      width: 100%; }
    body#tinymce.wp-editor #nothing-found #searchsubmit {
      display: none; } }
  body#tinymce.wp-editor .news-archive {
    border-bottom: 1px solid #000; }
  body#tinymce.wp-editor .news-archive article {
    margin-bottom: 40px;
    padding-right: 4%; }
  body#tinymce.wp-editor .news-archive article header {
    margin-bottom: 0.5em; }
  body#tinymce.wp-editor .news-archive article h2 {
    height: 3.45em;
    margin-top: 0.7em;
    overflow: hidden; }
  body#tinymce.wp-editor .news-archive #nav-below .column.quarter-2 {
    width: 50%; }
  body#tinymce.wp-editor #action-button {
    border: 0;
    border-radius: 60px;
    border-radius: 50%;
    color: #1a1919;
    display: none;
    line-height: 120px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    bottom: 40px;
    right: 3.5%;
    z-index: 50; }
  body#tinymce.wp-editor #action-button a {
    border: 0;
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 100%; }
  body#tinymce.wp-editor #action-button.shadowed, body#tinymce.wp-editor #action-button:hover {
    margin: 0; }
  body#tinymce.wp-editor #action-button:hover a {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor #action-button.shadowed:hover {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  body#tinymce.wp-editor .slick-list {
    margin-left: 3.5%; }
  body#tinymce.wp-editor .slick-slider {
    margin-bottom: 0; }
  body#tinymce.wp-editor .slick-disabled {
    display: none !important; }
  body#tinymce.wp-editor .slide {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -ms-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear; }
  body#tinymce.wp-editor .slide.slick-active {
    opacity: 1; }
  body#tinymce.wp-editor .module {
    padding-bottom: 30px !important; }
  body#tinymce.wp-editor .module.slideshow {
    min-height: 300px;
    /* so when we fade it in, the whole page doesn't jump */ }
  body#tinymce.wp-editor .module.slideshow.no-header {
    padding-top: 40px; }
  body#tinymce.wp-editor .module.slideshow.no-header .section-header {
    display: none; }
  body#tinymce.wp-editor .module.slideshow.full-width {
    padding-bottom: 0 !important;
    padding-top: 0 !important; }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-container {
    padding-bottom: 0; }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero {
    height: 35vw; }
  @media only screen and (max-width: 1440px) {
    body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero {
      height: 600px; } }
  @media only screen and (max-width: 900px) {
    body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero {
      height: 480px; } }
  @media only screen and (max-width: 480px) {
    body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero {
      height: 350px; } }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero .slick-list {
    height: 100%;
    padding: 0;
    margin: 0; }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero .slick-list .slick-track {
    height: 100%; }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero .slick-list .slick-track .slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-right: 0; }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero .slick-list .slick-track .slide img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
    height: 100%;
    margin-bottom: 0;
    width: 100%; }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero .nav.prev {
    left: 0; }
  body#tinymce.wp-editor .module.slideshow.full-width #slideshow-tray.hero .nav.next {
    right: 0; }
  body#tinymce.wp-editor .module.slideshow .slide {
    padding-right: 20px; }
  body#tinymce.wp-editor .module.slideshow .slide header {
    margin-bottom: 0.5em; }
  body#tinymce.wp-editor .module.slideshow .slide img {
    margin-bottom: 15px; }
  body#tinymce.wp-editor .module.slideshow .slide p {
    padding-right: 5%; }
  body#tinymce.wp-editor .module.slideshow .slide a figure img {
    object-fit: contain;
    font-family: 'object-fit: contain;';
    height: 300px;
    width: 100%; }
  body#tinymce.wp-editor .module.slideshow .nav {
    cursor: pointer;
    height: 300px;
    width: 15%;
    top: 0;
    bottom: 0;
    padding: 0; }
  body#tinymce.wp-editor .module.slideshow .nav .arrow {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    display: block;
    width: 45px;
    height: 90px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto; }
  body#tinymce.wp-editor .module.slideshow .nav.prev {
    left: -60px; }
  body#tinymce.wp-editor .module.slideshow .nav.prev .arrow {
    left: 13.125%;
    background-image: url(../imgs/slideshow-arrow-left.svg); }
  body#tinymce.wp-editor .module.slideshow .nav.prev:hover .arrow {
    opacity: .5; }
  body#tinymce.wp-editor .module.slideshow .nav.next {
    right: -60px; }
  body#tinymce.wp-editor .module.slideshow .nav.next .arrow {
    right: 13.125%;
    background-image: url(../imgs/slideshow-arrow-right.svg); }
  body#tinymce.wp-editor .module.slideshow .nav.next:hover .arrow {
    opacity: .6; }
  body#tinymce.wp-editor .module.big-info p {
    margin-bottom: 1em; }
  body#tinymce.wp-editor .module.big-info .section-content .info-text {
    margin: 0 auto; }
  body#tinymce.wp-editor .module.big-info .section-content.sponsors .info-text {
    float: left; }
  body#tinymce.wp-editor .module.big-info .sponsors.column {
    max-width: 200px; }
  body#tinymce.wp-editor .module.big-info .sponsor {
    margin-bottom: 20px;
    height: 140px;
    width: 140px; }
  body#tinymce.wp-editor .module.big-info .sponsor a {
    background-color: white;
    border: none;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 100%; }
  body#tinymce.wp-editor .module.big-info .sponsor a:hover {
    background-color: #1a1919;
    color: white; }
  body#tinymce.wp-editor .module.selected-exhibitors .exhibitor h2 {
    margin-top: 0.5em;
    margin-bottom: 30px; }
  body#tinymce.wp-editor .module.selected-exhibitors .view-all-artists {
    display: none; }
  body#tinymce.wp-editor .module.artists-exhibitors .choice {
    display: none; }
  body#tinymce.wp-editor .module.artists-exhibitors .choice.active {
    display: block; }
  body#tinymce.wp-editor .module.artists-exhibitors .choice li ul li {
    padding-left: 1em; }
  body#tinymce.wp-editor .module.artists-exhibitors .choice li ul li a {
    text-indent: -1em;
    display: block; }
  body#tinymce.wp-editor .module.artists-exhibitors .section-content {
    line-height: 1.5; }
  body#tinymce.wp-editor .module.artists-exhibitors .section-content h2 {
    line-height: 1; }
  body#tinymce.wp-editor .module.artists-exhibitors .section-content ul li ul {
    display: inline-block;
    margin-bottom: 1em; }
  body#tinymce.wp-editor .module.artists-exhibitors .hover.preview {
    z-index: 110; }
  body#tinymce.wp-editor .module.artists-exhibitors .hover.preview.text {
    max-width: 250px;
    padding: 10px 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; }
  body#tinymce.wp-editor .module.artists-exhibitors .hover.preview.image img {
    max-width: 200px;
    max-height: 200px; }
  body#tinymce.wp-editor .module.forum .forum-pattern {
    background-attachment: fixed;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
  body#tinymce.wp-editor .module.forum .entry-header {
    margin-top: 1em; }
  body#tinymce.wp-editor .module.forum .forum-block {
    margin-bottom: 50px;
    padding-right: 4%; }
  body#tinymce.wp-editor .module.forum .forum-block a {
    border: 0;
    border-top: solid 1px;
    display: block;
    padding-right: 8%; }
  body#tinymce.wp-editor .module.forum .forum-block a:hover {
    border-color: #cccccc; }
  body#tinymce.wp-editor .module.forum .forum-block h2 {
    overflow: hidden; }
  body#tinymce.wp-editor .white-bg .forum-pattern {
    opacity: 0.15; }
  @media only screen and (max-width: 900px) {
    body#tinymce.wp-editor .artists-exhibitors .text-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  @media only screen and (max-width: 480px) {
    body#tinymce.wp-editor .artists-exhibitors .text-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }
  @media only screen and (max-width: 700px) {
    body#tinymce.wp-editor .home .section-header {
      width: 100%; }
    body#tinymce.wp-editor .module {
      padding-bottom: 40px; }
    body#tinymce.wp-editor .module.slideshow.no-header {
      padding-top: 15px; }
    body#tinymce.wp-editor .module.slideshow .nav.prev .arrow {
      display: none; }
    body#tinymce.wp-editor .module.selected-exhibitors .large-text, body#tinymce.wp-editor .module.selected-exhibitors .entry-content h1, body#tinymce.wp-editor .entry-content .module.selected-exhibitors h1, body#tinymce.wp-editor .module.selected-exhibitors .entry-content h2, body#tinymce.wp-editor .entry-content .module.selected-exhibitors h2 {
      margin-bottom: 1em; }
    body#tinymce.wp-editor .module.selected-exhibitors .view-all-artists {
      display: block; }
    body#tinymce.wp-editor .module.forum .forum-block {
      margin-bottom: 10px;
      padding-right: 0;
      height: auto;
      width: 100%; }
    body#tinymce.wp-editor .module.forum .forum-block:last-child {
      margin-bottom: 30px; }
    body#tinymce.wp-editor .module.forum .forum-block h2 {
      height: auto; }
    body#tinymce.wp-editor .module.big-info .xx-large-text {
      font-size: 24px;
      font-size: 2.4rem; }
    body#tinymce.wp-editor .module.big-info .info-text {
      width: 100%; }
    body#tinymce.wp-editor .module.big-info .sponsors.column.float-right {
      margin-top: 40px;
      max-width: none;
      width: 100%;
      float: left; }
    body#tinymce.wp-editor .module.big-info .sponsors.column.float-right .sponsor {
      float: left;
      margin-bottom: 0;
      margin-right: 0;
      padding-right: 20px;
      width: 50%;
      height: auto; }
    body#tinymce.wp-editor .home .artists-exhibitors {
      display: none; }
    body#tinymce.wp-editor .artists-exhibitors .section-header {
      margin-bottom: 20px; }
    body#tinymce.wp-editor .artists-exhibitors .section-header .column {
      width: 100%; }
    body#tinymce.wp-editor .artists-exhibitors .section-header .column:last-child {
      margin-top: 0.5em; }
    body#tinymce.wp-editor .artists-exhibitors .choice .text-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; }
    body#tinymce.wp-editor .artists-exhibitors .hover.preview {
      display: none; } }
  body#tinymce.wp-editor .edition-archive .past-edition {
    padding-bottom: 40px;
    padding-right: 40px; }
  body#tinymce.wp-editor .edition-archive .past-edition:last-of-type {
    padding-bottom: 0; }
  body#tinymce.wp-editor .edition-archive .past-edition .edition-link {
    border: 1px solid #000;
    display: block;
    margin-bottom: 5px;
    padding: 20px; }
  body#tinymce.wp-editor .edition-archive .alternate-edition-links {
    margin-top: 3em; }
  body#tinymce.wp-editor .edition-archive .alternate-edition-links .button {
    margin-bottom: 1em; }
  body#tinymce.wp-editor .edition-archive .alternate-edition-links .button:last-child {
    margin-bottom: 0; }
  body#tinymce.wp-editor .header.archive {
    background-color: #000;
    color: #fff;
    text-align: center; }
  body#tinymce.wp-editor .header.archive * {
    color: #fff; }
  body#tinymce.wp-editor .header.archive .page-header {
    margin-bottom: 0;
    margin-top: 35px; }
  body#tinymce.wp-editor .header.archive .archive-menu li {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 40px;
    letter-spacing: 0.15em;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1em; }
  @media only screen and (max-width: 700px) {
    body#tinymce.wp-editor .edition-archive .past-edition {
      padding-right: 5px;
      padding-bottom: 15px; }
    body#tinymce.wp-editor .edition-archive .past-edition .edition-link {
      min-height: 0; } }
  body#tinymce.wp-editor .section-anchor {
    border-top: solid 1px transparent;
    display: block;
    width: 100px;
    margin-top: -120px;
    opacity: 0; }
  body#tinymce.wp-editor .anchor-details {
    padding: 0 0 40px; }
  body#tinymce.wp-editor .anchor-details div {
    display: inline-block;
    padding: 10px 20px;
    text-transform: none; }
  body#tinymce.wp-editor .returned-results a {
    display: block; }
  body#tinymce.wp-editor .returned-results .thumbnail img {
    margin-top: 6px; }
  body#tinymce.wp-editor .returned-results p {
    margin-top: 1em; }
  @media only screen and (max-width: 900px) {
    body#tinymce.wp-editor .entry-content {
      width: 100%; }
    body#tinymce.wp-editor .entry-content img {
      max-height: 650px;
      width: auto !important;
      margin: 0 auto; }
    body#tinymce.wp-editor .entry-meta {
      clear: both;
      float: none;
      margin-bottom: 3em; } }
  @media only screen and (max-width: 750px) {
    body#tinymce.wp-editor .page-header {
      width: 100%; }
    body#tinymce.wp-editor #nav-below .third {
      width: 50%; }
    body#tinymce.wp-editor #nav-below .third:nth-child(2) {
      display: none; } }
  @media only screen and (max-width: 700px) {
    body#tinymce.wp-editor .column, body#tinymce.wp-editor .entry-meta {
      padding: 0;
      width: 100%; }
    body#tinymce.wp-editor #action-button {
      bottom: 0;
      border-radius: 0;
      margin-bottom: 0;
      width: 100%;
      right: 0;
      height: 40px;
      line-height: 40px; }
    body#tinymce.wp-editor #action-button:hover {
      margin-bottom: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    body#tinymce.wp-editor #action-button.shadowed {
      border-top: solid 1px #1a1919; }
    body#tinymce.wp-editor .news-archive article {
      margin-bottom: 0;
      padding-right: 0; }
    body#tinymce.wp-editor .news-archive article h2 {
      height: auto;
      margin-bottom: 1.25em; }
    body#tinymce.wp-editor #nav-below .third {
      width: 100%; }
    body#tinymce.wp-editor #nav-below .third:nth-child(2) {
      display: none; } }
  body#tinymce.wp-editor .home .news-list {
    margin-top: 50px; }
  body#tinymce.wp-editor .news-list {
    overflow: auto;
    padding: 0 100px; }
  @media only screen and (max-width: 1000px) {
    body#tinymce.wp-editor .news-list {
      background-color: #fff;
      padding: 0; } }
  body#tinymce.wp-editor .news-list .news-element {
    float: left;
    margin-bottom: 50px;
    text-align: left;
    width: calc(50% - 25px); }
  body#tinymce.wp-editor .news-list .news-element:nth-of-type(odd) {
    margin-right: 50px; }
  body#tinymce.wp-editor .news-list .news-element .title {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1.5px; }
  body#tinymce.wp-editor .news-list .news-element .excerpt {
    font-size: 1.4rem; }
  body#tinymce.wp-editor .news-list .news-element .thumbnail {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 25vw;
    max-height: 300px;
    margin-bottom: 15px;
    width: calc(100%); }
  body#tinymce.wp-editor .news-list .news-element .thumbnail:hover {
    opacity: .8; }
  @media only screen and (max-width: 1000px) {
    body#tinymce.wp-editor .news-list .news-element .thumbnail {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  @media only screen and (max-width: 700px) {
    body#tinymce.wp-editor .news-list .news-element {
      width: 100%; }
    body#tinymce.wp-editor .news-list .news-element:nth-of-type(odd) {
      margin-right: 0; }
    body#tinymce.wp-editor .news-list .news-element .thumbnail {
      height: 60vw; } }
  body#tinymce.wp-editor .read-more {
    margin-top: 30px !important;
    text-align: center; }
  body#tinymce.wp-editor .read-more a {
    color: #000 !important;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  body#tinymce.wp-editor .list.galleries, body#tinymce.wp-editor .list.special-projects {
    padding-bottom: 30px; }
  body#tinymce.wp-editor .list.galleries ul li a:hover, body#tinymce.wp-editor .list.special-projects ul li a:hover {
    color: #ef4c4b; }
  body#tinymce.wp-editor .hover.preview {
    background-color: #fff;
    border: 1px solid #ef4c4b;
    color: #ef4c4b;
    font-size: 12px;
    text-transform: uppercase; }
  body#tinymce.wp-editor .partners-list .partners-row {
    margin-bottom: 50px;
    overflow-x: auto; }
  body#tinymce.wp-editor .partners-list .partners-row > .entry-title {
    border-bottom: 1px solid #000;
    padding-bottom: 5px; }
  body#tinymce.wp-editor .partners-list .partners-row:last-of-type {
    margin-bottom: 0; }
  body#tinymce.wp-editor .partners-list .partners-row p {
    margin-bottom: 30px;
    width: 100%; }
  body#tinymce.wp-editor .partners-list .partners-row a {
    display: inline-block;
    margin: 0 20px 20px 0;
    float: left; }
  body#tinymce.wp-editor .partners-list .partners-row a img {
    float: none;
    margin: 0; }
  body#tinymce.wp-editor .partners-list .partners-row img {
    float: left;
    display: inline-block;
    height: 40px !important;
    margin: 0 20px 20px 0;
    width: auto !important; }
  body#tinymce.wp-editor .button {
    display: inline-block; }
  body#tinymce.wp-editor .button:hover {
    background-color: #000;
    color: #fff; }
  body#tinymce.wp-editor .button.side-padding {
    padding-left: 100px;
    padding-right: 100px; }
  body#tinymce.wp-editor .page-header .medium-text, body#tinymce.wp-editor .page-header #nothing-found p, body#tinymce.wp-editor #nothing-found .page-header p, body#tinymce.wp-editor .page-header #nothing-found input, body#tinymce.wp-editor #nothing-found .page-header input, body#tinymce.wp-editor .page-header .page-details p, body#tinymce.wp-editor .page-details .page-header p, body#tinymce.wp-editor .page-header .page-details input, body#tinymce.wp-editor .page-details .page-header input, body#tinymce.wp-editor .page-header .post-password-form p, body#tinymce.wp-editor .post-password-form .page-header p, body#tinymce.wp-editor .page-header .post-password-form input, body#tinymce.wp-editor .post-password-form .page-header input {
    line-height: 3.4rem; }
  body#tinymce.wp-editor .entry-title.medium-text, body#tinymce.wp-editor #nothing-found p.entry-title, body#tinymce.wp-editor #nothing-found input.entry-title, body#tinymce.wp-editor .page-details p.entry-title, body#tinymce.wp-editor .page-details input.entry-title, body#tinymce.wp-editor .post-password-form p.entry-title, body#tinymce.wp-editor .post-password-form input.entry-title {
    letter-spacing: 2.5px;
    font-size: 2.4rem;
    letter-spacing: 3.5px; }
  body#tinymce.wp-editor .multiple-choice {
    color: #000; }
  body#tinymce.wp-editor .multiple-choice:first-of-type {
    margin-left: 0; }
  @media only screen and (max-width: 480px) {
    body#tinymce.wp-editor .multiple-choice {
      float: left;
      clear: both;
      margin-left: 0;
      margin-bottom: 20px; } }
  body#tinymce.wp-editor .entry-content {
    position: static !important; }
  body#tinymce.wp-editor .entry-content h1 {
    border-top: none;
    margin: 0 0 20px 0;
    letter-spacing: 2.5px;
    font-size: 2.4rem;
    letter-spacing: 3.5px; }
  body#tinymce.wp-editor .entry-content h2, body#tinymce.wp-editor .entry-content h3, body#tinymce.wp-editor .entry-content h4, body#tinymce.wp-editor .entry-content h5 {
    border-top: none;
    margin: 0 0 20px 0;
    font-size: 2rem;
    letter-spacing: 3.5px; }
  body#tinymce.wp-editor .entry-content h1 a, body#tinymce.wp-editor .entry-content h2 a, body#tinymce.wp-editor .entry-content h3 a, body#tinymce.wp-editor .entry-content h4 a, body#tinymce.wp-editor .entry-content h5 a {
    display: inline-block;
    border-bottom: 1px solid; }
  body#tinymce.wp-editor .entry-content h1 a:hover, body#tinymce.wp-editor .entry-content h2 a:hover, body#tinymce.wp-editor .entry-content h3 a:hover, body#tinymce.wp-editor .entry-content h4 a:hover, body#tinymce.wp-editor .entry-content h5 a:hover {
    border-bottom-color: transparent; }
  body#tinymce.wp-editor .entry-content a {
    color: #000; }
  body#tinymce.wp-editor .entry-content.exhibitor {
    padding-bottom: 0;
    padding-top: 50px; }
  body#tinymce.wp-editor .entry-content .wp-caption-text {
    color: #000;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 20px !important;
    width: 100% !important; }
  @media only screen and (max-width: 900px) {
    body#tinymce.wp-editor .entry-content .wp-caption-text {
      max-width: none;
      max-width: initial; } }
  body#tinymce.wp-editor .navigation {
    margin-top: 50px; }
  body#tinymce.wp-editor .navigation .nav-previous, body#tinymce.wp-editor .navigation .nav-next {
    display: inline-block; }
  body#tinymce.wp-editor .navigation .nav-previous a, body#tinymce.wp-editor .navigation .nav-next a {
    color: #000 !important;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  body#tinymce.wp-editor .navigation .nav-previous {
    margin-right: 10px; }
  body#tinymce.wp-editor .navigation .nav-previous {
    margin-left: 10px; }
  body#tinymce.wp-editor .selected-exhibitors {
    margin-top: 30px; }
  body#tinymce.wp-editor .center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px); }
  @media only screen and (max-width: 480px) {
    body#tinymce.wp-editor .center-wrapper {
      min-height: calc(100vh - 50px); } }
  body#tinymce.wp-editor .artist-representation {
    color: #000 !important; }
  body#tinymce.wp-editor .small-bio {
    margin-top: 50px;
    width: 100%;
    text-align: left; }
  body#tinymce.wp-editor .small-bio a {
    border: none; }
  @media only screen and (max-width: 480px) {
    body#tinymce.wp-editor .small-bio {
      width: 100%; } }
  body#tinymce.wp-editor .image.hover.preview {
    border: none !important; }
  body#tinymce.wp-editor hr {
    margin: 2em 0 !important; }
  body#tinymce.wp-editor .absolute {
    position: absolute; }
  body#tinymce.wp-editor .fixed {
    position: fixed; }
  body#tinymce.wp-editor .relative {
    position: relative; }
  body#tinymce.wp-editor .hidden {
    display: none; }
  body#tinymce.wp-editor .invisible {
    visibility: hidden;
    opacity: 0; }
  body#tinymce.wp-editor .float-left {
    float: left; }
  body#tinymce.wp-editor .float-right {
    float: right; }
  body#tinymce.wp-editor .center {
    float: none;
    margin: 0 auto; }
  body#tinymce.wp-editor .align-right {
    text-align: right; }
  body#tinymce.wp-editor .align-center {
    text-align: center; }
  body#tinymce.wp-editor .table {
    display: table;
    border-collapse: separate;
    border-spacing: 0; }
  body#tinymce.wp-editor .table-row {
    display: table-row; }
  body#tinymce.wp-editor .table-cell {
    display: table-cell; }
  body#tinymce.wp-editor .no-margin {
    margin: 0; }
  body#tinymce.wp-editor .no-padding {
    padding: 0; }
  body#tinymce.wp-editor .full-width {
    width: 100%; }
  body#tinymce.wp-editor .full-height {
    height: 100%; }
  body#tinymce.wp-editor .overflow-hidden {
    overflow: hidden !important;
    position: relative !important;
    height: 100% !important; }
  body#tinymce.wp-editor * {
    -webkit-overflow-scrolling: touch; }
  body#tinymce.wp-editor a, body#tinymce.wp-editor a:visited {
    color: #1a1919; }
  body#tinymce.wp-editor a:hover,
  body#tinymce.wp-editor a:active {
    color: #cccccc; }
  body#tinymce.wp-editor .dark-bg {
    background-color: #333333;
    color: white; }
  body#tinymce.wp-editor .dark-bg a, body#tinymce.wp-editor .dark-bg a:visited {
    color: white; }
  body#tinymce.wp-editor .dark-bg a:hover,
  body#tinymce.wp-editor .dark-bg a:active {
    color: #cccccc; }
  body#tinymce.wp-editor .dark-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .button, body#tinymce.wp-editor .dark-bg .post-edit-link {
    border-color: white; }
  body#tinymce.wp-editor .dark-bg .button:hover, body#tinymce.wp-editor .dark-bg .post-edit-link:hover {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .multiple-choice {
    color: #999999; }
  body#tinymce.wp-editor .dark-bg .multiple-choice:visited {
    color: #999999; }
  body#tinymce.wp-editor .dark-bg .multiple-choice:hover, body#tinymce.wp-editor .dark-bg .multiple-choice:active, body#tinymce.wp-editor .dark-bg .multiple-choice.active {
    color: white; }
  body#tinymce.wp-editor .dark-bg .light-bg {
    background-color: #cccccc;
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg a, body#tinymce.wp-editor .dark-bg .light-bg a:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg a:hover,
  body#tinymce.wp-editor .dark-bg .light-bg a:active {
    color: white; }
  body#tinymce.wp-editor .dark-bg .light-bg .caption, body#tinymce.wp-editor .dark-bg .light-bg .wp-caption-text {
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .caption a,
  body#tinymce.wp-editor .dark-bg .light-bg .caption a:visited,
  body#tinymce.wp-editor .dark-bg .light-bg .caption a:hover,
  body#tinymce.wp-editor .dark-bg .light-bg .caption a:active, body#tinymce.wp-editor .dark-bg .light-bg .wp-caption-text a,
  body#tinymce.wp-editor .dark-bg .light-bg .wp-caption-text a:visited,
  body#tinymce.wp-editor .dark-bg .light-bg .wp-caption-text a:hover,
  body#tinymce.wp-editor .dark-bg .light-bg .wp-caption-text a:active {
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .button, body#tinymce.wp-editor .dark-bg .light-bg .post-edit-link {
    border-color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .button:hover, body#tinymce.wp-editor .dark-bg .light-bg .post-edit-link:hover {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .entry-content h3:before {
    background-color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .entry-content a[href*="eventbrite"] {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: transparent; }
  body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice {
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice:before {
    border: solid 1px #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice:hover, body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice:active, body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice.active {
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice:hover:before, body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice:active:before, body#tinymce.wp-editor .dark-bg .light-bg .multiple-choice.active:before {
    border: 0;
    background-color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .light-bg[class^="edition-"], body#tinymce.wp-editor .dark-bg .light-bg[class*=" edition-"] {
    background-color: #807f7f; }
  body#tinymce.wp-editor .dark-bg .light-bg[class^="edition-"].edition-link:hover, body#tinymce.wp-editor .dark-bg .light-bg[class*=" edition-"].edition-link:hover {
    color: #807f7f;
    background-color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .opposite-bg, body#tinymce.wp-editor .dark-bg .white-bg {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .opposite-bg a, body#tinymce.wp-editor .dark-bg .opposite-bg a:visited, body#tinymce.wp-editor .dark-bg .white-bg a, body#tinymce.wp-editor .dark-bg .white-bg a:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .dark-bg .opposite-bg a:hover,
  body#tinymce.wp-editor .dark-bg .opposite-bg a:active, body#tinymce.wp-editor .dark-bg .white-bg a:hover,
  body#tinymce.wp-editor .dark-bg .white-bg a:active {
    color: #cccccc; }
  body#tinymce.wp-editor .dark-bg .opposite-bg .multiple-choice, body#tinymce.wp-editor .dark-bg .white-bg .multiple-choice {
    color: #999999; }
  body#tinymce.wp-editor .dark-bg .opposite-bg .multiple-choice:visited, body#tinymce.wp-editor .dark-bg .white-bg .multiple-choice:visited {
    color: #999999; }
  body#tinymce.wp-editor .dark-bg .opposite-bg .multiple-choice:hover, body#tinymce.wp-editor .dark-bg .opposite-bg .multiple-choice:active, body#tinymce.wp-editor .dark-bg .opposite-bg .multiple-choice.active, body#tinymce.wp-editor .dark-bg .white-bg .multiple-choice:hover, body#tinymce.wp-editor .dark-bg .white-bg .multiple-choice:active, body#tinymce.wp-editor .dark-bg .white-bg .multiple-choice.active {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg a, body#tinymce.wp-editor .white-bg a:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg a:hover,
  body#tinymce.wp-editor .white-bg a:active {
    color: #cccccc; }
  body#tinymce.wp-editor .white-bg .button:hover, body#tinymce.wp-editor .white-bg .post-edit-link:hover {
    background-color: #1a1919;
    color: white; }
  body#tinymce.wp-editor .white-bg .artist-representation {
    color: #999999; }
  body#tinymce.wp-editor .white-bg .artist-representation:link, body#tinymce.wp-editor .white-bg .artist-representation:visited {
    color: #999999; }
  body#tinymce.wp-editor .white-bg .artist-representation:hover, body#tinymce.wp-editor .white-bg .artist-representation:active {
    color: #cccccc; }
  body#tinymce.wp-editor .white-bg .light-bg {
    background-color: #cccccc;
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg a, body#tinymce.wp-editor .white-bg .light-bg a:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg a:hover,
  body#tinymce.wp-editor .white-bg .light-bg a:active {
    color: white; }
  body#tinymce.wp-editor .white-bg .light-bg .caption, body#tinymce.wp-editor .white-bg .light-bg .wp-caption-text {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .caption a,
  body#tinymce.wp-editor .white-bg .light-bg .caption a:visited,
  body#tinymce.wp-editor .white-bg .light-bg .caption a:hover,
  body#tinymce.wp-editor .white-bg .light-bg .caption a:active, body#tinymce.wp-editor .white-bg .light-bg .wp-caption-text a,
  body#tinymce.wp-editor .white-bg .light-bg .wp-caption-text a:visited,
  body#tinymce.wp-editor .white-bg .light-bg .wp-caption-text a:hover,
  body#tinymce.wp-editor .white-bg .light-bg .wp-caption-text a:active {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .button, body#tinymce.wp-editor .white-bg .light-bg .post-edit-link {
    border-color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .button:hover, body#tinymce.wp-editor .white-bg .light-bg .post-edit-link:hover {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .entry-content h3:before {
    background-color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .entry-content a[href*="eventbrite"] {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: transparent; }
  body#tinymce.wp-editor .white-bg .light-bg .multiple-choice {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .multiple-choice:before {
    border: solid 1px #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .multiple-choice:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .multiple-choice:hover, body#tinymce.wp-editor .white-bg .light-bg .multiple-choice:active, body#tinymce.wp-editor .white-bg .light-bg .multiple-choice.active {
    color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg .multiple-choice:hover:before, body#tinymce.wp-editor .white-bg .light-bg .multiple-choice:active:before, body#tinymce.wp-editor .white-bg .light-bg .multiple-choice.active:before {
    border: 0;
    background-color: #1a1919; }
  body#tinymce.wp-editor .white-bg .light-bg[class^="edition-"], body#tinymce.wp-editor .white-bg .light-bg[class*=" edition-"] {
    background-color: #807f7f; }
  body#tinymce.wp-editor .white-bg .light-bg[class^="edition-"].edition-link:hover, body#tinymce.wp-editor .white-bg .light-bg[class*=" edition-"].edition-link:hover {
    color: #807f7f;
    background-color: #1a1919; }
  body#tinymce.wp-editor .white-bg .opposite-bg, body#tinymce.wp-editor .white-bg .dark-bg {
    background-color: #333333;
    color: white; }
  body#tinymce.wp-editor .white-bg .opposite-bg a, body#tinymce.wp-editor .white-bg .opposite-bg a:visited, body#tinymce.wp-editor .white-bg .dark-bg a, body#tinymce.wp-editor .white-bg .dark-bg a:visited {
    color: white; }
  body#tinymce.wp-editor .white-bg .opposite-bg a:hover,
  body#tinymce.wp-editor .white-bg .opposite-bg a:active, body#tinymce.wp-editor .white-bg .dark-bg a:hover,
  body#tinymce.wp-editor .white-bg .dark-bg a:active {
    color: #cccccc; }
  body#tinymce.wp-editor .artist-representation {
    color: #999999; }
  body#tinymce.wp-editor .artist-representation:link, body#tinymce.wp-editor .artist-representation:visited {
    color: #999999; }
  body#tinymce.wp-editor .artist-representation:hover, body#tinymce.wp-editor .artist-representation:active {
    color: #cccccc; }
  body#tinymce.wp-editor .light-bg {
    background-color: #cccccc;
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg a, body#tinymce.wp-editor .light-bg a:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg a:hover,
  body#tinymce.wp-editor .light-bg a:active {
    color: white; }
  body#tinymce.wp-editor .light-bg .caption, body#tinymce.wp-editor .light-bg .wp-caption-text {
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg .caption a,
  body#tinymce.wp-editor .light-bg .caption a:visited,
  body#tinymce.wp-editor .light-bg .caption a:hover,
  body#tinymce.wp-editor .light-bg .caption a:active, body#tinymce.wp-editor .light-bg .wp-caption-text a,
  body#tinymce.wp-editor .light-bg .wp-caption-text a:visited,
  body#tinymce.wp-editor .light-bg .wp-caption-text a:hover,
  body#tinymce.wp-editor .light-bg .wp-caption-text a:active {
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg .button, body#tinymce.wp-editor .light-bg .post-edit-link {
    border-color: #1a1919; }
  body#tinymce.wp-editor .light-bg .button:hover, body#tinymce.wp-editor .light-bg .post-edit-link:hover {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg .entry-content h3:before {
    background-color: #1a1919; }
  body#tinymce.wp-editor .light-bg .entry-content a[href*="eventbrite"] {
    background-color: white;
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: transparent; }
  body#tinymce.wp-editor .light-bg .multiple-choice {
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg .multiple-choice:before {
    border: solid 1px #1a1919; }
  body#tinymce.wp-editor .light-bg .multiple-choice:visited {
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg .multiple-choice:hover, body#tinymce.wp-editor .light-bg .multiple-choice:active, body#tinymce.wp-editor .light-bg .multiple-choice.active {
    color: #1a1919; }
  body#tinymce.wp-editor .light-bg .multiple-choice:hover:before, body#tinymce.wp-editor .light-bg .multiple-choice:active:before, body#tinymce.wp-editor .light-bg .multiple-choice.active:before {
    border: 0;
    background-color: #1a1919; }
  body#tinymce.wp-editor .light-bg[class^="edition-"], body#tinymce.wp-editor .light-bg[class*=" edition-"] {
    background-color: #807f7f; }
  body#tinymce.wp-editor .light-bg[class^="edition-"].edition-link:hover, body#tinymce.wp-editor .light-bg[class*=" edition-"].edition-link:hover {
    color: #807f7f;
    background-color: #1a1919; }
  body#tinymce.wp-editor .module.forum .forum-block a:hover {
    border-color: #cccccc; }
  body#tinymce.wp-editor .slide a:hover p, body#tinymce.wp-editor .slide a:hover p {
    color: #cccccc; }
  body#tinymce.wp-editor .edition-archive.light-bg .dark-bg, body#tinymce.wp-editor .edition-archive.light-bg .opposite-bg {
    background-color: transparent;
    color: #1a1919; }
  @media only screen and (max-width: 900px) {
    body#tinymce.wp-editor #header-locations a.multiple-choice.active, body#tinymce.wp-editor #header-locations a.multiple-choice:hover {
      background-color: #cccccc; } }
  @media only screen and (max-width: 775px) {
    body#tinymce.wp-editor #search #s:focus, body#tinymce.wp-editor #search:hover #s:focus {
      background-color: #cccccc; } }
