/*

Custom editor styles for 1-54 theme

*/

@import "setup/reset"; 
@import "setup/mixins";
@import "setup/defaults";
@import "setup/variables"; 
@import "layout/images";
@import "typography/fonts";

$font_sans : "theinhardt_reg";
$font_sans_italic : "theinhardt_reg_ital";
$font_sans_med : "theinhardt_med";
$font_sans_med_italic : "theinhardt_med_ital";

$font_serif : Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;

$fake_edition_light : deepPink;

body#tinymce.wp-editor.wp-autoresize {
	padding-top: 3.5% !important;
	padding-bottom: 1px !important;
	padding-left: 3.5% !important;
	padding-right: 3.5% !important;
}

body#tinymce.wp-editor {
	/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 
	TH 
	http://67.20.90.243 

	--------------------------------------------------------
	NOTES

	Edition light color:
	Should be between 60 and 80% lightness on the HSL scale

	Edition dark color:
	Should be between 0 and 30% lightness on the HSL scale. 
	Upwards of 50% would be OK.

	http://hslpicker.com

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Setup
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_s_backboneize_in_s_backboneafari_for_ios_without_disabling_user_zoom/ */ }

body {
  background-color: #FFFFFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:link {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

textarea, input, input[type="submit"], input[type="text"], input[type="button"], button {
  border-radius: none;
  -webkit-border-radius: 0px;
  -webkit-appearance: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clears floated elements */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility;
  /* kerning */ }

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: "Charter";
  src: url("../fonts/charter/34E836_0_0.eot");
  src: url("../fonts/charter/34E836_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/charter/34E836_0_0.woff2") format("woff2"), url("../fonts/charter/34E836_0_0.woff") format("woff"), url("../fonts/charter/34E836_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Charter_italic";
  src: url("../fonts/charter/34E836_1_0.eot");
  src: url("../fonts/charter/34E836_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/charter/34E836_1_0.woff2") format("woff2"), url("../fonts/charter/34E836_1_0.woff") format("woff"), url("../fonts/charter/34E836_1_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 10px;
  font-size: 62.5%; }

body, .sans, .entry-content a[href*="eventbrite"] {
  color: #1a1919;
  font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.35;
  letter-spacing: 0.04em; }

/*-------------------------------------------------------------
	Text Sizes & Styles

	NOTES

(captions) 15/20 : 	Captions
(small)    16/22 : 	Artist list
(sans)     20/26 : 	Palatino
(med)      24/26 : 	interior pages locations
(large)    28/32 :	home page section headings, 
								interior pages big text, 
								home page locations
(x-large)  36/40 : 	single page titles, 
								big text slideshow module, 
								forum module
(xx-large) 40/48 : 	home page about

--------------------------------------------------------------*/
.keep {
  white-space: nowrap; }

.break {
  display: block; }

.tracked-out, .text-tiny-caps, h3, .button, .post-edit-link, input, #nothing-found #s, #nothing-found #searchsubmit, #nothing-found input[type="submit"], .page-details input[type="submit"], .post-password-form input[type="submit"] {
  letter-spacing: 0.2em; }

.serif {
  font-family: "Charter", Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.3; }
  .serif em {
    font-style: oblique; }
  .serif b, .serif strong {
    font-style: bold; }

.text-tiny-caps, h3, .button, .post-edit-link, input, #nothing-found #s, #nothing-found #searchsubmit {
  font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase; }

h3 {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.3em;
  line-height: 1.9;
  margin-top: 3.5em; }

.caption,
.wp-caption-text {
  color: #999999;
  font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 2em; }
  .caption em,
  .wp-caption-text em {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic; }
  .caption b, .caption strong,
  .wp-caption-text b,
  .wp-caption-text strong {
    font-style: normal;
    font-family: "TheinhardtMedium", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.small-text, #nothing-found input[type="submit"], .page-details input[type="submit"], .post-password-form input[type="submit"] {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4; }

.medium-text, #nothing-found p, #nothing-found input, .page-details p, .page-details input, .post-password-form p, .post-password-form input {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.1; }

.large-text, .entry-content h1, .entry-content h2 {
  font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: 0.02em;
  line-height: 1.15; }

.x-large-text {
  font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: 0.02em;
  line-height: 1.1; }

.xx-large-text {
  font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 0.025em;
  line-height: 1.2; }

.giant-text {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1.1; }

@media only screen and (max-width: 750px) {
  .x-large-text, .xx-large-text {
    font-size: 32px;
    font-size: 3.2rem; } }

@media only screen and (max-width: 600px) {
  .x-large-text, .xx-large-text {
    font-size: 30px;
    font-size: 3rem; }
  .large-text, .entry-content h1, .entry-content h2 {
    font-size: 24px;
    font-size: 2.4rem; } }

/*-------------------------------------------------------------
	Entry / Page / Post Content
--------------------------------------------------------------*/
.entry-title {
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.entry-meta p {
  margin-bottom: 1em; }

.entry-meta a {
  border-bottom: solid 1px; }
  .entry-meta a:hover, .entry-meta a:active {
    border: none; }

.entry-content h1 {
  border-top: solid 1px;
  letter-spacing: 0.03em;
  margin: 2.5em 0 1.5em;
  padding-top: 0.5em; }

.entry-content h2 {
  line-height: 1.2;
  margin-bottom: 1em; }

.entry-content h1:first-child,
.entry-content h1 + h3 {
  margin-top: 0; }

.entry-content h3:before {
  border-radius: 6px;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 1em;
  position: relative;
  top: 1px; }

.entry-content ul, .entry-content ol, .entry-content p {
  margin-bottom: 1em; }
  .entry-content ul a:link, .entry-content ol a:link, .entry-content p a:link {
    border-bottom: solid 1px; }
  .entry-content ul a:visited, .entry-content ol a:visited, .entry-content p a:visited {
    border-bottom: solid 1px; }
  .entry-content ul a:hover, .entry-content ol a:hover, .entry-content p a:hover {
    border-bottom: none; }
  .entry-content ul a:active, .entry-content ol a:active, .entry-content p a:active {
    border-bottom: none; }

.entry-content ul h2, .entry-content ol h2 {
  margin-bottom: 0; }
  .entry-content ul h2 a:link, .entry-content ol h2 a:link {
    border: none; }
  .entry-content ul h2 a:visited, .entry-content ol h2 a:visited {
    border: none; }

.entry-content ol {
  counter-reset: item;
  margin-left: 2em; }
  .entry-content ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    margin-left: -2em;
    position: absolute; }

.entry-content q,
.entry-content blockquote {
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em; }

.entry-content div,
.entry-content embed,
.entry-content figure,
.entry-content figcaption,
.entry-content .entry-caption {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: auto !important; }

.entry-content figcaption,
.entry-content .caption,
.entry-content .wp-caption-text {
  margin: 0.5em 0 2em; }

.entry-content img {
  margin: 0 auto;
  width: 100% !important;
  height: auto !important; }
  .entry-content img.size-medium {
    margin-left: 0 !important;
    width: 50% !important;
    max-width: 300px; }
  .entry-content img.size-thumbnail {
    margin-left: 0 !important;
    width: 25% !important;
    max-width: 150px; }

.entry-content img + p {
  margin-top: 1em; }

.entry-content a[href*="eventbrite"] {
  border: 1px solid #000 !important;
  background-color: transparent;
  display: inline-block;
  margin-bottom: 5px;
  padding: 14px 20px; }
  .entry-content a[href*="eventbrite"]:link {
    border: 0; }
  .entry-content a[href*="eventbrite"]:hover {
    background-color: #1a1919;
    color: white; }

.entry-content p[style*="justify"] {
  text-align: left !important; }

.entry-content p:last-child {
  margin-bottom: 0; }

/*-------------------------------------------------------------
	Links
--------------------------------------------------------------*/
a:link {
  cursor: pointer; }

.hover-light-bg:hover, .hover-light-bg:active {
  color: #1a1919; }

.hover-inverse:hover, .hover-inverse:active {
  background-color: #1a1919; }

.presented-artists a {
  border-bottom: solid 1px; }
  .presented-artists a:hover {
    border-bottom: none; }

/*-------------------------------------------------------------
	Elements & Typographic Modules
--------------------------------------------------------------*/
hr {
  border: none;
  border-color: #1a1919;
  border-top: solid 1px;
  display: block;
  margin: 3em 0 1em; }

.button, .post-edit-link {
  border: solid 1px #1a1919;
  display: block;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
  padding: 0 20px; }
  .button:hover, .post-edit-link:hover {
    background-color: white;
    color: #1a1919; }

.post-edit-link {
  margin: 20px 0;
  text-align: center; }

input {
  background-color: transparent;
  border: solid 1px #1a1919;
  color: #1a1919;
  min-height: 50px;
  outline: none;
  text-transform: uppercase;
  width: 100%; }

input[type="submit"] {
  cursor: pointer; }

input:focus,
input:hover {
  outline: none;
  background-color: #cccccc; }

input[type="submit"].light-bg:hover {
  outline: none;
  background-color: white; }

::-webkit-input-placeholder {
  color: #1a1919; }

:-ms-input-placeholder {
  color: #1a1919; }

:-moz-placeholder {
  color: #1a1919; }

::-moz-placeholder {
  color: #1a1919; }

.multiple-choice {
  border: 0;
  color: #999999;
  display: inline-block;
  margin-left: 1.5em; }
  .multiple-choice:visited {
    color: #999999; }
  .multiple-choice:hover, .multiple-choice:active, .multiple-choice.active {
    color: #ef4c4b;
    border-bottom: 2px solid #ef4c4b; }

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Layout
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*-------------------------------------------------------------
	Keep the footer at the bottom of the page
	http://www.wentsch.me/responsive-sticky-footer-flexible-height
--------------------------------------------------------------*/
html, body {
  height: 100%; }

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top -160px right -150px;
  background-size: 500px;
  background-color: white;
  padding-top: 90px;
  display: table;
  width: 100%;
  table-layout: fixed; }
  @media only screen and (max-width: 1000px) {
    body {
      padding-top: 50px; } }
  @media only screen and (max-width: 800px) {
    body {
      background-image: none !important; } }

.page-row {
  display: table-row;
  height: 1px; }

.page-row-expanded {
  height: 100%; }

/*-------------------------------------------------------------
	Containers
--------------------------------------------------------------*/
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3.5%;
  position: relative; }

#content {
  overflow-x: hidden;
  padding: 0 0 80px; }
  #content.module-container {
    padding: 0; }

.page-header,
.section-header {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px; }
  .page-header .small-text:first-of-type, .page-header #nothing-found input[type="submit"]:first-of-type, #nothing-found .page-header input[type="submit"]:first-of-type, .page-header .page-details input[type="submit"]:first-of-type, .page-details .page-header input[type="submit"]:first-of-type, .page-header .post-password-form input[type="submit"]:first-of-type, .post-password-form .page-header input[type="submit"]:first-of-type,
  .section-header .small-text:first-of-type,
  .section-header #nothing-found input[type="submit"]:first-of-type, #nothing-found
  .section-header input[type="submit"]:first-of-type,
  .section-header .page-details input[type="submit"]:first-of-type, .page-details
  .section-header input[type="submit"]:first-of-type,
  .section-header .post-password-form input[type="submit"]:first-of-type, .post-password-form
  .section-header input[type="submit"]:first-of-type {
    margin-top: 5px; }

.entry-content {
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 100px;
  padding-top: 100px; }

.module {
  border-top: solid 1px #1a1919;
  padding-bottom: 80px; }
  .module:first-of-type {
    border-top: none; }

/*-------------------------------------------------------------
	Temporarily Hide Overflow
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	Columns
--------------------------------------------------------------*/
.column {
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 20px 0 0;
  position: relative; }
  .column.no-padding {
    padding: 0; }
  .column.float-right {
    float: right; }

.quarter {
  width: 25%; }

.quarter-2 {
  width: 50%; }

.quarter-3 {
  width: 75%; }

.fifth {
  width: 20%; }

.fifth-2 {
  width: 40%; }

.fifth-3 {
  width: 60%; }

.fifth-4 {
  width: 80%; }

.third {
  width: 33.333%; }

.third-2 {
  width: 66.666%; }

.sixth {
  width: 16.6666%; }

.sixth-5 {
  width: 83.3333%; }

.ninth {
  width: 11%; }

.ninth-2 {
  width: 22%; }

.ninth-3 {
  width: 33%; }

.ninth-4 {
  width: 44%; }

.ninth-5 {
  width: 55%; }

.ninth-6 {
  width: 66%; }

.ninth-7 {
  width: 77%; }

.ninth-8 {
  width: 88%; }

.text-columns.column-5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5; }

.text-columns.column-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4; }

.text-columns.column-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

.text-columns p, .text-columns li {
  display: inline-block;
  width: 100%;
  -webkit-column-gap: 4%;
  -moz-column-gap: 4%;
  column-gap: 4%;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  margin-right: 1em; }

figure, figcaption, img {
  display: block;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%; }

.thumbnail img {
  width: 100%; }

a:hover .thumbnail img {
  opacity: 0.4; }

/*-------------------------------------------------------------
	Header old
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	Header new
--------------------------------------------------------------*/
#header .logo-mobile {
  display: none; }

#header .hamburger {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: none;
  height: 50px;
  line-height: 50px;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  right: 0;
  text-align: center;
  width: 70px;
  z-index: 20; }

#header .main-nav {
  border-bottom: 1px solid #000;
  height: 90px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  @media only screen and (max-width: 1024px) {
    #header .main-nav {
      border-bottom: none; } }
  #header .main-nav .inner {
    position: relative; }
  #header .main-nav .logo {
    display: inline-block;
    margin: 10px 0;
    position: absolute;
    z-index: 10; }
    #header .main-nav .logo img, #header .main-nav .logo svg {
      height: 70px;
      display: inline-block;
      margin-right: 10px; }
    #header .main-nav .logo svg {
      width: 170px; }
    #header .main-nav .logo:hover svg, #header .main-nav .logo:hover svg * {
      fill: #ef4c4b; }
    #header .main-nav .logo.right-side {
      right: calc(3.5%); }
  #header .main-nav ul {
    padding: 35px 0;
    position: relative;
    text-align: center;
    width: 100%; }
    #header .main-nav ul li {
      display: inline-block;
      font-size: 12px;
      margin: 0 30px;
      letter-spacing: 1.5px;
      text-transform: uppercase; }
      #header .main-nav ul li.current-menu-item a {
        color: #ef4c4b; }
      #header .main-nav ul li.search-wrapper {
        display: inline-block;
        position: relative; }
        #header .main-nav ul li.search-wrapper .search-btn {
          display: inline-block;
          height: 18px;
          width: 18px; }
          #header .main-nav ul li.search-wrapper .search-btn svg {
            height: 100%;
            margin-bottom: -4px;
            width: 100%; }
          #header .main-nav ul li.search-wrapper .search-btn:hover {
            opacity: .6; }
        #header .main-nav ul li.search-wrapper form {
          display: none;
          position: absolute;
          right: -10px;
          top: 30px; }
          #header .main-nav ul li.search-wrapper form input[type='text'] {
            background-color: #fff;
            text-align: left;
            height: 45px;
            min-height: none;
            min-height: initial;
            width: 170px; }
          #header .main-nav ul li.search-wrapper form input[type='submit'] {
            display: none; }
        #header .main-nav ul li.search-wrapper.expanded form {
          display: inline-block; }
    @media only screen and (max-width: 1024px) {
      #header .main-nav ul {
        padding: 35px 120px 35px 200px; }
        #header .main-nav ul li {
          margin: 0 15px; } }
    @media only screen and (max-width: 995px) {
      #header .main-nav ul li {
        margin: 0 10px; } }

#header .cities-nav {
  background-color: #fff;
  border-bottom: 1px solid #000;
  height: 90px;
  width: 100%; }
  #header .cities-nav .wrapper > ul {
    padding: 24px 0;
    text-align: center; }
    #header .cities-nav .wrapper > ul > li {
      display: inline-block;
      font-size: 24px;
      letter-spacing: 4px;
      line-height: 40px;
      margin: 0 70px; }
      #header .cities-nav .wrapper > ul > li a {
        display: inline-block;
        height: 100%; }
      @media only screen and (max-width: 1000px) {
        #header .cities-nav .wrapper > ul > li {
          margin: 0 40px; } }
      @media only screen and (max-width: 800px) {
        #header .cities-nav .wrapper > ul > li {
          font-size: 28px;
          margin: 0 30px; } }
      #header .cities-nav .wrapper > ul > li.active {
        border-bottom: 2px solid #ef4c4b; }
        #header .cities-nav .wrapper > ul > li.active a {
          color: #ef4c4b; }
      #header .cities-nav .wrapper > ul > li ul {
        display: none; }

#header .secondary-nav {
  border-bottom: 1px solid #000;
  z-index: 9 !important; }
  #header .secondary-nav ul {
    padding: 10px 0;
    text-align: center; }
    #header .secondary-nav ul li {
      display: inline-block;
      font-size: 14px;
      letter-spacing: 1.5px;
      margin: 0 30px; }
      #header .secondary-nav ul li.current-menu-item a {
        color: #ef4c4b; }
    @media only screen and (max-width: 1000px) {
      #header .secondary-nav ul li {
        margin: 0 25px; } }

#header .main-nav, #header .secondary-nav {
  background-color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top -160px right -150px;
  background-size: 500px; }

#header .tickets {
  position: absolute;
  top: 65px;
  right: 3.5%;
  width: auto !important;
  z-index: 10 !important; }
  #header .tickets a.button {
    background-color: #fff;
    display: inline-block;
    width: auto !important;
    right: 3.5%;
    height: 45px;
    line-height: 45px;
    font-size: 1.1rem; }
    #header .tickets a.button:hover {
      background-color: #000;
      color: #fff; }
    @media only screen and (max-width: 800px) {
      #header .tickets a.button {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        width: 200px !important; } }
  @media only screen and (max-width: 800px) {
    #header .tickets {
      background: #fff;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: top -160px right -150px;
      background-size: 500px;
      border-bottom: 1px solid #000;
      padding: 10px 10px 15px 10px;
      position: relative;
      right: auto;
      top: auto; }
      #header .tickets a {
        margin-left: 0;
        padding: 0 25px; } }

@media only screen and (max-width: 1000px) {
  #header {
    background-color: #fff;
    border-bottom: 1px solid #000;
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20; }
    #header.expanded {
      height: 100vh; }
      #header.expanded .scrollable {
        display: block; }
    #header .hamburger {
      display: inline-block; }
    #header .logo-mobile {
      display: inline-block;
      left: 5px;
      margin: 0;
      position: fixed;
      top: 5px; }
      #header .logo-mobile img {
        height: 40px; }
    #header .scrollable {
      border-top: 1px solid #000;
      display: none;
      margin-top: 50px;
      height: calc(100vh - 50px);
      overflow: auto;
      padding-bottom: 100px;
      -webkit-overflow-scrolling: touch; }
    #header .main-nav, #header .secondary-nav {
      background-color: #fff;
      background-image: none; }
    #header .main-nav {
      height: auto;
      position: static; }
      #header .main-nav .wrapper {
        padding: 0; }
        #header .main-nav .wrapper .logo {
          display: none; }
        #header .main-nav .wrapper ul {
          padding: 10px 0;
          text-align: left; }
          #header .main-nav .wrapper ul li {
            font-weight: bold;
            display: block;
            line-height: initial;
            margin: 0; }
            #header .main-nav .wrapper ul li a {
              display: inline-block;
              font-size: 14px;
              font-weight: lighter;
              padding: 10px;
              width: 100%; }
            #header .main-nav .wrapper ul li.search-wrapper {
              margin-bottom: 0;
              margin-top: 15px;
              margin-left: 10px; }
              #header .main-nav .wrapper ul li.search-wrapper a {
                display: none; }
              #header .main-nav .wrapper ul li.search-wrapper form {
                display: inline-block !important;
                position: relative;
                right: auto;
                top: auto;
                max-width: 200px;
                vertical-align: middle;
                width: 100%; }
                #header .main-nav .wrapper ul li.search-wrapper form input[type="text"] {
                  font-size: 1.1rem;
                  line-height: 45px;
                  width: 100%; }
      #header .main-nav .search-wrapper {
        display: none; }
    #header .cities-nav {
      border-bottom: none;
      height: auto; }
      #header .cities-nav .wrapper {
        padding: 0; }
        #header .cities-nav .wrapper > ul {
          padding: 0;
          text-align: left; }
          #header .cities-nav .wrapper > ul > li {
            border-bottom: 1px solid #000 !important;
            display: block;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
            line-height: 24px;
            letter-spacing: 1.5px; }
            #header .cities-nav .wrapper > ul > li a {
              display: inline-block;
              font-weight: lighter;
              font-size: 16px;
              padding: 10px;
              width: 100%; }
            #header .cities-nav .wrapper > ul > li > a {
              background-image: url(../imgs/arrow-up.svg);
              background-position: center right 10px;
              background-size: 20px;
              background-repeat: no-repeat;
              border-bottom: 1px solid #000;
              margin-bottom: -1px; }
              #header .cities-nav .wrapper > ul > li > a.expanded {
                background-image: url(../imgs/arrow-down.svg); }
                #header .cities-nav .wrapper > ul > li > a.expanded + ul {
                  max-height: 1000px; }
            #header .cities-nav .wrapper > ul > li > a + ul {
              border-bottom: none !important;
              display: block;
              max-height: 0;
              width: 100%;
              overflow: hidden;
              -webkit-transition: all 0.2s easein;
              -moz-transition: all 0.2s easein;
              -ms-transition: all 0.2s easein;
              -o-transition: all 0.2s easein;
              transition: all 0.2s easein; }
              #header .cities-nav .wrapper > ul > li > a + ul li {
                border-bottom: none !important;
                font-weight: normal;
                text-transform: none; }
                #header .cities-nav .wrapper > ul > li > a + ul li a {
                  color: #000 !important;
                  padding: 5px 10px;
                  padding-left: 25px; }
                #header .cities-nav .wrapper > ul > li > a + ul li.current-menu-item a {
                  color: #ef4c4b !important; }
                #header .cities-nav .wrapper > ul > li > a + ul li:first-of-type {
                  margin-top: 5px; }
                #header .cities-nav .wrapper > ul > li > a + ul li:last-of-type {
                  border-bottom: none;
                  margin-bottom: 5px; }
    #header .secondary-nav {
      display: none; } }

/*-------------------------------------------------------------
	Footer new
--------------------------------------------------------------*/
#footer {
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  bottom: -90px;
  overflow: auto;
  padding: 15px 0; }
  #footer .social {
    display: inline-block;
    vertical-align: middle; }
    #footer .social .newsletter-link {
      padding-bottom: 20px; }
    #footer .social #menu-social-networks li, #footer .social #menu-social-links li, #footer .social #menu-footer-menu li {
      display: inline-block; }
      #footer .social #menu-social-networks li a, #footer .social #menu-social-links li a, #footer .social #menu-footer-menu li a {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        color: transparent !important;
        height: 25px;
        margin-right: 10px;
        overflow: hidden;
        width: 25px; }
      #footer .social #menu-social-networks li.facebook a, #footer .social #menu-social-links li.facebook a, #footer .social #menu-footer-menu li.facebook a {
        background-image: url(../imgs/icon-facebook.svg); }
      #footer .social #menu-social-networks li.twitter a, #footer .social #menu-social-links li.twitter a, #footer .social #menu-footer-menu li.twitter a {
        background-image: url(../imgs/icon-twitter.svg); }
      #footer .social #menu-social-networks li.instagram a, #footer .social #menu-social-links li.instagram a, #footer .social #menu-footer-menu li.instagram a {
        background-image: url(../imgs/icon-instagram.svg); }
      #footer .social #menu-social-networks li.artsy a, #footer .social #menu-social-links li.artsy a, #footer .social #menu-footer-menu li.artsy a {
        background-image: url(../imgs/icon-artsy.svg); }
  #footer .sponsors-ads {
    display: inline-block;
    float: right;
    vertical-align: middle; }
    #footer .sponsors-ads a {
      display: inline-block; }
      #footer .sponsors-ads a img {
        margin-bottom: 0;
        max-height: 70px; }
    @media only screen and (max-width: 700px) {
      #footer .sponsors-ads {
        display: block;
        margin-top: 30px;
        width: 100%; } }

/*-------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	Password Protected, Search, & 404 Pages
--------------------------------------------------------------*/
.shadowed, #nothing-found, .page-details, .post-password-form, #action-button:hover, .go-behind-button #action-button {
  margin-bottom: 5px;
  -webkit-box-shadow: 5px 5px 0px 0px #1a1919;
  -moz-box-shadow: 5px 5px 0px 0px #1a1919;
  box-shadow: 5px 5px 0px 0px #1a1919; }

#action-button:hover, .go-behind-button #action-button {
  margin-bottom: 0; }

a.shadowed:hover {
  margin-bottom: 0; }

a.shadowed:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#nothing-found, .page-details, .post-password-form {
  color: #1a1919;
  padding: 20px 25px 35px; }
  #nothing-found p, #nothing-found input, .page-details p, .page-details input, .post-password-form p, .post-password-form input {
    font-family: "TheinhardtRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #1a1919; }
  #nothing-found input[type="submit"], .page-details input[type="submit"], .post-password-form input[type="submit"] {
    border-top: 0;
    margin-top: 0; }
  #nothing-found input, .page-details input, .post-password-form input {
    line-height: 50px;
    margin: 1em 0 0;
    outline: 0;
    padding: 0 20px; }
    #nothing-found input:hover, #nothing-found input:focus, #nothing-found input:active, .page-details input:hover, .page-details input:focus, .page-details input:active, .post-password-form input:hover, .post-password-form input:focus, .post-password-form input:active {
      background-color: white; }

.light-bg #nothing-found, .light-bg .page-details, .light-bg .post-password-form {
  background-color: white; }
  .light-bg #nothing-found input, .light-bg .page-details input, .light-bg .post-password-form input {
    background-color: #cccccc; }
    .light-bg #nothing-found input:hover, .light-bg #nothing-found input:focus, .light-bg #nothing-found input:active, .light-bg .page-details input:hover, .light-bg .page-details input:focus, .light-bg .page-details input:active, .light-bg .post-password-form input:hover, .light-bg .post-password-form input:focus, .light-bg .post-password-form input:active {
      background-color: white; }

#nothing-found #s, #nothing-found #searchsubmit {
  margin-top: 0; }

#nothing-found #s {
  width: 75%; }

#nothing-found #searchsubmit {
  border-left: 0;
  border-top: solid 1px #1a1919;
  width: 25%; }

.page-details {
  margin-bottom: 50px;
  padding-bottom: 20px; }
  .page-details p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1em; }

@media only screen and (max-width: 775px) {
  #nothing-found #s {
    width: 100%; }
  #nothing-found #searchsubmit {
    display: none; } }

/*-------------------------------------------------------------
	News Archive
--------------------------------------------------------------*/
.news-archive {
  border-bottom: 1px solid #000; }
  .news-archive article {
    margin-bottom: 40px;
    padding-right: 4%; }
    .news-archive article header {
      margin-bottom: 0.5em; }
    .news-archive article h2 {
      height: 3.45em;
      margin-top: 0.7em;
      overflow: hidden; }
  .news-archive #nav-below .column.quarter-2 {
    width: 50%; }

/*-------------------------------------------------------------
	Modules
--------------------------------------------------------------*/
#action-button {
  border: 0;
  border-radius: 60px;
  border-radius: 50%;
  color: #1a1919;
  display: none;
  line-height: 120px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  bottom: 40px;
  right: 3.5%;
  z-index: 50; }
  #action-button a {
    border: 0;
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 100%; }
  #action-button.shadowed, #action-button:hover {
    margin: 0; }
  #action-button:hover a {
    background-color: white;
    color: #1a1919; }
  #action-button.shadowed:hover {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.slick-list {
  margin-left: 3.5%; }

.slick-slider {
  margin-bottom: 0; }

.slick-disabled {
  display: none !important; }

.slide {
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear; }
  .slide.slick-active {
    opacity: 1; }

.module {
  padding-bottom: 30px !important; }
  .module.slideshow {
    min-height: 300px;
    /* so when we fade it in, the whole page doesn't jump */ }
    .module.slideshow.no-header {
      padding-top: 40px; }
      .module.slideshow.no-header .section-header {
        display: none; }
    .module.slideshow.full-width {
      padding-bottom: 0 !important;
      padding-top: 0 !important; }
      .module.slideshow.full-width #slideshow-container {
        padding-bottom: 0; }
      .module.slideshow.full-width #slideshow-tray.hero {
        height: 35vw; }
        @media only screen and (max-width: 1440px) {
          .module.slideshow.full-width #slideshow-tray.hero {
            height: 600px; } }
        @media only screen and (max-width: 900px) {
          .module.slideshow.full-width #slideshow-tray.hero {
            height: 480px; } }
        @media only screen and (max-width: 480px) {
          .module.slideshow.full-width #slideshow-tray.hero {
            height: 350px; } }
        .module.slideshow.full-width #slideshow-tray.hero .slick-list {
          height: 100%;
          padding: 0;
          margin: 0; }
          .module.slideshow.full-width #slideshow-tray.hero .slick-list .slick-track {
            height: 100%; }
            .module.slideshow.full-width #slideshow-tray.hero .slick-list .slick-track .slide {
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              height: 100%;
              padding-right: 0; }
              .module.slideshow.full-width #slideshow-tray.hero .slick-list .slick-track .slide img {
                object-fit: cover;
                font-family: 'object-fit: cover;';
                height: 100%;
                margin-bottom: 0;
                width: 100%; }
        .module.slideshow.full-width #slideshow-tray.hero .nav.prev {
          left: 0; }
        .module.slideshow.full-width #slideshow-tray.hero .nav.next {
          right: 0; }
    .module.slideshow .slide {
      padding-right: 20px; }
      .module.slideshow .slide header {
        margin-bottom: 0.5em; }
      .module.slideshow .slide img {
        margin-bottom: 15px; }
      .module.slideshow .slide p {
        padding-right: 5%; }
      .module.slideshow .slide a figure img {
        object-fit: contain;
        font-family: 'object-fit: contain;';
        height: 300px;
        width: 100%; }
    .module.slideshow .nav {
      cursor: pointer;
      height: 300px;
      width: 15%;
      top: 0;
      bottom: 0;
      padding: 0; }
      .module.slideshow .nav .arrow {
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        display: block;
        width: 45px;
        height: 90px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto; }
      .module.slideshow .nav.prev {
        left: -60px; }
        .module.slideshow .nav.prev .arrow {
          left: 13.125%;
          background-image: url(../imgs/slideshow-arrow-left.svg); }
        .module.slideshow .nav.prev:hover .arrow {
          opacity: .5; }
      .module.slideshow .nav.next {
        right: -60px; }
        .module.slideshow .nav.next .arrow {
          right: 13.125%;
          background-image: url(../imgs/slideshow-arrow-right.svg); }
        .module.slideshow .nav.next:hover .arrow {
          opacity: .6; }
  .module.big-info p {
    margin-bottom: 1em; }
  .module.big-info .section-content .info-text {
    margin: 0 auto; }
  .module.big-info .section-content.sponsors .info-text {
    float: left; }
  .module.big-info .sponsors.column {
    max-width: 200px; }
  .module.big-info .sponsor {
    margin-bottom: 20px;
    height: 140px;
    width: 140px; }
    .module.big-info .sponsor a {
      background-color: white;
      border: none;
      display: block;
      margin-bottom: 20px;
      width: 100%;
      height: 100%; }
    .module.big-info .sponsor a:hover {
      background-color: #1a1919;
      color: white; }
  .module.selected-exhibitors .exhibitor h2 {
    margin-top: 0.5em;
    margin-bottom: 30px; }
  .module.selected-exhibitors .view-all-artists {
    display: none; }
  .module.artists-exhibitors .choice {
    display: none; }
    .module.artists-exhibitors .choice.active {
      display: block; }
    .module.artists-exhibitors .choice li ul li {
      padding-left: 1em; }
      .module.artists-exhibitors .choice li ul li a {
        text-indent: -1em;
        display: block; }
  .module.artists-exhibitors .section-content {
    line-height: 1.5; }
    .module.artists-exhibitors .section-content h2 {
      line-height: 1; }
    .module.artists-exhibitors .section-content ul li ul {
      display: inline-block;
      margin-bottom: 1em; }
  .module.artists-exhibitors .hover.preview {
    z-index: 110; }
    .module.artists-exhibitors .hover.preview.text {
      max-width: 250px;
      padding: 10px 20px;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      word-wrap: break-word; }
    .module.artists-exhibitors .hover.preview.image img {
      max-width: 200px;
      max-height: 200px; }
  .module.forum .forum-pattern {
    background-attachment: fixed;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
  .module.forum .entry-header {
    margin-top: 1em; }
  .module.forum .forum-block {
    margin-bottom: 50px;
    padding-right: 4%; }
    .module.forum .forum-block a {
      border: 0;
      border-top: solid 1px;
      display: block;
      padding-right: 8%; }
      .module.forum .forum-block a:hover {
        border-color: #cccccc; }
    .module.forum .forum-block h2 {
      overflow: hidden; }

.white-bg .forum-pattern {
  opacity: 0.15; }

@media only screen and (max-width: 900px) {
  .artists-exhibitors .text-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media only screen and (max-width: 480px) {
  .artists-exhibitors .text-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; } }

@media only screen and (max-width: 700px) {
  .home .section-header {
    width: 100%; }
  .module {
    padding-bottom: 40px; }
    .module.slideshow.no-header {
      padding-top: 15px; }
    .module.slideshow .nav.prev .arrow {
      display: none; }
    .module.selected-exhibitors .large-text, .module.selected-exhibitors .entry-content h1, .entry-content .module.selected-exhibitors h1, .module.selected-exhibitors .entry-content h2, .entry-content .module.selected-exhibitors h2 {
      margin-bottom: 1em; }
    .module.selected-exhibitors .view-all-artists {
      display: block; }
    .module.forum .forum-block {
      margin-bottom: 10px;
      padding-right: 0;
      height: auto;
      width: 100%; }
      .module.forum .forum-block:last-child {
        margin-bottom: 30px; }
      .module.forum .forum-block h2 {
        height: auto; }
    .module.big-info .xx-large-text {
      font-size: 24px;
      font-size: 2.4rem; }
    .module.big-info .info-text {
      width: 100%; }
    .module.big-info .sponsors.column.float-right {
      margin-top: 40px;
      max-width: none;
      width: 100%;
      float: left; }
      .module.big-info .sponsors.column.float-right .sponsor {
        float: left;
        margin-bottom: 0;
        margin-right: 0;
        padding-right: 20px;
        width: 50%;
        height: auto; }
  .home .artists-exhibitors {
    display: none; }
  .artists-exhibitors .section-header {
    margin-bottom: 20px; }
    .artists-exhibitors .section-header .column {
      width: 100%; }
      .artists-exhibitors .section-header .column:last-child {
        margin-top: 0.5em; }
  .artists-exhibitors .choice .text-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
  .artists-exhibitors .hover.preview {
    display: none; } }

/*-------------------------------------------------------------
	Edition Archive
--------------------------------------------------------------*/
.edition-archive .past-edition {
  padding-bottom: 40px;
  padding-right: 40px; }
  .edition-archive .past-edition:last-of-type {
    padding-bottom: 0; }
  .edition-archive .past-edition .edition-link {
    border: 1px solid #000;
    display: block;
    margin-bottom: 5px;
    padding: 20px; }

.edition-archive .alternate-edition-links {
  margin-top: 3em; }
  .edition-archive .alternate-edition-links .button {
    margin-bottom: 1em; }
    .edition-archive .alternate-edition-links .button:last-child {
      margin-bottom: 0; }

.header.archive {
  background-color: #000;
  color: #fff;
  text-align: center; }
  .header.archive * {
    color: #fff; }
  .header.archive .page-header {
    margin-bottom: 0;
    margin-top: 35px; }
  .header.archive .archive-menu li {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 40px;
    letter-spacing: 0.15em;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1em; }

@media only screen and (max-width: 700px) {
  .edition-archive .past-edition {
    padding-right: 5px;
    padding-bottom: 15px; }
    .edition-archive .past-edition .edition-link {
      min-height: 0; } }

/*-------------------------------------------------------------
	Section Anchors (single pages only)
--------------------------------------------------------------*/
.section-anchor {
  border-top: solid 1px transparent;
  display: block;
  width: 100px;
  margin-top: -120px;
  opacity: 0; }

.anchor-details {
  padding: 0 0 40px; }
  .anchor-details div {
    display: inline-block;
    padding: 10px 20px;
    text-transform: none; }

/*-------------------------------------------------------------
	Search Results
--------------------------------------------------------------*/
.returned-results a {
  display: block; }

.returned-results .thumbnail img {
  margin-top: 6px; }

.returned-results p {
  margin-top: 1em; }

/*-------------------------------------------------------------
	Responsive Styles
--------------------------------------------------------------*/
@media only screen and (max-width: 900px) {
  .entry-content {
    width: 100%; }
    .entry-content img {
      max-height: 650px;
      width: auto !important;
      margin: 0 auto; }
  .entry-meta {
    clear: both;
    float: none;
    margin-bottom: 3em; } }

@media only screen and (max-width: 750px) {
  .page-header {
    width: 100%; }
  #nav-below .third {
    width: 50%; }
  #nav-below .third:nth-child(2) {
    display: none; } }

@media only screen and (max-width: 700px) {
  .column, .entry-meta {
    padding: 0;
    width: 100%; }
  #action-button {
    bottom: 0;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    right: 0;
    height: 40px;
    line-height: 40px; }
    #action-button:hover {
      margin-bottom: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #action-button.shadowed {
      border-top: solid 1px #1a1919; }
  .news-archive article {
    margin-bottom: 0;
    padding-right: 0; }
    .news-archive article h2 {
      height: auto;
      margin-bottom: 1.25em; }
  #nav-below .third {
    width: 100%; }
  #nav-below .third:nth-child(2) {
    display: none; } }

.home .news-list {
  margin-top: 50px; }

.news-list {
  overflow: auto;
  padding: 0 100px; }
  @media only screen and (max-width: 1000px) {
    .news-list {
      background-color: #fff;
      padding: 0; } }
  .news-list .news-element {
    float: left;
    margin-bottom: 50px;
    text-align: left;
    width: calc(50% - 25px); }
    .news-list .news-element:nth-of-type(odd) {
      margin-right: 50px; }
    .news-list .news-element .title {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 1.5px; }
    .news-list .news-element .excerpt {
      font-size: 1.4rem; }
    .news-list .news-element .thumbnail {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: inline-block;
      height: 25vw;
      max-height: 300px;
      margin-bottom: 15px;
      width: calc(100%); }
      .news-list .news-element .thumbnail:hover {
        opacity: .8; }
    @media only screen and (max-width: 1000px) {
      .news-list .news-element .thumbnail {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    @media only screen and (max-width: 700px) {
      .news-list .news-element {
        width: 100%; }
        .news-list .news-element:nth-of-type(odd) {
          margin-right: 0; }
        .news-list .news-element .thumbnail {
          height: 60vw; } }

.read-more {
  margin-top: 30px !important;
  text-align: center; }
  .read-more a {
    color: #000 !important;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase; }

.list.galleries, .list.special-projects {
  padding-bottom: 30px; }
  .list.galleries ul li a:hover, .list.special-projects ul li a:hover {
    color: #ef4c4b; }

.hover.preview {
  background-color: #fff;
  border: 1px solid #ef4c4b;
  color: #ef4c4b;
  font-size: 12px;
  text-transform: uppercase; }

.partners-list .partners-row {
  margin-bottom: 50px;
  overflow-x: auto; }
  .partners-list .partners-row > .entry-title {
    border-bottom: 1px solid #000;
    padding-bottom: 5px; }
  .partners-list .partners-row:last-of-type {
    margin-bottom: 0; }
  .partners-list .partners-row p {
    margin-bottom: 30px;
    width: 100%; }
  .partners-list .partners-row a {
    display: inline-block;
    margin: 0 20px 20px 0;
    float: left; }
    .partners-list .partners-row a img {
      float: none;
      margin: 0; }
  .partners-list .partners-row img {
    float: left;
    display: inline-block;
    height: 40px !important;
    margin: 0 20px 20px 0;
    width: auto !important; }

.button {
  display: inline-block; }
  .button:hover {
    background-color: #000;
    color: #fff; }
  .button.side-padding {
    padding-left: 100px;
    padding-right: 100px; }

.page-header .medium-text, .page-header #nothing-found p, #nothing-found .page-header p, .page-header #nothing-found input, #nothing-found .page-header input, .page-header .page-details p, .page-details .page-header p, .page-header .page-details input, .page-details .page-header input, .page-header .post-password-form p, .post-password-form .page-header p, .page-header .post-password-form input, .post-password-form .page-header input {
  line-height: 3.4rem; }

.entry-title.medium-text, #nothing-found p.entry-title, #nothing-found input.entry-title, .page-details p.entry-title, .page-details input.entry-title, .post-password-form p.entry-title, .post-password-form input.entry-title {
  letter-spacing: 2.5px;
  font-size: 2.4rem;
  letter-spacing: 3.5px; }

.multiple-choice {
  color: #000; }
  .multiple-choice:first-of-type {
    margin-left: 0; }
  @media only screen and (max-width: 480px) {
    .multiple-choice {
      float: left;
      clear: both;
      margin-left: 0;
      margin-bottom: 20px; } }

.entry-content {
  position: static !important; }
  .entry-content h1 {
    border-top: none;
    margin: 0 0 20px 0;
    letter-spacing: 2.5px;
    font-size: 2.4rem;
    letter-spacing: 3.5px; }
  .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5 {
    border-top: none;
    margin: 0 0 20px 0;
    font-size: 2rem;
    letter-spacing: 3.5px; }
  .entry-content h1 a, .entry-content h2 a, .entry-content h3 a, .entry-content h4 a, .entry-content h5 a {
    display: inline-block;
    border-bottom: 1px solid; }
    .entry-content h1 a:hover, .entry-content h2 a:hover, .entry-content h3 a:hover, .entry-content h4 a:hover, .entry-content h5 a:hover {
      border-bottom-color: transparent; }
  .entry-content a {
    color: #000; }
  .entry-content.exhibitor {
    padding-bottom: 0;
    padding-top: 50px; }

.entry-content .wp-caption-text {
  color: #000;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 20px !important;
  width: 100% !important; }
  @media only screen and (max-width: 900px) {
    .entry-content .wp-caption-text {
      max-width: none;
      max-width: initial; } }

.navigation {
  margin-top: 50px; }
  .navigation .nav-previous, .navigation .nav-next {
    display: inline-block; }
    .navigation .nav-previous a, .navigation .nav-next a {
      color: #000 !important;
      font-size: 14px;
      letter-spacing: 1.5px;
      text-transform: uppercase; }
  .navigation .nav-previous {
    margin-right: 10px; }
  .navigation .nav-previous {
    margin-left: 10px; }

.selected-exhibitors {
  margin-top: 30px; }

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 90px); }
  @media only screen and (max-width: 480px) {
    .center-wrapper {
      min-height: calc(100vh - 50px); } }

.artist-representation {
  color: #000 !important; }

.small-bio {
  margin-top: 50px;
  width: 100%;
  text-align: left; }
  .small-bio a {
    border: none; }
  @media only screen and (max-width: 480px) {
    .small-bio {
      width: 100%; } }

.image.hover.preview {
  border: none !important; }

hr {
  margin: 2em 0 !important; }

/*-------------------------------------------------------------
	Presentational Classes
--------------------------------------------------------------*/
.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden;
  opacity: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.center {
  float: none;
  margin: 0 auto; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 0; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.overflow-hidden {
  overflow: hidden !important;
  position: relative !important;
  height: 100% !important; }

* {
  -webkit-overflow-scrolling: touch; }

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Color
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a, a:visited {
  color: #1a1919; }

a:hover,
a:active {
  color: #cccccc; }

.dark-bg {
  background-color: #333333;
  color: white; }
  .dark-bg a, .dark-bg a:visited {
    color: white; }
  .dark-bg a:hover,
  .dark-bg a:active {
    color: #cccccc; }
  .dark-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: white;
    color: #1a1919; }
  .dark-bg .button, .dark-bg .post-edit-link {
    border-color: white; }
    .dark-bg .button:hover, .dark-bg .post-edit-link:hover {
      background-color: white;
      color: #1a1919; }
  .dark-bg .multiple-choice {
    color: #999999; }
    .dark-bg .multiple-choice:visited {
      color: #999999; }
    .dark-bg .multiple-choice:hover, .dark-bg .multiple-choice:active, .dark-bg .multiple-choice.active {
      color: white; }
  .dark-bg .light-bg {
    background-color: #cccccc;
    color: #1a1919; }
    .dark-bg .light-bg a, .dark-bg .light-bg a:visited {
      color: #1a1919; }
    .dark-bg .light-bg a:hover,
    .dark-bg .light-bg a:active {
      color: white; }
    .dark-bg .light-bg .caption, .dark-bg .light-bg .wp-caption-text {
      color: #1a1919; }
      .dark-bg .light-bg .caption a,
      .dark-bg .light-bg .caption a:visited,
      .dark-bg .light-bg .caption a:hover,
      .dark-bg .light-bg .caption a:active, .dark-bg .light-bg .wp-caption-text a,
      .dark-bg .light-bg .wp-caption-text a:visited,
      .dark-bg .light-bg .wp-caption-text a:hover,
      .dark-bg .light-bg .wp-caption-text a:active {
        color: #1a1919; }
    .dark-bg .light-bg .button, .dark-bg .light-bg .post-edit-link {
      border-color: #1a1919; }
      .dark-bg .light-bg .button:hover, .dark-bg .light-bg .post-edit-link:hover {
        background-color: white;
        color: #1a1919; }
    .dark-bg .light-bg .entry-content h3:before {
      background-color: #1a1919; }
    .dark-bg .light-bg .entry-content a[href*="eventbrite"] {
      background-color: white;
      color: #1a1919; }
    .dark-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
      background-color: transparent; }
    .dark-bg .light-bg .multiple-choice {
      color: #1a1919; }
      .dark-bg .light-bg .multiple-choice:before {
        border: solid 1px #1a1919; }
      .dark-bg .light-bg .multiple-choice:visited {
        color: #1a1919; }
      .dark-bg .light-bg .multiple-choice:hover, .dark-bg .light-bg .multiple-choice:active, .dark-bg .light-bg .multiple-choice.active {
        color: #1a1919; }
        .dark-bg .light-bg .multiple-choice:hover:before, .dark-bg .light-bg .multiple-choice:active:before, .dark-bg .light-bg .multiple-choice.active:before {
          border: 0;
          background-color: #1a1919; }
  .dark-bg .light-bg[class^="edition-"], .dark-bg .light-bg[class*=" edition-"] {
    background-color: #807f7f; }
    .dark-bg .light-bg[class^="edition-"].edition-link:hover, .dark-bg .light-bg[class*=" edition-"].edition-link:hover {
      color: #807f7f;
      background-color: #1a1919; }
  .dark-bg .opposite-bg, .dark-bg .white-bg {
    background-color: white;
    color: #1a1919; }
    .dark-bg .opposite-bg a, .dark-bg .opposite-bg a:visited, .dark-bg .white-bg a, .dark-bg .white-bg a:visited {
      color: #1a1919; }
    .dark-bg .opposite-bg a:hover,
    .dark-bg .opposite-bg a:active, .dark-bg .white-bg a:hover,
    .dark-bg .white-bg a:active {
      color: #cccccc; }
    .dark-bg .opposite-bg .multiple-choice, .dark-bg .white-bg .multiple-choice {
      color: #999999; }
      .dark-bg .opposite-bg .multiple-choice:visited, .dark-bg .white-bg .multiple-choice:visited {
        color: #999999; }
      .dark-bg .opposite-bg .multiple-choice:hover, .dark-bg .opposite-bg .multiple-choice:active, .dark-bg .opposite-bg .multiple-choice.active, .dark-bg .white-bg .multiple-choice:hover, .dark-bg .white-bg .multiple-choice:active, .dark-bg .white-bg .multiple-choice.active {
        color: #1a1919; }

.white-bg {
  background-color: white;
  color: #1a1919; }
  .white-bg a, .white-bg a:visited {
    color: #1a1919; }
  .white-bg a:hover,
  .white-bg a:active {
    color: #cccccc; }
  .white-bg .button:hover, .white-bg .post-edit-link:hover {
    background-color: #1a1919;
    color: white; }
  .white-bg .artist-representation {
    color: #999999; }
    .white-bg .artist-representation:link, .white-bg .artist-representation:visited {
      color: #999999; }
    .white-bg .artist-representation:hover, .white-bg .artist-representation:active {
      color: #cccccc; }
  .white-bg .light-bg {
    background-color: #cccccc;
    color: #1a1919; }
    .white-bg .light-bg a, .white-bg .light-bg a:visited {
      color: #1a1919; }
    .white-bg .light-bg a:hover,
    .white-bg .light-bg a:active {
      color: white; }
    .white-bg .light-bg .caption, .white-bg .light-bg .wp-caption-text {
      color: #1a1919; }
      .white-bg .light-bg .caption a,
      .white-bg .light-bg .caption a:visited,
      .white-bg .light-bg .caption a:hover,
      .white-bg .light-bg .caption a:active, .white-bg .light-bg .wp-caption-text a,
      .white-bg .light-bg .wp-caption-text a:visited,
      .white-bg .light-bg .wp-caption-text a:hover,
      .white-bg .light-bg .wp-caption-text a:active {
        color: #1a1919; }
    .white-bg .light-bg .button, .white-bg .light-bg .post-edit-link {
      border-color: #1a1919; }
      .white-bg .light-bg .button:hover, .white-bg .light-bg .post-edit-link:hover {
        background-color: white;
        color: #1a1919; }
    .white-bg .light-bg .entry-content h3:before {
      background-color: #1a1919; }
    .white-bg .light-bg .entry-content a[href*="eventbrite"] {
      background-color: white;
      color: #1a1919; }
    .white-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
      background-color: transparent; }
    .white-bg .light-bg .multiple-choice {
      color: #1a1919; }
      .white-bg .light-bg .multiple-choice:before {
        border: solid 1px #1a1919; }
      .white-bg .light-bg .multiple-choice:visited {
        color: #1a1919; }
      .white-bg .light-bg .multiple-choice:hover, .white-bg .light-bg .multiple-choice:active, .white-bg .light-bg .multiple-choice.active {
        color: #1a1919; }
        .white-bg .light-bg .multiple-choice:hover:before, .white-bg .light-bg .multiple-choice:active:before, .white-bg .light-bg .multiple-choice.active:before {
          border: 0;
          background-color: #1a1919; }
  .white-bg .light-bg[class^="edition-"], .white-bg .light-bg[class*=" edition-"] {
    background-color: #807f7f; }
    .white-bg .light-bg[class^="edition-"].edition-link:hover, .white-bg .light-bg[class*=" edition-"].edition-link:hover {
      color: #807f7f;
      background-color: #1a1919; }
  .white-bg .opposite-bg, .white-bg .dark-bg {
    background-color: #333333;
    color: white; }
    .white-bg .opposite-bg a, .white-bg .opposite-bg a:visited, .white-bg .dark-bg a, .white-bg .dark-bg a:visited {
      color: white; }
    .white-bg .opposite-bg a:hover,
    .white-bg .opposite-bg a:active, .white-bg .dark-bg a:hover,
    .white-bg .dark-bg a:active {
      color: #cccccc; }

.artist-representation {
  color: #999999; }
  .artist-representation:link, .artist-representation:visited {
    color: #999999; }
  .artist-representation:hover, .artist-representation:active {
    color: #cccccc; }

.light-bg {
  background-color: #cccccc;
  color: #1a1919; }
  .light-bg a, .light-bg a:visited {
    color: #1a1919; }
  .light-bg a:hover,
  .light-bg a:active {
    color: white; }
  .light-bg .caption, .light-bg .wp-caption-text {
    color: #1a1919; }
    .light-bg .caption a,
    .light-bg .caption a:visited,
    .light-bg .caption a:hover,
    .light-bg .caption a:active, .light-bg .wp-caption-text a,
    .light-bg .wp-caption-text a:visited,
    .light-bg .wp-caption-text a:hover,
    .light-bg .wp-caption-text a:active {
      color: #1a1919; }
  .light-bg .button, .light-bg .post-edit-link {
    border-color: #1a1919; }
    .light-bg .button:hover, .light-bg .post-edit-link:hover {
      background-color: white;
      color: #1a1919; }
  .light-bg .entry-content h3:before {
    background-color: #1a1919; }
  .light-bg .entry-content a[href*="eventbrite"] {
    background-color: white;
    color: #1a1919; }
  .light-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: transparent; }
  .light-bg .multiple-choice {
    color: #1a1919; }
    .light-bg .multiple-choice:before {
      border: solid 1px #1a1919; }
    .light-bg .multiple-choice:visited {
      color: #1a1919; }
    .light-bg .multiple-choice:hover, .light-bg .multiple-choice:active, .light-bg .multiple-choice.active {
      color: #1a1919; }
      .light-bg .multiple-choice:hover:before, .light-bg .multiple-choice:active:before, .light-bg .multiple-choice.active:before {
        border: 0;
        background-color: #1a1919; }

.light-bg[class^="edition-"], .light-bg[class*=" edition-"] {
  background-color: #807f7f; }
  .light-bg[class^="edition-"].edition-link:hover, .light-bg[class*=" edition-"].edition-link:hover {
    color: #807f7f;
    background-color: #1a1919; }

.module.forum .forum-block a:hover {
  border-color: #cccccc; }

.slide a:hover p, .slide a:hover p {
  color: #cccccc; }

.edition-archive.light-bg .dark-bg, .edition-archive.light-bg .opposite-bg {
  background-color: transparent;
  color: #1a1919; }

@media only screen and (max-width: 900px) {
  #header-locations a.multiple-choice.active, #header-locations a.multiple-choice:hover {
    background-color: #cccccc; } }

@media only screen and (max-width: 775px) {
  #search #s:focus, #search:hover #s:focus {
    background-color: #cccccc; } }


}