// color constants
$black : hsl(0, 0%, 10%);
$white : white;
$gray  : hsl(0, 0%, 60%);

// color variables (default colors)
$edition_light : hsl(0, 0%, 80%);
$edition_dark  : hsl(0, 0%, 20%);

// borders & rules
$rule_thickness : 1px;

// z-indexes
$z_abs_top : 110;
$z_top     : 100;
$z_middle  : 50;
$z_bottom  : 25;