/*

Description: Custom editor styles for 1-54 theme
Version: 1.0

*/

@import "reset"; 
@import "mixins";
@import "defaults";
@import "variables"; 
@import "images";
@import "fonts";
@import "typography";

body#tinymce.wp-editor.wp-autoresize {
	padding-top: 3.5% !important;
	padding-bottom: 1px !important;
	padding-left: 3.5% !important;
	padding-right: 3.5% !important;
}

body#tinymce.wp-editor {

	p {
		font-family: $font_serif;
		@include font-size(1.8);
		letter-spacing: 0;
		line-height: 1.3;
		margin-bottom: 1em;

		em {
			font-style: oblique;
		}
		b, strong {
			font-style: bold;
		}
	}

	.captions, p.wp-caption-text {
		color: $gray;
		font-family: $font_sans;
		@include font-size(1.6);
		line-height: 1.2;
		margin-top: 1em;
		letter-spacing: 0.02em;

		em {
			font-style: normal;
			font-family: $font_sans_italic;
		}
		b, strong {
			font-style: normal;
			font-family: $font_sans_med;
		}

	}

	q, blockquote, q p, blockquote p {
		margin-left: 1em;
		margin-right: 1em;
	}

	h1, h2 {
		font-family: $font_sans;
		@include font-size(2.8);
		letter-spacing: 0.02em;
		line-height: 1.15;	
	}
		h1 {
			border-top: solid $rule_thickness $black;
			letter-spacing: 0.03em;
			margin: 2.5em 0 1.5em;
			padding-top: 0.5em;
		}
		h1:first-child {
			margin-top: 0;
		}
		h2 {
			line-height: 1.2;
			margin-bottom: 1em;
		}

	ul, ol {
		@extend p;
		margin: 1em 0;

		a:link { 
			color: $black; 
			border-bottom: solid 1px;
		}
		a:visited { 
			color: $black; 
			border-bottom: solid 1px;
		}
		a:hover { 
			color: $edition_light; 
			border-bottom: none;
		}
		a:active { 
			color: $edition_light; 
			border-bottom: none;
		}

		h2 {
			margin-bottom: 0;

			a:link { 
				border: none;
				color: $black; 
			}
			a:visited { 
				border: none;
				color: $black; 
			}
			a:hover { color: $edition_light; }
			a:active { color: $edition_light; }
		}

	}

	ol {
		counter-reset: item;
		margin-left: 2em;
		
		li:before {
			display: inline-block;
			content: counter(item) ".";
			counter-increment: item;
			margin-left: -2em;
			position: absolute;
		}
	}

	div {
		margin: 0;
		padding: 0;
		width: auto !important;
	}
	img {
		margin: 0 auto;
		width: 100% !important;
		height: auto !important;
	}

}