@charset "UTF-8"; 

/*-------------------------------------------------------------
	Color (v.2)
--------------------------------------------------------------*/

$new_edition_light : $edition_light;
$new_edition_dark : $edition_dark;


a:hover   { 
	color: $new_edition_light; 
}
a:active  { 
	color: $new_edition_light; 
}

li {
	a:hover   { color: $new_edition_light; }
	a:active  { color: $new_edition_light; }
}


.dark-bg {
	background-color: $new_edition_dark;
	color: $white;

	a
	, a:link
	, a:visited
	, .current-menu-item a
	, .current_page_item a {
		color: $white;
	}

	.opposite-bg, .white-bg {
		background-color: $white;
		color: $black;

		a
		, a:link
		, a:visited
		, .current-menu-item a
		, .current_page_item a {
			color: $black;
		}
	}

}

.light-bg {
	background-color: $new_edition_light;
	color: $black;

	a
	, a:link
	, a:visited
	, .current-menu-item a
	, .current_page_item a {
		color: $black;
	}

	input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"]:active {
		background-color: $new_edition_light;
	}

}

.white-bg {
	background-color: $white;
	color: $black;

	.opposite-bg {
		background-color: $new_edition_dark;
		color: $white;

		a
		, a:link
		, a:visited
		, .current-menu-item a
		, .current_page_item a {
			color: $white;
		}
	}
	
}

.dark-bg, .white-bg {
	&, .opposite-bg {
		a:hover
		, a:active {
			color: $new_edition_light;
		}
	}
}

#header nav, #header nav.dark-bg {
	li a:hover
	, li a:active
	, .current-menu-item a
	, .current_page_item a {
		background-color: $new_edition_light;
	}	
}
// text is black
.hover-light-bg, a.hover-light-bg {
	&:hover
	, &:active {
		background-color: $new_edition_light;
	}
}
// background-color is black
.hover-inverse, a.hover-inverse {
	&:hover
	, &:active {
		color: $new_edition_light;
	}
}

input[type="submit"]:hover
, a[href*=eventbrite]:link
, .entry-content h3:before
, .post-password-form {
	background-color: $new_edition_light;
}

.module.slideshow {
	a:hover * {
		color: $new_edition_light;
	}
}



a.multiple-choice {
	&.active:before
	, , &:hover:before {
		background-color: $new_edition_light;
	}

}


.entry-content {

	ul, ol {
		a:hover { 
			color: $new_edition_light; 
		}
		a:active { 
			color: $new_edition_light; 
		}

		h2 {
			a:visited { 
				color: $black; 
			}
			a:hover { color: $new_edition_light; }
			a:active { color: $new_edition_light; }
		}

	}

}

a:hover .thumbnail {
	background-color: $new_edition_light;
}
