/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 
	TH
	http://67.20.90.243 

	--------------------------------------------------------
	NOTES

	Edition light color:
	Should be between 60 and 80% lightness on the HSL scale

	Edition dark color:
	Should be between 0 and 30% lightness on the HSL scale. 
	Upwards of 50% would be OK.

	http://hslpicker.com

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Setup
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_s_backboneize_in_s_backboneafari_for_ios_without_disabling_user_zoom/ */ }

body {
  background-color: #FFFFFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:link {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clears floated elements */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility;
  /* kerning */ }

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  font-size: 10px;
  font-size: 62.5%; }

body, .sans, .entry-content a[href*="eventbrite"] {
  color: #1a1919;
  font-family: "Theinhardt-Regular";
  font-size: 15px;
  line-height: 1.35;
  letter-spacing: 0.04em; }

/*-------------------------------------------------------------
	Text Sizes & Styles

	NOTES

(captions) 15/20 : 	Captions
(small)    16/22 : 	Artist list
(sans)     20/26 : 	Palatino
(med)      24/26 : 	interior pages locations
(large)    28/32 :	home page section headings, 
								interior pages big text, 
								home page locations
(x-large)  36/40 : 	single page titles, 
								big text slideshow module, 
								forum module
(xx-large) 40/48 : 	home page about

--------------------------------------------------------------*/
.keep {
  white-space: nowrap; }

.break {
  display: block; }

.tracked-out, .text-tiny-caps, h3, .button, .post-edit-link, input, #nothing-found #s, #nothing-found #searchsubmit, #nothing-found input[type="submit"], .page-details input[type="submit"], .post-password-form input[type="submit"] {
  letter-spacing: 0.2em; }

.serif {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.3; }
  .serif em {
    font-style: oblique; }
  .serif b, .serif strong {
    font-style: bold; }

.text-tiny-caps, h3, .button, .post-edit-link, input, #nothing-found #s, #nothing-found #searchsubmit {
  font-family: "Theinhardt-Regular";
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase; }

h3 {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.3em;
  line-height: 1.9;
  margin-top: 3.5em; }

.caption,
.wp-caption-text {
  font-family: "Theinhardt-Regular";
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 1em; }
  .caption em,
  .wp-caption-text em {
    font-family: "Theinhardt-Regular";
    font-style: italic; }
  .caption b, .caption strong,
  .wp-caption-text b,
  .wp-caption-text strong {
    font-style: normal;
    font-family: "Theinhardt-Medium"; }

.small-text, #nothing-found input[type="submit"], .page-details input[type="submit"], .post-password-form input[type="submit"] {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4; }

.medium-text, #nothing-found p, #nothing-found input, .page-details p, .page-details input, .post-password-form p, .post-password-form input {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.1; }

.large-text, .entry-content h1, .entry-content h2 {
  font-family: "Theinhardt-Regular";
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: 0.02em;
  line-height: 1.15; }

.x-large-text {
  font-family: "Theinhardt-Regular";
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: 0.06em;
  line-height: 1.1; }

.xx-large-text {
  font-family: "Theinhardt-Regular";
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 0.025em;
  line-height: 1.2; }

.giant-text {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1.1; }

/*-------------------------------------------------------------
	Entry / Page / Post Content
--------------------------------------------------------------*/
.entry-meta p {
  margin-bottom: 1em; }

.entry-meta a {
  border-bottom: solid 1px; }
  .entry-meta a:hover, .entry-meta a:active {
    border: none; }

.entry-content h1 {
  border-top: solid 1px;
  letter-spacing: 0.03em;
  margin: 2.5em 0 1.5em;
  padding-top: 0.5em; }

.entry-content h2 {
  line-height: 1.2;
  margin-bottom: 1em; }

.entry-content h1:first-child,
.entry-content h1 + h3 {
  margin-top: 0; }

.entry-content h3:before {
  border-radius: 6px;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 1em;
  position: relative;
  top: 1px; }

.entry-content ul, .entry-content ol, .entry-content p {
  margin-bottom: 1em; }
  .entry-content ul a:link, .entry-content ol a:link, .entry-content p a:link {
    border-bottom: solid 1px; }
  .entry-content ul a:visited, .entry-content ol a:visited, .entry-content p a:visited {
    border-bottom: solid 1px; }
  .entry-content ul a:hover, .entry-content ol a:hover, .entry-content p a:hover {
    border-bottom: none; }
  .entry-content ul a:active, .entry-content ol a:active, .entry-content p a:active {
    border-bottom: none; }

.entry-content ul h2, .entry-content ol h2 {
  margin-bottom: 0; }
  .entry-content ul h2 a:link, .entry-content ol h2 a:link {
    border: none; }
  .entry-content ul h2 a:visited, .entry-content ol h2 a:visited {
    border: none; }

.entry-content ol {
  counter-reset: item;
  margin-left: 2em; }
  .entry-content ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    margin-left: -2em;
    position: absolute; }

.entry-content q,
.entry-content blockquote {
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em; }

.entry-content div,
.entry-content embed,
.entry-content figure,
.entry-content figcaption,
.entry-content iframe,
.entry-content .entry-caption {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: auto !important; }

.entry-content figcaption,
.entry-content .caption,
.entry-content .wp-caption-text {
  margin: 0.5em 0 1em; }

.entry-content img {
  margin: 0 auto;
  width: 100% !important;
  height: auto !important; }

.entry-content img + p {
  margin-top: 1em; }

.entry-content a[href*="eventbrite"] {
  background-color: #999999;
  display: inline-block;
  margin-bottom: 5px;
  padding: 14px 20px;
  -webkit-box-shadow: 5px 5px 0px 0px #1a1919;
  -moz-box-shadow: 5px 5px 0px 0px #1a1919;
  box-shadow: 5px 5px 0px 0px #1a1919; }
  .entry-content a[href*="eventbrite"]:link {
    border: 0; }
  .entry-content a[href*="eventbrite"]:hover {
    background-color: #1a1919;
    color: white; }

.entry-content p:last-child {
  margin-bottom: 0; }

/*-------------------------------------------------------------
	Links
--------------------------------------------------------------*/
a:link {
  cursor: pointer; }

.hover-light-bg:hover, .hover-light-bg:active {
  color: #1a1919; }

.hover-inverse:hover, .hover-inverse:active {
  background-color: #1a1919; }

.presented-artists a {
  border-bottom: solid 1px; }
  .presented-artists a:hover {
    border-bottom: none; }

/*-------------------------------------------------------------
	Elements & Typographic Modules
--------------------------------------------------------------*/
hr {
  border: none;
  border-color: #1a1919;
  border-top: solid 1px;
  display: block;
  margin: 3em 0 1em; }

.button, .post-edit-link {
  border: solid 1px #1a1919;
  display: block;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
  padding: 0 20px; }
  .button:hover, .post-edit-link:hover {
    background-color: white;
    color: #1a1919; }

.post-edit-link {
  margin: 20px 0;
  text-align: center; }

input {
  background-color: transparent;
  border: solid 1px #1a1919;
  color: #1a1919;
  min-height: 50px;
  outline: none;
  text-transform: uppercase;
  width: 100%; }

input[type="submit"] {
  cursor: pointer; }

input:focus,
input:hover {
  outline: none;
  background-color: #cccccc; }

input[type="submit"].light-bg:hover {
  outline: none;
  background-color: white; }

::-webkit-input-placeholder {
  color: #1a1919; }

:-ms-input-placeholder {
  color: #1a1919; }

:-moz-placeholder {
  color: #1a1919; }

::-moz-placeholder {
  color: #1a1919; }

.multiple-choice {
  border: 0;
  color: #999999;
  display: inline-block;
  margin-left: 1.5em; }
  .multiple-choice:before {
    content: " ";
    display: inline-block;
    background-color: transparent;
    border: solid 1px #999999;
    border-radius: 0.5em;
    border-radius: 50%;
    float: left;
    left: 0;
    position: absolute;
    height: 1em;
    width: 1em; }
  .multiple-choice:visited {
    color: #999999; }
  .multiple-choice:hover, .multiple-choice:active, .multiple-choice.active {
    color: #1a1919; }
    .multiple-choice:hover:before, .multiple-choice:active:before, .multiple-choice.active:before {
      border: 0;
      background-color: #cccccc; }

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Layout
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*-------------------------------------------------------------
	Keep the footer at the bottom of the page
	http://www.wentsch.me/responsive-sticky-footer-flexible-height
--------------------------------------------------------------*/
html, body {
  height: 100%; }

body {
  background-color: white;
  display: table;
  width: 100%;
  /* Fix for Firefox and IE to keep correct max-width behaviour on images: */
  table-layout: fixed; }

.page-row {
  display: table-row;
  height: 1px; }

.page-row-expanded {
  height: 100%; }

/*-------------------------------------------------------------
	Containers
--------------------------------------------------------------*/
.wrapper {
  margin: 0 auto;
  padding: 0 3.5%; }

#content {
  padding: 0 0 80px; }
  #content.module-container {
    padding: 0; }

.page-header,
.section-header {
  margin-top: 20px;
  margin-bottom: 70px; }

.entry-content {
  margin: 0 auto; }

.module {
  border-top: solid 1px #1a1919;
  padding-bottom: 80px; }
  .module:first-of-type {
    border-top: none; }

/*-------------------------------------------------------------
	Temporarily Hide Overflow
--------------------------------------------------------------*/
html, body {
  max-width: 100% !important;
  overflow-x: hidden !important; }

.wrapper {
  min-width: 1000px;
  overflow: hidden; }

/*-------------------------------------------------------------
	Columns
--------------------------------------------------------------*/
.column {
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 20px 0 0;
  position: relative; }
  .column.no-padding {
    padding: 0; }
  .column.float-right {
    float: right; }

.quarter {
  width: 25%; }

.quarter-2 {
  width: 50%; }

.quarter-3 {
  width: 75%; }

.fifth {
  width: 20%; }

.fifth-2 {
  width: 40%; }

.fifth-3 {
  width: 60%; }

.fifth-4 {
  width: 80%; }

.third {
  width: 33.333%; }

.third-2 {
  width: 66.666%; }

.sixth {
  width: 16.6666%; }

.sixth-5 {
  width: 83.3333%; }

.ninth {
  width: 11%; }

.ninth-2 {
  width: 22%; }

.ninth-3 {
  width: 33%; }

.ninth-4 {
  width: 44%; }

.ninth-5 {
  width: 55%; }

.ninth-6 {
  width: 66%; }

.ninth-7 {
  width: 77%; }

.ninth-8 {
  width: 88%; }

.text-columns.column-5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5; }

.text-columns.column-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4; }

.text-columns.column-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

.text-columns p, .text-columns li {
  display: inline-block;
  width: 100%;
  -webkit-column-gap: 4%;
  -moz-column-gap: 4%;
  column-gap: 4%;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  margin-right: 1em; }

figure, figcaption, img {
  display: block;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%; }

.thumbnail img {
  width: 100%; }

a:hover .thumbnail img {
  opacity: 0.4; }

/*-------------------------------------------------------------
	Header
--------------------------------------------------------------*/
#menu {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 40px;
  letter-spacing: 0.15em; }
  #menu li {
    display: inline-block;
    float: left; }
    #menu li:first-child {
      margin-left: -0.85em; }
  #menu a {
    display: block;
    padding: 0 0.85em; }
  #menu .menu-item.subtle a {
    color: #999999; }
  #menu .subtle a:hover,
  #menu .subtle.current_page_item a,
  #menu .subtle.current-menu-item a {
    color: #1a1919; }
  #menu a:hover, #menu a:active, #menu .current-menu-item a, #menu .current_page_item a {
    background-color: #cccccc;
    color: #1a1919; }

.scrolled #menu {
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 110; }

#masthead {
  padding-top: 30px;
  padding-bottom: 40px; }

#logo img, #logo h1 {
  display: inline-block; }

#logo img {
  height: 3.1em; }

#logo h1 {
  margin-left: 0.5em; }

/*-------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
#footer .wrapper {
  padding-top: 60px;
  padding-bottom: 20px; }

#coverall {
  z-index: 100; }

.footer-actions {
  margin-bottom: 30px;
  overflow: hidden; }

#search, #newsletter {
  border: solid 1px #1a1919;
  line-height: 50px; }
  #search .button, #newsletter .button {
    border: 0;
    padding: 0; }
  #search .border-right, #newsletter .border-right {
    border-right: solid 1px #1a1919; }
  #search .border-left, #newsletter .border-left {
    border-left: solid 1px #1a1919; }
  #search .primary, #newsletter .primary {
    width: 100%; }
  #search .secondary, #newsletter .secondary {
    padding: 0;
    width: 0; }

#newsletter:hover #signup-blind {
  width: 0;
  overflow: hidden; }

#search:hover .primary {
  width: 75%; }

#search:hover .secondary {
  width: 25%; }

.footer-info .narrow {
  display: none; }

.footer-info .table-cell {
  border-top: solid 1px #1a1919;
  border-left: solid 1px #1a1919;
  border-bottom: solid 1px #1a1919;
  vertical-align: top;
  padding: 8px 12px 10px; }

.footer-info .table-cell:last-child {
  border-right: solid 1px #1a1919; }

.footer-info .table-row + .table-row .table-cell {
  border-top: 0; }

.footer-info .home-link {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.25; }

.footer-info .home-link:hover {
  color: #1a1919; }

/*-------------------------------------------------------------
	Password Protected, Search, & 404 Pages
--------------------------------------------------------------*/
.shadowed, #nothing-found, .page-details, .post-password-form, #action-button:hover {
  margin-bottom: 5px;
  -webkit-box-shadow: 5px 5px 0px 0px #1a1919;
  -moz-box-shadow: 5px 5px 0px 0px #1a1919;
  box-shadow: 5px 5px 0px 0px #1a1919; }

#nothing-found, .page-details, .post-password-form {
  color: #1a1919;
  padding: 20px 25px 35px; }
  #nothing-found p, #nothing-found input, .page-details p, .page-details input, .post-password-form p, .post-password-form input {
    font-family: "Theinhardt-Regular";
    color: #1a1919; }
  #nothing-found input[type="submit"], .page-details input[type="submit"], .post-password-form input[type="submit"] {
    border-top: 0;
    margin-top: 0; }
  #nothing-found input, .page-details input, .post-password-form input {
    line-height: 50px;
    margin: 1em 0 0;
    outline: 0;
    padding: 0 20px; }
    #nothing-found input:hover, #nothing-found input:focus, #nothing-found input:active, .page-details input:hover, .page-details input:focus, .page-details input:active, .post-password-form input:hover, .post-password-form input:focus, .post-password-form input:active {
      background-color: white; }

.light-bg #nothing-found, .light-bg .page-details, .light-bg .post-password-form {
  background-color: white; }
  .light-bg #nothing-found input, .light-bg .page-details input, .light-bg .post-password-form input {
    background-color: #cccccc; }
    .light-bg #nothing-found input:hover, .light-bg #nothing-found input:focus, .light-bg #nothing-found input:active, .light-bg .page-details input:hover, .light-bg .page-details input:focus, .light-bg .page-details input:active, .light-bg .post-password-form input:hover, .light-bg .post-password-form input:focus, .light-bg .post-password-form input:active {
      background-color: white; }

#nothing-found #s, #nothing-found #searchsubmit {
  margin-top: 0; }

#nothing-found #s {
  width: 75%; }

#nothing-found #searchsubmit {
  border-left: 0;
  border-top: solid 1px #1a1919;
  width: 25%; }

.page-details {
  margin-bottom: 50px;
  padding-bottom: 20px; }
  .page-details p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1em; }

/*-------------------------------------------------------------
	News Archive
--------------------------------------------------------------*/
.news-archive article {
  margin-bottom: 40px;
  padding-right: 4%; }
  .news-archive article header {
    margin-bottom: 0.5em; }
  .news-archive article h2 {
    height: 3.45em;
    margin-top: 0.7em;
    overflow: hidden; }

/*-------------------------------------------------------------
	Modules
--------------------------------------------------------------*/
#action-button {
  border: solid 1px transparent;
  border-radius: 60px;
  border-radius: 50%;
  color: #1a1919;
  display: block;
  line-height: 120px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  bottom: 40px;
  right: 3.5%;
  z-index: 50; }
  #action-button a {
    border: 0;
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 100%; }
  #action-button.shadowed, #action-button:hover {
    margin: 0; }
  #action-button:hover {
    border-color: #1a1919; }
    #action-button:hover a {
      background-color: white;
      color: #1a1919; }

.slick-list {
  padding: 0 3.5% 0 0;
  margin-left: 3.5%; }

.slick-slider {
  margin-bottom: 0; }

.module.slideshow {
  min-height: 500px;
  /* so when we fade it in, the whole page doesn't jump */ }
  .module.slideshow.no-header {
    padding-top: 40px; }
    .module.slideshow.no-header .section-header {
      display: none; }
  .module.slideshow .slide header {
    margin-bottom: 0.5em; }
  .module.slideshow .slide img {
    margin-bottom: 15px; }
  .module.slideshow .slide p {
    padding-right: 5%; }
  .module.slideshow .nav {
    cursor: pointer;
    height: 100%;
    width: 15%;
    top: 0;
    bottom: 0;
    padding: 0 3.5%; }
    .module.slideshow .nav .arrow {
      display: block;
      width: 45px;
      height: 90px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto; }
    .module.slideshow .nav.prev {
      left: 0; }
      .module.slideshow .nav.prev .arrow {
        left: 22.5%;
        background: url(../images/154_graphics_icon_prev_light-bg.png); }
      .module.slideshow .nav.prev:hover .arrow {
        background: url(../images/154_graphics_icon_prev_dark-bg.png); }
    .module.slideshow .nav.next {
      right: 0; }
      .module.slideshow .nav.next .arrow {
        right: 22.5%;
        background: url(../images/154_graphics_icon_next_light-bg.png); }
      .module.slideshow .nav.next:hover .arrow {
        background: url(../images/154_graphics_icon_next_dark-bg.png); }

.module.big-info p {
  margin-bottom: 1em; }

.module.big-info .section-content .info-text {
  margin: 0 auto; }

.module.big-info .section-content.adverts .info-text {
  float: left; }

.module.big-info .advert {
  margin-bottom: 20px;
  height: 140px;
  width: 140px; }
  .module.big-info .advert a {
    background-color: white;
    border: none;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 100%; }
  .module.big-info .advert a:hover {
    background-color: #1a1919;
    color: white; }

.module.selected-exhibitors .exhibitor h2 {
  margin-top: 0.5em; }

.module.selected-exhibitors.archive .section-header {
  margin-bottom: 1em; }

.module.artists-exhibitors .choice {
  display: none; }
  .module.artists-exhibitors .choice.active {
    display: block; }
  .module.artists-exhibitors .choice li {
    padding-left: 1em; }
    .module.artists-exhibitors .choice li a {
      text-indent: -1em;
      display: block; }

.module.artists-exhibitors .section-content {
  line-height: 1.5; }
  .module.artists-exhibitors .section-content h2 {
    line-height: 1; }
  .module.artists-exhibitors .section-content ul li ul {
    display: inline-block;
    margin-bottom: 1em; }

.module.artists-exhibitors .hover.preview {
  z-index: 110; }
  .module.artists-exhibitors .hover.preview.text {
    max-width: 250px;
    padding: 10px 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; }
  .module.artists-exhibitors .hover.preview.image img {
    max-width: 200px;
    max-height: 200px; }

.module.forum .forum-pattern {
  background-attachment: fixed;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

.module.forum .entry-header {
  margin-top: 1em; }

.module.forum .forum-block {
  margin-bottom: 50px;
  height: 180px;
  padding-right: 4%; }
  .module.forum .forum-block a {
    border: 0;
    border-top: solid 1px;
    display: block;
    padding-right: 8%; }
  .module.forum .forum-block h2 {
    max-height: 4.4em;
    overflow: hidden; }

.white-bg .forum-pattern {
  opacity: 0.15; }

/*-------------------------------------------------------------
	Archive
--------------------------------------------------------------*/
.edition-archive .past-edition {
  padding-right: 40px; }

.edition-archive .past-edition .edition-link {
  border: none;
  display: block;
  margin-bottom: 5px;
  min-height: 200px;
  padding: 20px; }

/*-------------------------------------------------------------
	Section Anchors (single pages only)
--------------------------------------------------------------*/
.section-anchor {
  border-top: solid 1px transparent;
  display: block;
  width: 100px;
  margin-top: -120px;
  opacity: 0; }

.anchor-details {
  padding: 0 0 40px; }
  .anchor-details div {
    display: inline-block;
    padding: 10px 20px;
    text-transform: none; }

/*-------------------------------------------------------------
	Presentational Classes
--------------------------------------------------------------*/
.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden;
  opacity: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.center {
  float: none;
  margin: 0 auto; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 0; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Color
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a, a:visited {
  color: #1a1919; }

a:hover,
a:active {
  color: #cccccc; }

.dark-bg {
  background-color: #333333;
  color: white; }
  .dark-bg a, .dark-bg a:visited {
    color: white; }
  .dark-bg a:hover,
  .dark-bg a:active {
    color: #cccccc; }
  .dark-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: white;
    color: #1a1919; }
  .dark-bg .button, .dark-bg .post-edit-link {
    border-color: white; }
    .dark-bg .button:hover, .dark-bg .post-edit-link:hover {
      background-color: white;
      color: #1a1919; }
  .dark-bg .multiple-choice {
    color: #999999; }
    .dark-bg .multiple-choice:visited {
      color: #999999; }
    .dark-bg .multiple-choice:hover, .dark-bg .multiple-choice:active, .dark-bg .multiple-choice.active {
      color: white; }
  .dark-bg .light-bg {
    background-color: #cccccc;
    color: #1a1919; }
    .dark-bg .light-bg a, .dark-bg .light-bg a:visited {
      color: #1a1919; }
    .dark-bg .light-bg a:hover,
    .dark-bg .light-bg a:active {
      color: white; }
    .dark-bg .light-bg .caption, .dark-bg .light-bg .wp-caption-text {
      color: #1a1919; }
      .dark-bg .light-bg .caption a,
      .dark-bg .light-bg .caption a:visited,
      .dark-bg .light-bg .caption a:hover,
      .dark-bg .light-bg .caption a:active, .dark-bg .light-bg .wp-caption-text a,
      .dark-bg .light-bg .wp-caption-text a:visited,
      .dark-bg .light-bg .wp-caption-text a:hover,
      .dark-bg .light-bg .wp-caption-text a:active {
        color: #1a1919; }
    .dark-bg .light-bg .button, .dark-bg .light-bg .post-edit-link {
      border-color: #1a1919; }
      .dark-bg .light-bg .button:hover, .dark-bg .light-bg .post-edit-link:hover {
        background-color: white;
        color: #1a1919; }
    .dark-bg .light-bg .entry-content h3:before,
    .dark-bg .light-bg .entry-content a[href*="eventbrite"] {
      background-color: #1a1919;
      color: white; }
    .dark-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
      background-color: white;
      color: #1a1919; }
  .dark-bg .opposite-bg, .dark-bg .white-bg {
    background-color: white;
    color: #1a1919; }
    .dark-bg .opposite-bg a, .dark-bg .opposite-bg a:visited, .dark-bg .white-bg a, .dark-bg .white-bg a:visited {
      color: #1a1919; }
    .dark-bg .opposite-bg a:hover,
    .dark-bg .opposite-bg a:active, .dark-bg .white-bg a:hover,
    .dark-bg .white-bg a:active {
      color: #cccccc; }
    .dark-bg .opposite-bg .multiple-choice, .dark-bg .white-bg .multiple-choice {
      color: #999999; }
      .dark-bg .opposite-bg .multiple-choice:visited, .dark-bg .white-bg .multiple-choice:visited {
        color: #999999; }
      .dark-bg .opposite-bg .multiple-choice:hover, .dark-bg .opposite-bg .multiple-choice:active, .dark-bg .opposite-bg .multiple-choice.active, .dark-bg .white-bg .multiple-choice:hover, .dark-bg .white-bg .multiple-choice:active, .dark-bg .white-bg .multiple-choice.active {
        color: #1a1919; }

.white-bg {
  background-color: white;
  color: #1a1919; }
  .white-bg a, .white-bg a:visited {
    color: #1a1919; }
  .white-bg a:hover,
  .white-bg a:active {
    color: #cccccc; }
  .white-bg .button:hover, .white-bg .post-edit-link:hover {
    background-color: #1a1919;
    color: white; }
  .white-bg .artist-representation {
    color: #999999; }
    .white-bg .artist-representation:link, .white-bg .artist-representation:visited {
      color: #999999; }
    .white-bg .artist-representation:hover, .white-bg .artist-representation:active {
      color: #cccccc; }
  .white-bg .light-bg {
    background-color: #cccccc;
    color: #1a1919; }
    .white-bg .light-bg a, .white-bg .light-bg a:visited {
      color: #1a1919; }
    .white-bg .light-bg a:hover,
    .white-bg .light-bg a:active {
      color: white; }
    .white-bg .light-bg .caption, .white-bg .light-bg .wp-caption-text {
      color: #1a1919; }
      .white-bg .light-bg .caption a,
      .white-bg .light-bg .caption a:visited,
      .white-bg .light-bg .caption a:hover,
      .white-bg .light-bg .caption a:active, .white-bg .light-bg .wp-caption-text a,
      .white-bg .light-bg .wp-caption-text a:visited,
      .white-bg .light-bg .wp-caption-text a:hover,
      .white-bg .light-bg .wp-caption-text a:active {
        color: #1a1919; }
    .white-bg .light-bg .button, .white-bg .light-bg .post-edit-link {
      border-color: #1a1919; }
      .white-bg .light-bg .button:hover, .white-bg .light-bg .post-edit-link:hover {
        background-color: white;
        color: #1a1919; }
    .white-bg .light-bg .entry-content h3:before,
    .white-bg .light-bg .entry-content a[href*="eventbrite"] {
      background-color: #1a1919;
      color: white; }
    .white-bg .light-bg .entry-content a[href*="eventbrite"]:hover {
      background-color: white;
      color: #1a1919; }
  .white-bg .opposite-bg, .white-bg .dark-bg {
    background-color: #333333;
    color: white; }
    .white-bg .opposite-bg a, .white-bg .opposite-bg a:visited, .white-bg .dark-bg a, .white-bg .dark-bg a:visited {
      color: white; }
    .white-bg .opposite-bg a:hover,
    .white-bg .opposite-bg a:active, .white-bg .dark-bg a:hover,
    .white-bg .dark-bg a:active {
      color: #cccccc; }

.artist-representation {
  color: #999999; }
  .artist-representation:link, .artist-representation:visited {
    color: #999999; }
  .artist-representation:hover, .artist-representation:active {
    color: #cccccc; }

.light-bg {
  background-color: #cccccc;
  color: #1a1919; }
  .light-bg a, .light-bg a:visited {
    color: #1a1919; }
  .light-bg a:hover,
  .light-bg a:active {
    color: white; }
  .light-bg .caption, .light-bg .wp-caption-text {
    color: #1a1919; }
    .light-bg .caption a,
    .light-bg .caption a:visited,
    .light-bg .caption a:hover,
    .light-bg .caption a:active, .light-bg .wp-caption-text a,
    .light-bg .wp-caption-text a:visited,
    .light-bg .wp-caption-text a:hover,
    .light-bg .wp-caption-text a:active {
      color: #1a1919; }
  .light-bg .button, .light-bg .post-edit-link {
    border-color: #1a1919; }
    .light-bg .button:hover, .light-bg .post-edit-link:hover {
      background-color: white;
      color: #1a1919; }
  .light-bg .entry-content h3:before,
  .light-bg .entry-content a[href*="eventbrite"] {
    background-color: #1a1919;
    color: white; }
  .light-bg .entry-content a[href*="eventbrite"]:hover {
    background-color: white;
    color: #1a1919; }

.entry-content h3:before, .entry-content a[href*="eventbrite"], .hover-light-bg:hover, #nothing-found, .page-details, .post-password-form, #action-button, a:hover .thumbnail {
  background-color: #cccccc; }

.slide a:hover p, .slide a:hover p {
  color: #cccccc; }
