/*

Custom editor styles for 1-54 theme

*/

@import "setup/reset"; 
@import "setup/mixins";
@import "setup/defaults";
@import "setup/variables"; 
@import "layout/images";
@import "typography/fonts";

$font_sans : "theinhardt_reg";
$font_sans_italic : "theinhardt_reg_ital";
$font_sans_med : "theinhardt_med";
$font_sans_med_italic : "theinhardt_med_ital";

$font_serif : Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;

$fake_edition_light : deepPink;

body#tinymce.wp-editor.wp-autoresize {
	padding-top: 3.5% !important;
	padding-bottom: 1px !important;
	padding-left: 3.5% !important;
	padding-right: 3.5% !important;
}

body#tinymce.wp-editor {
	color: $black;
	font-family: $font_sans;
	font-size: 15px; // rem on body is buggy in chrome :(
	line-height: 1.35;
	letter-spacing: 0.04em;

	a, a:visited { color: $black; }
	a:hover,
	a:active { 
		color: $fake_edition_light; 
		cursor: pointer;
	}

	hr {
		border: none;
		border-color: $black;
		border-top: solid $rule_thickness;
		display: block;
		margin: 3em 0 1em;
	}

	p, ol, ul {
		font-family: $font_serif;
		font-size: 18px;
		letter-spacing: 0;
		line-height: 1.3;
		margin-bottom: 1em;

		em { font-style: oblique; }
		b, strong { font-style: bold; }

	}

	.captions
	, .wp-caption
	, .wp-caption-text
	, .wp-caption-dd {
		color: $gray;
		font-family: $font_sans;
		font-size: 16px;
		letter-spacing: 0.02em;
		line-height: 1.2;
		margin: 1em 0;
		padding: 0;
		text-align: left;

		em {
			font-style: normal;
			font-family: $font_sans_italic;
		}
		b, strong {
			font-style: normal;
			font-family: $font_sans_med;
		}
	}

	h1, h2 {
		font-family: $font_sans;
		@include font-size(2.8);
		letter-spacing: 0.02em;
		line-height: 1.15;	
	}
	h1 {
		border-top: solid $rule_thickness;
		letter-spacing: 0.03em;
		margin: 2.5em 0 1.5em;
		padding-top: 0.5em;
	}
	h2 {
		line-height: 1.2;
		margin-bottom: 1em;
	}

	h1:first-child,
	h1 + h3 {
		margin-top: 0;
	}

	h3:before {
		background-color: $fake_edition_light;
		border-radius: 6px;
		border-radius: 50%;
		content: " ";
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-right: 1em;
		position: relative;
		top: 1px;
	}

	ul, ol, p {
		margin-bottom: 1em;

		a:link { 
			border-bottom: solid 1px;
		}
		a:visited { 
			border-bottom: solid 1px;
		}
		a:hover { 
			border-bottom: none;
		}
		a:active { 
			border-bottom: none;
		}
	}

	ul, ol {
		h2 {
			margin-bottom: 0;

			a:link { 
				border: none;
			}
			a:visited { 
				border: none;
			}
		}
	}

	ol {
		counter-reset: item;
		margin-left: 2em;
		
		li:before {
			display: inline-block;
			content: counter(item) ".";
			counter-increment: item;
			margin-left: -2em;
			position: absolute;
		}
	}

	q, 
	blockquote {
		display: block;
		margin-left: 2em;
		margin-right: 2em;
		margin-bottom: 1em;
	}

	div, 
	embed,
	figure,
	figcaption,
	iframe,
	.entry-caption {
		margin: 0;
		padding: 0;
		max-width: 100%;
		width: auto !important;
	}
	img {
		margin: 0 auto;
		width: 100% !important;
		height: auto !important;
	}
		img + p {
			margin-top: 1em;
		}

	[id*="attachment"] {
		margin-bottom: 1em;
		width: 100%;
		max-width: 100%;
	}

	// RSVP button
	a[href*="eventbrite"] {
		color: $black;
		font-family: $font_sans;
		font-size: 15px; // rem on body is buggy in chrome :(
		line-height: 1.35;
		letter-spacing: 0.04em;
		background-color: $fake_edition_light;
		display: inline-block;
		margin-bottom: 5px;
		padding: 14px 20px;
		-webkit-box-shadow: 5px 5px 0px 0px $black;
		   -moz-box-shadow: 5px 5px 0px 0px $black;
		        box-shadow: 5px 5px 0px 0px $black;

		&:link {
			border: 0;
		}

		&:hover {
			background-color: $black;
			color: $white;
			// -webkit-box-shadow: none;
			//    -moz-box-shadow: none;
			//         box-shadow: none;
		}
	}
}