/*

Custom editor styles for 1-54 theme

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_s_backboneize_in_s_backboneafari_for_ios_without_disabling_user_zoom/ */ }

body {
  background-color: #FFFFFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:link {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clears floated elements */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility;
  /* kerning */ }

figure, figcaption, img {
  display: block;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%; }

.thumbnail img {
  width: 100%; }

a:hover .thumbnail img {
  opacity: 0.4; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 22, 2015 */
@font-face {
  font-family: "theinhardt_reg";
  src: url("../fonts/theinhardt-regular-webfont.eot");
  src: url("../fonts/theinhardt-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-regular-webfont.woff2") format("woff2"), url("../fonts/theinhardt-regular-webfont.woff") format("woff"), url("../fonts/theinhardt-regular-webfont.ttf") format("truetype"), url("../fonts/theinhardt-regular-webfont.svg#theinhardtregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "theinhardt_reg_ital";
  src: url("../fonts/theinhardt-regularita-webfont.eot");
  src: url("../fonts/theinhardt-regularita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-regularita-webfont.woff2") format("woff2"), url("../fonts/theinhardt-regularita-webfont.woff") format("woff"), url("../fonts/theinhardt-regularita-webfont.ttf") format("truetype"), url("../fonts/theinhardt-regularita-webfont.svg#theinhardtregular_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "theinhardt_med";
  src: url("../fonts/theinhardt-medium-webfont.eot");
  src: url("../fonts/theinhardt-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-medium-webfont.woff2") format("woff2"), url("../fonts/theinhardt-medium-webfont.woff") format("woff"), url("../fonts/theinhardt-medium-webfont.ttf") format("truetype"), url("../fonts/theinhardt-medium-webfont.svg#theinhardtmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "theinhardt_med_ital";
  src: url("../fonts/theinhardt-mediumita-webfont.eot");
  src: url("../fonts/theinhardt-mediumita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardt-mediumita-webfont.woff2") format("woff2"), url("../fonts/theinhardt-mediumita-webfont.woff") format("woff"), url("../fonts/theinhardt-mediumita-webfont.ttf") format("truetype"), url("../fonts/theinhardt-mediumita-webfont.svg#theinhardtmedium_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

body#tinymce.wp-editor.wp-autoresize {
  padding-top: 3.5% !important;
  padding-bottom: 1px !important;
  padding-left: 3.5% !important;
  padding-right: 3.5% !important; }

body#tinymce.wp-editor {
  color: #1a1919;
  font-family: "theinhardt_reg";
  font-size: 15px;
  line-height: 1.35;
  letter-spacing: 0.04em; }
  body#tinymce.wp-editor a, body#tinymce.wp-editor a:visited {
    color: #1a1919; }
  body#tinymce.wp-editor a:hover,
  body#tinymce.wp-editor a:active {
    color: deepPink;
    cursor: pointer; }
  body#tinymce.wp-editor hr {
    border: none;
    border-color: #1a1919;
    border-top: solid 1px;
    display: block;
    margin: 3em 0 1em; }
  body#tinymce.wp-editor p, body#tinymce.wp-editor ol, body#tinymce.wp-editor ul {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 1em; }
    body#tinymce.wp-editor p em, body#tinymce.wp-editor ol em, body#tinymce.wp-editor ul em {
      font-style: oblique; }
    body#tinymce.wp-editor p b, body#tinymce.wp-editor p strong, body#tinymce.wp-editor ol b, body#tinymce.wp-editor ol strong, body#tinymce.wp-editor ul b, body#tinymce.wp-editor ul strong {
      font-style: bold; }
  body#tinymce.wp-editor .captions
, body#tinymce.wp-editor .wp-caption
, body#tinymce.wp-editor .wp-caption-text
, body#tinymce.wp-editor .wp-caption-dd {
    color: #999999;
    font-family: "theinhardt_reg";
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin: 1em 0;
    padding: 0;
    text-align: left; }
    body#tinymce.wp-editor .captions
em, body#tinymce.wp-editor .wp-caption
em, body#tinymce.wp-editor .wp-caption-text
em, body#tinymce.wp-editor .wp-caption-dd em {
      font-style: normal;
      font-family: "theinhardt_reg_ital"; }
    body#tinymce.wp-editor .captions
b, body#tinymce.wp-editor .captions
strong, body#tinymce.wp-editor .wp-caption
b, body#tinymce.wp-editor .wp-caption
strong, body#tinymce.wp-editor .wp-caption-text
b, body#tinymce.wp-editor .wp-caption-text
strong, body#tinymce.wp-editor .wp-caption-dd b, body#tinymce.wp-editor .wp-caption-dd strong {
      font-style: normal;
      font-family: "theinhardt_med"; }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor h2 {
    font-family: "theinhardt_reg";
    font-size: 28px;
    font-size: 2.8rem;
    letter-spacing: 0.02em;
    line-height: 1.15; }
  body#tinymce.wp-editor h1 {
    border-top: solid 1px;
    letter-spacing: 0.03em;
    margin: 2.5em 0 1.5em;
    padding-top: 0.5em; }
  body#tinymce.wp-editor h2 {
    line-height: 1.2;
    margin-bottom: 1em; }
  body#tinymce.wp-editor h1:first-child,
  body#tinymce.wp-editor h1 + h3 {
    margin-top: 0; }
  body#tinymce.wp-editor h3:before {
    background-color: deepPink;
    border-radius: 6px;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 1em;
    position: relative;
    top: 1px; }
  body#tinymce.wp-editor ul, body#tinymce.wp-editor ol, body#tinymce.wp-editor p {
    margin-bottom: 1em; }
    body#tinymce.wp-editor ul a:link, body#tinymce.wp-editor ol a:link, body#tinymce.wp-editor p a:link {
      border-bottom: solid 1px; }
    body#tinymce.wp-editor ul a:visited, body#tinymce.wp-editor ol a:visited, body#tinymce.wp-editor p a:visited {
      border-bottom: solid 1px; }
    body#tinymce.wp-editor ul a:hover, body#tinymce.wp-editor ol a:hover, body#tinymce.wp-editor p a:hover {
      border-bottom: none; }
    body#tinymce.wp-editor ul a:active, body#tinymce.wp-editor ol a:active, body#tinymce.wp-editor p a:active {
      border-bottom: none; }
  body#tinymce.wp-editor ul h2, body#tinymce.wp-editor ol h2 {
    margin-bottom: 0; }
    body#tinymce.wp-editor ul h2 a:link, body#tinymce.wp-editor ol h2 a:link {
      border: none; }
    body#tinymce.wp-editor ul h2 a:visited, body#tinymce.wp-editor ol h2 a:visited {
      border: none; }
  body#tinymce.wp-editor ol {
    counter-reset: item;
    margin-left: 2em; }
    body#tinymce.wp-editor ol li:before {
      display: inline-block;
      content: counter(item) ".";
      counter-increment: item;
      margin-left: -2em;
      position: absolute; }
  body#tinymce.wp-editor q,
  body#tinymce.wp-editor blockquote {
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em; }
  body#tinymce.wp-editor div,
  body#tinymce.wp-editor embed,
  body#tinymce.wp-editor figure,
  body#tinymce.wp-editor figcaption,
  body#tinymce.wp-editor iframe,
  body#tinymce.wp-editor .entry-caption {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: auto !important; }
  body#tinymce.wp-editor img {
    margin: 0 auto;
    width: 100% !important;
    height: auto !important; }
  body#tinymce.wp-editor img + p {
    margin-top: 1em; }
  body#tinymce.wp-editor [id*="attachment"] {
    margin-bottom: 1em;
    width: 100%;
    max-width: 100%; }
  body#tinymce.wp-editor a[href*="eventbrite"] {
    color: #1a1919;
    font-family: "theinhardt_reg";
    font-size: 15px;
    line-height: 1.35;
    letter-spacing: 0.04em;
    background-color: deepPink;
    display: inline-block;
    margin-bottom: 5px;
    padding: 14px 20px;
    -webkit-box-shadow: 5px 5px 0px 0px #1a1919;
    -moz-box-shadow: 5px 5px 0px 0px #1a1919;
    box-shadow: 5px 5px 0px 0px #1a1919; }
    body#tinymce.wp-editor a[href*="eventbrite"]:link {
      border: 0; }
    body#tinymce.wp-editor a[href*="eventbrite"]:hover {
      background-color: #1a1919;
      color: white; }
