@font-face {
    font-family: "Charter";
    src: url('../fonts/charter/34E836_0_0.eot');
    src: url('../fonts/charter/34E836_0_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/charter/34E836_0_0.woff2') format('woff2'),
        url('../fonts/charter/34E836_0_0.woff') format('woff'),
        url('../fonts/charter/34E836_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Charter_italic";
    src: url('../fonts/charter/34E836_1_0.eot');
    src: url('../fonts/charter/34E836_1_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/charter/34E836_1_0.woff2') format('woff2'),
        url('../fonts/charter/34E836_1_0.woff') format('woff'),
        url('../fonts/charter/34E836_1_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



// Theinhardt
$font_sans : "PxGroteskLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font_sans_italic : "PxGroteskLightItalic", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font_sans_med : "PxGroteskBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font_sans_med_italic : "PxGroteskBoldItalic", Arial, "Helvetica Neue", Helvetica, sans-serif;

// Palatino
//$font_serif : 'Charter', Palatino, "Palatino Linotype", "Palatino LT STD", Times, "Times New Roman", serif;
$font_serif : "PxGroteskLight", Arial, "Helvetica Neue", Helvetica, sans-serif; 

html {
	font-size: 10px;
	font-size: 62.5%;
}

body, .sans {
	color: $black;
	font-family: $font_sans;
	font-size: 15px; // rem on body is buggy in chrome :(
	line-height: 1.35;
	//letter-spacing: 0.04em;
}


/*-------------------------------------------------------------
	Text Sizes & Styles

	NOTES

(captions) 15/20 : 	Captions
(small)    16/22 : 	Artist list
(sans)     20/26 : 	Palatino
(med)      24/26 : 	interior pages locations
(large)    28/32 :	home page section headings, 
								interior pages big text, 
								home page locations
(x-large)  36/40 : 	single page titles, 
								big text slideshow module, 
								forum module
(xx-large) 40/48 : 	home page about

--------------------------------------------------------------*/

// keep text together
.keep { white-space: nowrap; }
// fake line-breaks
.break { display: block; }

.tracked-out { 
	letter-spacing: 0em; 
}

.serif {
	font-family: $font_serif;
	@include font-size(2);
	//letter-spacing: 0.01em;
	line-height: 1.3;

	
	b, strong { font-style: bold; }

}
em { 
	//font-style: oblique; 
	font-family: $font_sans_italic;
}

h1,h2,h3,h4,h5,h6,strong, b {
	em {
		font-family: $font_sans_med_italic;
	}
}

.text-tiny-caps {
	font-family: $font_sans;
	@include font-size(1.2);
	@extend .tracked-out;
	text-transform: uppercase;
}

h3 {
	@extend .text-tiny-caps;
	@include font-size(1.4);
	letter-spacing: 0.3em;
	line-height: 1.9;
	margin-top: 3.5em;
}

.caption, 
.wp-caption-text {
	color: $gray;
	font-family: $font_sans;
	@include font-size(1.6);
	letter-spacing: 0.02em;
	line-height: 1.2;
	margin-top: 0.5em;
	margin-bottom: 2em;

	em {
		font-family: $font_sans_italic;
		font-style: italic;
	}
	b, strong {
		font-style: normal;
		font-family: $font_sans_med;
	}

}


// artist list
.small-text {
	@include font-size(1.7);
	line-height: 1.4;
}

// interior pages locations
.medium-text {
	@include font-size(2.4);
	line-height: 1.1;
}

// home page section headings, 
// interior pages big text, 
// home page locations
.large-text {
	font-family: $font_sans;
	@include font-size(2.8);
	//letter-spacing: 0.02em;
	line-height: 1.15;	
}

// single page titles, 
// big text slideshow module, 
// forum module
.x-large-text {
	font-family: $font_sans;
	@include font-size(3.6);
	//letter-spacing: 0.02em;
	line-height: 1.1;	
}

// home page about
.xx-large-text {
	font-family: $font_sans;
	@include font-size(4);
	//letter-spacing: 0.025em;
	line-height: 1.2;	
}

// archive links
.giant-text {
	@include font-size(6);
	line-height: 1.1;
}

@media only screen and (max-width : 750px) {
	.x-large-text
	, .xx-large-text {
		@include font-size(3.2);
	}
}
@media only screen and (max-width : 600px) {
	.x-large-text
	, .xx-large-text {
		@include font-size(3.0);
	}
	.large-text {
		@include font-size(2.4);
	}
}


/*-------------------------------------------------------------
	Entry / Page / Post Content
--------------------------------------------------------------*/


.entry-title {
	//letter-spacing: 1.5px;
	text-transform: uppercase;
	font-family: $font_sans_med;
}

.entry-meta {
	p {
		margin-bottom: 1em;
	}
	a {
		border-bottom: solid $rule_thickness;

		&:hover, &:active {
			border: none;
		}

	}
}
.entry-content {

	h1, h2 {
		@extend .large-text;
	}
	h1 {
		border-top: solid $rule_thickness;
		//letter-spacing: 0.03em;
		margin: 2.5em 0 1.5em;
		padding-top: 0.5em;
	}
	h2 {
		line-height: 1.2;
		margin-bottom: 1em;
	}

	h1:first-child,
	h1 + h3 {
		margin-top: 0;
	}

	h3:before {
		// border-radius: 6px;
		// border-radius: 50%;
		// content: " ";
		// display: inline-block;
		// width: 12px;
		// height: 12px;
		// margin-right: 1em;
		// position: relative;
		// top: 1px;
	}

	ul, ol, p {
		margin-bottom: 1em;

		a:link { 
			border-bottom: solid 1px;
		}
		a:visited { 
			border-bottom: solid 1px;
		}
		a:hover { 
			border-bottom: none;
		}
		a:active { 
			border-bottom: none;
		}
	}

	ul, ol {
		h2 {
			margin-bottom: 0;

			a:link { 
				border: none;
			}
			a:visited { 
				border: none;
			}
		}
	}

	ol {
		counter-reset: item;
		margin-left: 2em;
		
		li:before {
			display: inline-block;
			content: counter(item) ".";
			counter-increment: item;
			margin-left: -2em;
			position: absolute;
		}
	}

	q, 
	blockquote {
		display: block;
		margin-left: 2em;
		margin-right: 2em;
		margin-bottom: 1em;
	}

	div, 
	embed,
	figure,
	figcaption,
	.entry-caption {
		margin: 0;
		padding: 0;
		max-width: 100%;
		width: auto !important;
	}
	figcaption,
	.caption, 
	.wp-caption-text {
		margin: 0.5em 0 2em;
	}

	img {
		margin: 0 auto;
		width: 100% !important;
		height: auto !important;

		&.size-medium {
			margin-left: 0 !important;
			width: 50% !important;
			max-width: 300px;
		}

		&.size-thumbnail {
			margin-left: 0 !important;
			width: 25% !important;
			max-width: 150px;
		}

	}
		img + p {
			margin-top: 1em;
		}

	// RSVP button
	a[href*="eventbrite"] {
		@extend .sans;
		border: 1px solid #000 !important;
		background-color: transparent;
		display: inline-block;
		margin-bottom: 5px;
		padding: 14px 20px;

		&:link {
			border: 0;
		}

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	p[style*="justify"] {
		text-align: left !important;
	}
	p:last-child {
		margin-bottom: 0;
	}

}


/*-------------------------------------------------------------
	Links
--------------------------------------------------------------*/

a:link {
	cursor: pointer;
}

.hover-light-bg {
	&:hover
	, &:active {
		color: $black;
	}
}

.hover-inverse {
	&:hover
	, &:active {
		background-color: $black;
	}
}

.presented-artists a {
	border-bottom: solid $rule_thickness;

	&:hover {
		border-bottom: none;
	}

}

/*-------------------------------------------------------------
	Elements & Typographic Modules
--------------------------------------------------------------*/

hr {
	border: none;
	border-color: $black;
	border-top: solid $rule_thickness;
	display: block;
	margin: 3em 0 1em;
}


.button, .post-edit-link {
	border: solid $rule_thickness $black;
	display: block;
	@extend .text-tiny-caps;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	padding: 0 20px;

	// & + .button,
	// & + .post-edit-link { }

	&:hover {
		background-color: $white;
		// border: solid $rule_thickness $black;
		color: $black;
	}

}
	.post-edit-link {
		margin: 20px 0;
		text-align: center;
	}

input {
	background-color: transparent;
	border: solid $rule_thickness $black;
	color: $black;
	@extend .text-tiny-caps;
	min-height: 50px;
	outline: none;
	text-transform: uppercase;
	width: 100%;
}
	input[type="submit"] {
		cursor: pointer;
	}
	input:focus , 
	input:hover {
		outline: none;
		background-color: $edition_light;
	}	
	input[type="submit"].light-bg:hover {
		outline: none;
		background-color: $white;
	}

::-webkit-input-placeholder { color: $black; }
     :-ms-input-placeholder { color: $black; }
          :-moz-placeholder { color: $black; }
         ::-moz-placeholder { color: $black; }

.multiple-choice {
	border: 0;
	color: $gray;
	display: inline-block;
	margin-left: 1.5em;

	// &:before {
	// 	content: " ";
	// 	display: inline-block;
	// 	background-color: transparent;
	// 	border: solid $rule_thickness $gray;
	// 	border-radius: 0.5em;
	// 	border-radius: 50%;
	// 	float: left;
	// 	left: 0;
	// 	position: absolute;
	// 	height: 1em;
	// 	width: 1em;
	// }

	&:visited {
		color: $gray;
	}
	&:hover,
	&:active,
	&.active {
		color: #ef4c4b;
		border-bottom: 2px solid #ef4c4b;

		// &:before {
		// 	border: 0;
		// 	background-color: $edition_light;
		// }
	}

}
