*,
*:before,
*:after { 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Clears floated elements */
.clear:before, 
.clear:after { content: ' '; display: table; }
.clear:after { clear: both; }
.clear { *zoom: 1; }

/* Improve font rendering, especially in Chrome */
*,
*:after,
*:before {
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering:optimizeLegibility; /* kerning */
}