.light-bg {
	background-color: $edition_light;
	color: $black;

	a, a:visited { color: $black; }
	a:hover,
	a:active { 
		color: $white; 
	}

	.caption, .wp-caption-text {
		color: $black;

		a, 
		a:visited,
		a:hover,
		a:active { 
			color: $black;
		}
	}

	.button, .post-edit-link {
		border-color: $black;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}

	.entry-content h3:before,
	.entry-content a[href*="eventbrite"] {
		background-color: $black;
		color: $white;
	}
		.entry-content a[href*="eventbrite"]:hover {
			background-color: $white;
			color: $black;
		}

}