a, a:visited { color: $black; }
a:hover,
a:active { 
	color: $edition_light; 
}

.dark-bg {
	background-color: $edition_dark;
	color: $white;

	a, a:visited { color: $white; }
	a:hover,
	a:active { 
		color: $edition_light; 
	}

	.entry-content a[href*="eventbrite"]:hover {
		background-color: $white;
		color: $black;
	}

	.button, .post-edit-link {
		border-color: $white;

		&:hover {
			background-color: $white;
			color: $black;
		}

	}

	.multiple-choice {
		color: $gray;

		&:visited {
			color: $gray;
		}
		&:hover,
		&:active,
		&.active {
			color: $white;
		}
	}

	@import "light-bg";

	.opposite-bg, .white-bg {
		background-color: $white;
		color: $black;

		a, a:visited { color: $black; }
		a:hover,
		a:active { 
			color: $edition_light; 
		}

		.multiple-choice {
			color: $gray;

			&:visited {
				color: $gray;
			}
			&:hover,
			&:active,
			&.active {
				color: $black;
			}
		}

	}

}


.white-bg {
	background-color: $white;
	color: $black;

	a, a:visited { color: $black; }
	a:hover,
	a:active { 
		color: $edition_light; 
	}

	.button, .post-edit-link {
		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	.artist-representation {
		color: $gray;
		
		&:link
		, &:visited {
			color: $gray;			
		}
		&:hover
		, &:active {
			color: $edition_light;
		}
	}

	@import "light-bg";

	.opposite-bg, .dark-bg {
		background-color: $edition_dark;
		color: $white;
		
		a, a:visited { color: $white; }
		a:hover,
		a:active { 
			color: $edition_light; 
		}
	}

}

.artist-representation {
	color: $gray;
	
	&:link
	, &:visited {
		color: $gray;			
	}
	&:hover
	, &:active {
		color: $edition_light;
	}
}

@import "light-bg";

.entry-content h3:before
, .entry-content a[href*="eventbrite"]
, .hover-light-bg:hover
, #nothing-found
, .page-details
, .post-password-form
, #action-button
, a:hover .thumbnail {
	background-color: $edition_light;
}

.slide a:hover p 
, .slide a:hover p {
	color: $edition_light;
}